<template>
    <div>

        <div v-for="(block, i) in blocks" class="box blocks-in-loop" :class="'block-in-loop-id-' + i" :block-position="i">

            <template v-if="block.type == 'left-image-right-html-block'">
                <left-image-right-html-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :uploadedImages="computedUploadedImages"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @updateAssetImages="handleUpdateAssetImages"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></left-image-right-html-block>
            </template>

            <template v-if="block.type == 'left-html-right-image-block'" :index="i">
                <left-html-right-image-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :uploadedImages="computedUploadedImages"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @updateAssetImages="handleUpdateAssetImages"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></left-html-right-image-block>
            </template>

            <template v-if="block.type == 'sponsor-block'" :index="i">
                <sponsor-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :uploadedImages="computedUploadedImages"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @updateAssetImages="handleUpdateAssetImages"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></sponsor-block>
            </template>

            <template v-if="block.type == 'map-block'" :index="i">
                <map-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></map-block>
            </template>

            <template v-if="block.type == 'full-html-block'" :index="i">
                <full-html-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></full-html-block>
            </template>

            <template v-if="block.type == 'faq-block'" :index="i">
                <faq-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></faq-block>
            </template>

            <template v-if="block.type == 'link-block'" :index="i">
                <link-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :uploadedImages="computedUploadedImages"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @updateAssetImages="handleUpdateAssetImages"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></link-block>
            </template>

            <template v-if="block.type == 'download-block'" :index="i">
                <download-block
                        :extData="block.data"
                        :index="i"
                        :tabId="block.tab_id"
                        :id="block.id"
                        :assetFiles="assetFiles"
                        :uploadedImages="computedUploadedImages"
                        :shouldUpdateIndex="updateIndexesInc"
                        @blockChanged="handleChange"
                        @updateAssetImages="handleUpdateAssetImages"
                        @removeBlock="handleRemoveBlock"
                        @updateBlockIndexes="handleUpdateBlockIndexes"
                ></download-block>
            </template>

        </div>

    </div>
</template>


<script>

    import redirect from '../redirect'
    import valueOrEmpty from '../valueOrEmpty'
    import timeFunctions from '../timeFunctions'
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';

    import leftImageRightHtmlBlock from './page-constructor-blocks/left-image-right-html-block.vue'
    import leftHtmlRightImageBlock from './page-constructor-blocks/left-html-right-image-block.vue'
    import sponsorBlock from './page-constructor-blocks/sponsor-block.vue'
    import mapBlock from './page-constructor-blocks/map-block.vue'
    import fullHtmlBlock from './page-constructor-blocks/full-html-block.vue'
    import faqBlock from './page-constructor-blocks/faq-block.vue'
    import linkBlock from './page-constructor-blocks/link-block.vue'
    import downloadBlock from './page-constructor-blocks/download-block.vue'

    export default {
        mixins: [redirect, valueOrEmpty, timeFunctions],
        components: {
            'left-image-right-html-block': leftImageRightHtmlBlock,
            'left-html-right-image-block': leftHtmlRightImageBlock,
            'sponsor-block': sponsorBlock,
            'map-block': mapBlock,
            'full-html-block': fullHtmlBlock,
            'faq-block': faqBlock,
            'link-block': linkBlock,
            'download-block': downloadBlock,
        },
        data: function(){
            return {
                blockInLoopData: {},
                updateIndexesInc: 0
            };
        },
        methods: {
            handleChange: function(value){
                this.blockInLoopData[value.index] = value;
                this.$emit('emitBlockLoopData', {data:this.blockInLoopData, tab_id: this.tabId})
            },
            handleUpdateAssetImages: function (value) {
                this.$emit('updateAssetImages', true);
            },
            handleRemoveBlock: function(blockData)
            {
                this.$emit('removeBlock', blockData)
            },
            handleUpdateBlockIndexes: function(update)
            {
                this.updateIndexesInc++;
            }
        },
        props: ['blocks', 'uploadedImages', 'assetFiles', 'tabId'],
        computed: {
            computedUploadedImages: function()
            {
                return this.uploadedImages;
            }
        },
        watch: {},
        created: function(){},
        mounted: function(){}
    }

</script>