<template>
    <div>

        <div class="alert alert-danger alert-dismissible" v-if="imageErrorText.length > 0" role="alert">
            <strong><h4>Error</h4></strong>
            <div v-html="imageErrorText"></div>
        </div>

        <div class="box" v-if="!disablePageType">
            <div class="box-header with-border">
                <h3 class="box-title">Choose Page Type</h3>
            </div>

            <div class="box-body">
                <div class="col-lg-6">
                    <select v-model="selectedPageType" class="form-control">
                        <option v-for="pageType in pageTypes" :value="pageType.val">{{ pageType.name }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="box" v-if="selectedPageType != 0">
            <div class="box-header with-border">
                <div class="col-lg-6">
                    <h3 class="box-title">Page</h3>
                </div>
            </div>

            <div class="box-body">
                <div class="col-lg-4 form-group">
                    <p><strong>Page Title</strong></p>
                    <input v-model="pageTitle" class="form-control">
                </div>
                <div class="col-lg-4 form-group">
                    <p><strong>Page Slug </strong><small>(leave empty, and it will be generated automatically from page title)</small></p>
                    <input v-model="pageSlug" class="form-control">
                </div>
                <div class="col-lg-4 form-group">
                    <p><strong>Published</strong></p>
                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs pull-left">
                        <label>
                            <input type="checkbox" v-model="isPublished" :checked="isPublished">
                            <span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-4 form-group">
                    <p><strong>Parent Page</strong></p>
                    <select v-model="parentPageId" class="form-control">
                        <option v-for="(page, i) in parentPageList"
                                :value="page.id">{{page.title}}</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <p><strong>Subheading</strong></p>
                    <text-area-html-allowed :extData="pageSubHeading" @changetextarea="handleSubPageHeading"></text-area-html-allowed>
                </div>
            </div>
        </div>

        <div class="box box-page-meta" v-if="selectedPageType != 0">
            <div class="box-header with-border">
                <h3 class="box-title">Page Meta</h3>
            </div>

            <div class="box-body">
                <div class="col-lg-6 form-group">
                    <p>Meta Title <small>(This is combined with the global meta title to create the page title)</small></p>
                    <input v-model="metaData.meta_title" class="form-control">
                </div>

                <div class="col-lg-6 form-group">
                    <p>Meta Description <small>(If no description is entered the global meta description will be used)</small></p>
                    <input v-model="metaData.meta_description" class="form-control">
                </div>


                <div class="col-lg-3 form-group ">
                    <p>Navigation Label</p>
                    <input v-model="metaData.navigation_label" class="form-control">
                </div>
                <div class="col-lg-3 form-group">
                    <p>Navigation Order</p>
                    <input v-model="metaData.navigation_order" class="form-control">
                </div>


                <div class="col-lg-6 form-group">
                    <p>Override header image (leave blank to use global header image) </p>

                    <image-select2-with-dropzone
                            :uploadedImages="uploadedImages"
                            :selectedImageId="metaData.header_image_override"
                            @imageUploaded="handleUpdateAssetImages"
                            @imageSelected="handleOverrideHeaderImageSelected"
                    ></image-select2-with-dropzone>

                </div>
            </div>
        </div>

        <div class="box" v-if="selectedPageType == 'tabs_page' && !isTabEdited">
            <div class="box-header with-border">
                <h3 class="box-title">Add Tab</h3>
            </div>

            <div class="box-body">
                <div class="col-lg-3">
                    <input v-model="newTab" class="form-control">
                </div>
                <div class="col-lg-9">
                    <button @click="addTab" :disabled="newTab.length < 1" class="btn btn-success">Add Tab <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>


        <div class="box" v-if="selectedPageType == 'tabs_page' && isTabEdited">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Tab Title</h3>
            </div>

            <div class="box-body">
                <div class="col-lg-3">
                    <input v-model="editedTabTitle" class="form-control">
                </div>
                <div class="col-lg-9">
                    <button @click="applyTabTitleChange" :disabled="editedTabTitle.length < 1" class="btn btn-success"><i class="fa fa-check"></i> OK</button>
                    <button @click="isTabEdited = false" class="btn btn-primary"><i class="fa fa-remove"></i> Cancel</button>
                </div>
            </div>
        </div>


        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" v-if="selectedPageType == 'tabs_page'">
                <li role="presentation"
                    v-for="(tab, index) in tabLinks"
                    :class="{active: tab.index == 0}"
                >
                    <a aria-controls="home" role="tab" data-toggle="tab"
                       @click="switchTab(tab.id)"
                       :href="'#id'+tab.id"
                    >
                        <i class="fa fa-long-arrow-left" style="cursor: pointer" @click="moveTabLeft(index, tab.id)"></i>
                        &nbsp;
                        {{tab.title}}
                        &nbsp;
                        <button class="btn btn-xs btn-warning" @click="editTabTitle(index, tab.id)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-xs btn-danger" @click="onDelete(index, tab.id)"><i class="fa fa-remove"></i></button>
                        &nbsp;
                        <i class="fa fa-long-arrow-right" style="cursor: pointer" @click="moveTabRight(index, tab.id)"></i>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel"
                     class="tab-pane"
                     :class="{active: tab.id == tabLinks[0].id}"
                     v-for="(tab, index) in tabs"
                     :id="'id' + tab.id"
                >

                    <div class="box box-page-meta" v-if="selectedPageType == 'tabs_page'">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tab Link Setting</h3>
                        </div>

                        <div class="box-body">

                            <div class="col-lg-6">
                                <p><strong>Quick Link Label</strong></p>
                                <input v-model="tab.quick_link_label" class="form-control">
                            </div>

                            <div class="col-lg-6">
                                <p><strong>Quick Link Enabled</strong></p>
                                <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs pull-left">
                                    <label>
                                        <input type="checkbox" v-model="tab.quick_link_enabled" :checked="tab.quick_link_enabled">
                                        <span></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <blocks-loop
                            :blocks="tab.blocks"
                            :tabId="tab.id"
                            :uploadedImages="uploadedImages"
                            :assetFiles="uploadedFiles"
                            @updateAssetImages="handleUpdateAssetImages"
                            @emitBlockLoopData="handleBlockLoopData"
                            @removeBlock="handleRemoveBlock"
                    ></blocks-loop>

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add Block</h3>
                        </div>

                        <div class="box-body">

                            <button @click="addBlock(blockName.type)" v-for="blockName in blockNames" style="margin: 0 10px 10px 0; display: inline-block" class="btn btn-info"><span v-html="blockName.name"></span></button>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row" v-if="selectedPageType != 0">
            <div class="col-xs-12">
                <button :disabled="saveBntDisabled" @click="save" class="btn btn-primary btn-block btn-flat"><span>Save <i class="fa fa-floppy-o" aria-hidden="true"></i></span></button>
            </div>
        </div>

        <confirm-popup :message="'Are you sure to delete tab ' + editedTabTitle + ' ?'" v-if="isPopupShown" @confirm="deleteTab" @reject="isPopupShown = false"></confirm-popup>

    </div>
</template>


<script>

//    let TEST_DATA = {};

    import Form from 'acacha-forms';
    import redirect from '../redirect';
    import valueOrEmpty from '../valueOrEmpty';
    import timeFunctions from '../timeFunctions';
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';
    import imageSelect2WithDropzone from './form-partials/image-select2-with-dropzone.vue';
    import cmsFormValidator from './form-validators/cms-form-validator';
    import textAreaHtmlAllowed from './form-partials/textarea-html-allowed.vue';


    import blocksLoop from './blocks-loop.vue';

    export default {
        mixins: [redirect, valueOrEmpty, timeFunctions, cmsFormValidator],
        components: {
            'blocks-loop': blocksLoop,
            'image-select2-with-dropzone': imageSelect2WithDropzone,
            'text-area-html-allowed': textAreaHtmlAllowed,
        },
        data: function(){

            let metaData =  {
                meta_title: '',
                meta_description: '',
                header_image_override: '',
                navigation_label: '',
                navigation_order: 99
            };

            let pageTypes = [
                {val: 0, name: "-select type-"},
                {val: 'content_page', name: "Content Page Template"},
                {val: 'tabs_page', name: "Tab Page Template"},
            ];

            let blockNames = [
                {type: 'left-image-right-html-block', name: 'Left Image <i class="fa fa-file-image-o" aria-hidden="true"></i> Right HTML <i class="fa fa-code" aria-hidden="true"></i>'},
                {type: 'left-html-right-image-block', name: 'Left HTML <i class="fa fa-code" aria-hidden="true"></i> Right Image <i class="fa fa-file-image-o" aria-hidden="true"></i>'},
                {type: 'sponsor-block', name: 'Sponsor Block <i class="fa fa-id-card-o" aria-hidden="true"></i>'},
                {type: 'map-block', name: 'Map Block <i class="fa fa-map-marker" aria-hidden="true"></i>'},
                {type: 'full-html-block', name: 'Full Width HTML Block <i class="fa fa-code" aria-hidden="true"></i>'},
                {type: 'faq-block', name: 'FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i>'},
                {type: 'link-block', name: 'Link Box Block <i class="fa fa-link" aria-hidden="true"></i>'},
                {type: 'download-block', name: 'Download Box Block <i class="fa fa-download" aria-hidden="true"></i>'}
            ];

            let selectedBlocks = [];
            let uploadedImages;
            let uploadedFiles;

            return {
                selectedPageType: '',
                pageTypes,
                blockNames,
                uploadedImages,
                uploadedFiles,
                tabsToSave: {},
                pageTitle: '',
                pageSlug: '',
                tabs: [],
                newTab: '',
                activeTabId: '',
                disablePageType: false,
                saveBntDisabled: false,
                metaData: metaData,
                imageErrorText: '',
                isPublished: false,
                parentPageList: [],
                parentPageId: -1,
                pageSubHeading: '',
                isTabEdited: false,
                editedTabTitle: '',
                editedTabIndex: null,
                editedTabId: null,
                isPopupShown: false,
                tabLinks: []
            }
        },
        methods: {

            switchTab: function(tabId)
            {
                this.activeTabId = tabId;
            },

            fillBlockArr: function(type) {
                let block = {
                    type: type,
                    data: null,
                    tab_id: this.activeTabId
                };

                let currentTab = this.tabs.find(t => t.id == this.activeTabId);

                currentTab.blocks.push(block);
            },

            addTab: function()
            {
                let newTabObj = {
                    title: this.newTab,
                    blocks: [],
                    id: 'custom-id-' + this.tabs.length,
                    quick_link_enabled: false,
                    quick_link_label: '',
                };

                this.tabLinks.push({
                    id: newTabObj.id,
                    index: this.tabs.length,
                    title: newTabObj.title
                });

                this.tabs.push(newTabObj);

                this.switchTab(this.tabs[this.tabs.length-1].id);

                this.newTab = '';
            },

            addBlock: function(type) {
                switch (type)
                {
                    case 'left-image-right-html-block':
                        this.fillBlockArr('left-image-right-html-block');
                        break;
                    case 'left-html-right-image-block':
                        this.fillBlockArr('left-html-right-image-block');
                        break;
                    case 'sponsor-block':
                        this.fillBlockArr('sponsor-block');
                        break;
                    case 'map-block':
                        this.fillBlockArr('map-block');
                        break;
                    case 'full-html-block':
                        this.fillBlockArr('full-html-block');
                        break;
                    case 'faq-block':
                        this.fillBlockArr('faq-block');
                        break;
                    case 'faqItem':
                        this.fillBlockArr('faqItem');
                        break;
                    case 'link-block':
                        this.fillBlockArr('link-block');
                        break;
                    case 'download-block':
                        this.fillBlockArr('download-block');
                        break;
                }
            },

            handleUpdateAssetImages: function (value)
            {
                axios.get('/a/cms/get-assets/images')
                    .then(data => {
                        this.uploadedImages = data.data;
                    })
            },

            handleBlockLoopData: function(data)
            {
                this.imageErrorText = '';
                this.tabsToSave[data['tab_id']] = {};
                this.tabsToSave[data['tab_id']].id = data['tab_id'];
                this.tabsToSave[data['tab_id']].title = (this.tabs.find(t => t.id == data.tab_id)).title;
                this.tabsToSave[data['tab_id']].data = data['data'];

//                this.tabsToSave[data['tab_id']].quick_link_enabled = (this.tabs.find(t => t.id == data.tab_id)).quick_link_enabled;
//                this.tabsToSave[data['tab_id']].quick_link_label = (this.tabs.find(t => t.id == data.tab_id)).quick_link_label;
            },

            handleOverrideHeaderImageSelected: function(imageId)
            {
                this.metaData.header_image_override = imageId;
            },

            handleRemoveBlock: function(blockData)
            {
                (this.tabs.find(t => t.id == blockData.tabId)).blocks.splice(blockData.index, 1);

                console.log("TAB ID WITH "+blockData.tabId+" removing");
                console.log("block data with "+blockData.index);

                delete this.tabsToSave[blockData.tabId].data[blockData.index];
            },

            sortBlocksInTabsWhenCreated: function()
            {
                this.tabs.forEach(tab => {
                    if(tab.blocks.length === 0)
                        return;
                    tab.blocks.sort((a,b)=>{
                        return a.index - b.index;
                    })
                })
            },

            composeParentPageList: function()
            {
                this.parentPageList = this.page_list.filter(page => page.parent_id === null);
                this.parentPageList.unshift({id: -1, title: '--no parent--'});

                if(this.content)
                {
                    let foundIndex = this.parentPageList.findIndex(p => p.id == this.content.id);
                    if(foundIndex !== -1)
                        this.parentPageList.splice(foundIndex, 1);
                }
            },

            handleSubPageHeading: function(pageSubHeading)
            {
                this.metaData.page_subheading = this.pageSubHeading = pageSubHeading;
            },

            editTabTitle: function(index, id)
            {
                this.editedTabId = id;
                this.isTabEdited = true;
                this.editedTabTitle = this.tabLinks[index].title;
                this.editedTabIndex = index;
            },

            applyTabTitleChange()
            {
                this.tabsToSave[this.editedTabId].title = this.editedTabTitle;
                this.tabs[this.tabs.findIndex(t=>t.id==this.editedTabId)].title = this.editedTabTitle;
                this.tabLinks[this.tabLinks.findIndex(t=>t.id==this.editedTabId)].title = this.editedTabTitle;
                this.editedTabIndex = null;
                this.editedTabTitle = '';
                this.isTabEdited = false;
            },

            onDelete: function(index, id)
            {
                this.editedTabTitle = this.tabs[this.tabs.findIndex(t=>t.id==id)].title;
                this.editedTabIndex = index;
                this.editedTabId = id;
                this.isPopupShown = true;
            },

            deleteTab: function()
            {
                this.tabs.splice(this.tabs.findIndex(t=>t.id==this.editedTabId), 1);
                this.tabLinks.splice(this.tabLinks.findIndex(t=>t.id==this.editedTabId), 1);
                delete this.tabsToSave[this.editedTabId];
                this.isPopupShown = false;
                this.resetTabLinkIndexes();
                this.switchToAnotherTab();
            },

            resetTabLinkIndexes: function()
            {
                this.tabLinks.forEach((tab, ind) => tab.index = ind);
            },

            switchToAnotherTab: function()
            {
                $($('ul.nav.nav-tabs li a')[0]).click();
            },

            moveTabLeft: function (index, tabId)
            {
                if(index === 0)
                    return;

                let currItem = this.tabLinks.splice(index, 1)[0];
                this.tabLinks.splice(index-1, 0, currItem);

                let newIndex = --this.tabLinks[this.tabLinks.findIndex(t => t.id == tabId)].index;

                this.tabs[this.tabs.findIndex(tab => tab.id == tabId)].index = newIndex;

                this.tabLinks[index].index++;
            },

            moveTabRight: function (index, tabId)
            {
                if(this.tabLinks.length -1 === index)
                    return;

                let currItem = this.tabLinks.splice(index, 1)[0];
                this.tabLinks.splice(index+1, 0, currItem);

                let newIndex = ++this.tabLinks[this.tabLinks.findIndex(t => t.id == tabId)].index;

                this.tabs[this.tabs.findIndex(tab => tab.id == tabId)].index = newIndex;

                this.tabLinks[index].index--;
            },

            composeTabLinks: function()
            {
                this.tabs.forEach((tab, ind) => {
                    this.tabLinks.push({
                        id: tab.id,
                        index: ind == 0 && tab.index == 0 ? ind : tab.index,
                        title: tab.title,
                        quick_link_enabled: tab.quick_link_enabled || false,
                        quick_link_label: tab.quick_link_label || '',
                    })
                });

                this.tabLinks.sort((a,b)=>{
                    return a.index - b.index;
                });
            },

            assignTabIndexes: function ()
            {
                for(let tabId in this.tabsToSave)
                {
                    this.tabsToSave[tabId]['index'] = this.tabLinks[this.tabLinks.findIndex(t => t.id == tabId)].index;

                    this.tabsToSave[tabId].quick_link_enabled = (this.tabs.find(t => t.id == tabId)).quick_link_enabled;
                    this.tabsToSave[tabId].quick_link_label = (this.tabs.find(t => t.id == tabId)).quick_link_label;
                }
            },

            save: function()
            {
                this.assignTabIndexes();

                function getDataProperty(someObj)
                {
                    let dataPropName;

                    for(let prop in someObj)
                    {
                        dataPropName = prop;
                    }

                    return !dataPropName ? {} : someObj[dataPropName].data;
                }

                let pageData = this.selectedPageType == 'content_page' ? getDataProperty(this.tabsToSave) : this.tabsToSave;

                let pageToSave = {
                    page_title: this.pageTitle,
                    page_slug: this.pageSlug,
                    page_type: this.selectedPageType,
                    page_is_published: this.isPublished,
                    page_data: pageData,
                    meta_data: this.metaData,
                    parent_page_id: this.parentPageId
                };

                if($.isEmptyObject(pageData))
                {
                    window.toastr.error('Please add the content at the current page');
                    return;
                }

                if(pageToSave.page_title.length === 0)
                {
                    window.toastr.error('Please add the title at the current page');
                    return;
                }

                let imageErrors = this.validateImagePresence(pageData, this.selectedPageType);

                if(imageErrors.length !== 0)
                {
                    this.notifyImageError(imageErrors);
                    return;
                }

//                return;

                this.saveBntDisabled = true;

                if(!this.content)
                {
                    axios.post('/a/cms/create', pageToSave)
                        .then(data => {
                            window.toastr.success('Page Successfully Created', pageToSave.page_title);
                            setTimeout(()=>{
                                window.location.assign('/a/cms/list')
                            }, 800)
                        })
                        .catch(err => {
                            console.log('err',err);
                            window.toastr.error('Something went wrong!');
                        });
                }
                else
                {
                    axios.patch('/a/cms/update/'+this.content.id, pageToSave)
                        .then(data => {
                            window.toastr.success('Page Successfully Updated', pageToSave.page_title);
                            setTimeout(()=>{
                                window.location.assign('/a/cms/update/'+this.content.id)
                                this.saveBntDisabled = false;
                            }, 800)
                        })
                        .catch(err => {
                            console.log('err',err);
                            window.toastr.error('Something went wrong!', err.page_data);
                        });
                }

            }
        },
        props: [
            'assetImages', 'assetFiles', 'content', 'page_list'
        ],
        computed: {},
        watch: {
            selectedPageType: function(newVal)
            {
                if(newVal == 'content_page' && !this.content)
                {
                    this.activeTabId = 'custom-id-1';
                    this.tabs = [{id: 'custom-id-1', title: '', blocks: []}];
                    this.tabLinks = [{id: 'custom-id-1', title: '', index: 0}];
                }

                if(newVal == 'tabs_page' && !this.content)
                {
                    this.activeTabId = '';
                    this.tabLinks = [];
                    this.tabs = [];
                }
            }
        },
        created: function()
        {
            this.composeParentPageList();

            this.parentPageId = this.content ? (this.content.parent_id === null ? -1 : this.content.parent_id) : -1;

            this.uploadedImages = this.assetImages;
            this.uploadedFiles = this.assetFiles;

            this.selectedPageType = this.content ? this.content.type : 0;
            this.pageTitle = this.content ? this.content.title : '';
            this.pageSlug = this.content ? this.content.slug : '';

            this.tabs = this.content ? this.content.tabs : [];

            this.composeTabLinks();

            this.sortBlocksInTabsWhenCreated();

            this.activeTabId = this.tabs.length ? this.tabs[0].id : 0;
            this.isPublished = this.content ? this.content.published : false;

            this.metaData =  {
                meta_title: this.content && this.content.meta_data.length !== 0 ? this.content.meta_data.meta_title.value : '',
                meta_description: this.content && this.content.meta_data.length !== 0 ? this.content.meta_data.meta_description.value : '',
                header_image_override: this.content && this.content.meta_data.length !== 0 ? this.content.meta_data.header_image_override.value : '',
                navigation_label: this.content && this.content.meta_data.length !== 0 ? this.content.meta_data.navigation_label.value : '',
                navigation_order: this.content && this.content.meta_data.length !== 0 ? this.content.meta_data.navigation_order.value : 99,
                page_subheading: this.content && this.content.meta_data.length !== 0 && this.content.meta_data.page_subheading ? this.content.meta_data.page_subheading.value : '',
            };

            this.pageSubHeading = this.metaData.page_subheading;

            this.disablePageType = this.selectedPageType === 0 ? false : true;
        },
        mounted: function(){
            console.log(this.content);
        }
    }

</script>