<template>
    <div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Slug</th>
                    <th>Preview Link</th>
                    <th>Parent Page</th>
                    <th>Created</th>
                    <th>Last Update</th>
                    <th>Publish</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(page, index) in pageList">

                    <td>
                        <a :title="'Edit page - ' + page.title"
                                :href="'/a/cms/update/'+page.id"
                        >
                            {{page.title}}
                        </a>
                    </td>

                    <td>{{page.type}}</td>
                    <td>{{page.slug}}</td>

                    <td><a :href="'/'+page.conference.url_slug+'/'+page.slug" :title="page.title" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>

                    <td v-if="page.parent_id === null">-</td>
                    <td v-if="page.parent_id !== null"><a :href="'/a/cms/update/'+page.parent_id">{{page.parent.title}}</a></td>

                    <td>{{page.created_at}}</td>
                    <td>{{page.updated_at}}</td>

                    <td>
                        <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs pull-left">
                            <label>
                                <input type="checkbox" :disabled="busy" @change="changePublishState(page)" :checked="page.published" value="true" name="countdown_enabled">
                                <span>
                                </span>
                            </label>
                        </div>
                    </td>

                    <td>
                        <a :href="'/a/cms/update/'+page.id" class="btn btn-xs btn-success" :title="'Edit page - ' + page.title">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button class="btn btn-xs btn-danger"
                            :title="'Remove page - ' + page.title"
                            @click="requestRemoveConfirmation(page)"
                        >
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <confirm-popup :message="'Are you sure to delete page ' + pageToBeDeleted.title + ' ?'" v-if="showModal" @confirm="confirmDelete" @reject="closePopup"></confirm-popup>
    </div>
</template>


<script>
    export default {
        mixins: [],
        components: {},
        data: function(){
            return {
                pageList: [],
                showModal: false,
                pageToBeDeleted: {},
                busy: false
            }
        },
        methods: {
            requestRemoveConfirmation: function (page)
            {
                console.log('requestRemoveConfirmation ', page);
                this.pageToBeDeleted = page;
                this.showModal = true;
            },
            closePopup() {
                this.showModal = false;
            },
            confirmDelete()
            {
                axios.post('/a/cms/delete/'+this.pageToBeDeleted.id, {})
                    .then(data => {
                        this.closePopup();
                        this.updatePageList();

                        window.toastr.success('Page Successfully Deleted', this.pageToBeDeleted.page_title);
                    })
                    .catch(err => {
                        console.error('error',err);
                        window.toastr.error('Something went wrong, confirmDelete', 'Error');
                    })

            },
            updatePageList: function () {
                axios.get('/a/cms/list-ajax')
                    .then(data => {
                        this.pageList = data.data
                    })
                    .catch(err => {
                        console.error('error',err);
                        window.toastr.error('Something went wrong, updatePageList', 'Error');
                    })
            },
            changePublishState: function (page)
            {
                axios.post('/a/cms/status-trigger/' + page.id, {})
                    .then(data => {
                        let message = 'Page Successfully ';
                        message += page.published? 'Unpublished' : 'Published';
                        window.toastr.success(message, page.title);
                    })
                    .catch(err => {
                        console.error('error',err);
                        window.toastr.error('Something went wrong, changePublishState', 'Error');
                    })
            }
        },
        props: [
            'content'
        ],
        computed: {},
        watch: {

        },
        created: function()
        {
            this.pageList = this.content;
        },
        mounted: function(){
            console.log(this.content);
        }
    }

</script>