<template>
    <form autocomplete="off"
          @submit.prevent="submit"
          @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="container-fluid">

            <div class="alert alert-success text-center" v-show="busy" v-if="isEditForm">
                Editing gallery &nbsp;&nbsp;
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="alert alert-success text-center" v-show="busy" v-else>
                Adding gallery &nbsp;&nbsp;
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="row">

                <div class="col-xs-12">
                    <div class="form-group has-feedback"
                         :class="[{ 'has-error': form.errors.has(form.title) }]">
                        <label for="title">Title</label>

                        <input class="form-control" type="text" id="title" name="title" v-model="form.title">

                        <transition name="fade">
                    <span class="help-block" :id="'title'" v-if="form.errors.has(form.title)">
                        <span class="text-danger">{{ form.errors.get(form.title) }}</span>
                    </span>
                        </transition>
                    </div>

                    <div class="form-group has-feedback"
                         :class="[{ 'has-error': form.errors.has(form.description) }]">
                        <label for="description">Description</label>

                        <textarea class="form-control" id="description" name="description"
                                  v-model="form.description"></textarea>

                        <transition name="fade">
                    <span class="help-block" :id="'description'" v-if="form.errors.has(form.description)">
                        <span class="text-danger">{{ form.errors.get(form.description) }}</span>
                    </span>
                        </transition>
                    </div>

                    <div class="form-group has-feedback">

                        <label for="">Preview</label>
                        <image-select2 style="width:100%;"
                                       :options="assetImages"
                                       :selected="form.preview"
                                       name="preview"
                                       v-model="form.preview">
                            <option value="">Select an image</option>
                        </image-select2>

                    </div>

                    <div class="form-group">
                        <hr>
                        <h3>
                            <label>Edit gallery items</label>
                        </h3>
                        <div class="gallery-item" v-for="(gallery_item, index) in form.gallery_items">

                            <div class="gallery-item__navigation">
                                <div class="gallery-item__navigation__element gallery-item__navigation__up"
                                     :disabled="index == 0"
                                     @click="orderUp('gallery_items', index)">
                                    <i class="fa fa-arrow-up"></i>
                                </div>

                                <div class="gallery-item__navigation__element gallery-item__navigation__remove"
                                     @click="removeItem('gallery_items', index)">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="gallery-item__navigation__element gallery-item__navigation__down"
                                     :disabled="index == form.gallery_items.length - 1"
                                     @click="orderDown('gallery_items', index)">
                                    <i class="fa fa-arrow-down"></i>
                                </div>
                            </div>
                            <div class="gallery-item__body">
                                <image-select2 style="width:100%;"
                                               :options="assetImages"
                                               :selected="gallery_item"
                                               name="gallery_items[]" v-model="form.gallery_items[index]">
                                    <option value="">Select an image</option>
                                </image-select2>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <button type="button" class="btn btn-primary pull-right" @click="addItem('gallery_items')">
                                Add new
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-danger btn-block btn-flat" type="button"
                            :disabled="busy" v-if="isEditForm" @click="remove">Remove</button>
                    <button class="btn btn-primary btn-block btn-flat" :disabled="busy" v-if="!isEditForm">Save</button>
                    <button class="btn btn-primary btn-block btn-flat" :disabled="busy" v-else>Submit</button>
                </div>
            </div>

        </div>
    </form>
</template>

<style src="../fade.css"></style>

<script>
    import Form from 'acacha-forms'
    import redirect from '../redirect'
    import valueOrEmpty from '../valueOrEmpty'

    export default {
        mixins: [redirect, valueOrEmpty],
        data: function () {
            return {
                busy: false,
                patchUrl: 'galleries/',
                putUrl: 'galleries'
            }
        },
        props: {
            gallery: {},
            assetImages: {
                type: Array,
                'default': function () {
                    return []
                }
            },
            action: '',
            isEditForm: {
                type: Boolean,
                'default': function () {
                    return false;
                }
            },
        },

        computed: {
            form: function () {
                return new Form({
                    title: this.gallery.title || '',
                    description: this.gallery.description || '',
                    preview: this.gallery.preview || 0,
                    gallery_items: this.renderList(this.gallery.gallery_items),
                });
            }
        },
        methods: {
            submit () {
                //TODO: Remove console.log()
                console.log( this.isEditForm );
                if (this.isEditForm) {
                    return this.patch();
                } else {
                    return this.post();
                }
            },
            patch() {
                //TODO: Remove console.log()
                console.log( 'patch' );
                const vm = this;

                this.busy = true;

                this.form.patch(vm.patchUrl + vm.gallery.id)
                    .then(response => {
                        vm.busy = false;
                        if (response.data.success) {
                            window.toastr.success('Gallery updated', vm.gallery.title);
                            vm.$emit('galleryChanged', response.data.gallery);
                        }
                    })
                    .catch(error => {
                        vm.busy = false;
                        console.log(error);
                        window.toastr.error('Server error', error);
                    })
            },
            post() {
                //TODO: Remove console.log()
                console.log( 'post' );
                const vm = this;
                this.busy = true;
                this.form.post(vm.putUrl)
                    .then(response => {
                        vm.busy = false;
                        if (response.data.success) {
                            window.toastr.success('Gallery added', vm.gallery.title);
                            vm.$emit('galleryNew', response.data.gallery);
                        }
                    })
                    .catch(error => {
                        vm.busy = false;
                        window.toastr.error('Server error', error);
                    })
            },
            remove() {
                const vm = this;
                this.busy = true;
                this.form.delete(vm.patchUrl + vm.gallery.id)
                    .then(response => {
                        vm.busy = false;
                        if (response.data.success) {
                            window.toastr.success('Gallery Deleted', vm.gallery.title);
                            vm.$emit('galleryDeleted', vm.gallery);
                        }
                    })
                    .catch(error => {
                        vm.busy = false;
                        window.toastr.error('Server error', error);
                    })
            },
            clearErrors (name) {
                this.form.errors.clear(name)
            },
            renderList(items) {
                let defaultValue = [];
                if(Array.isArray(items)) {
                    defaultValue = items;
                }
                return defaultValue;
            },
            addItem(field) {
                if (!this.form[field]) return false;
                this.form[field].push(null);
                this.$forceUpdate();
            },
            orderUp(field, index) {
                if (!this.form[field] || index === 0) return false;
                let temp = this.form[field][index - 1];
                this.form[field][index - 1] = this.form[field][index];
                this.form[field][index] = temp;
                this.$forceUpdate();
            },
            orderDown(field, index) {
                if (!this.form[field] || index === this.form[field].length - 1) return false;
                let temp = this.form[field][index + 1];
                this.form[field][index + 1] = this.form[field][index];
                this.form[field][index] = temp;
                this.$forceUpdate();
            },
            removeItem(field, index) {
                if (!this.form[field]) return false;
                this.form[field].splice(index, 1);
            },
        }
    }
</script>