<template>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Galleries</h3>

            <div class="pull-right">
                <button type="button" class="btn btn-xs btn-success" @click="createGallery">New Gallery</button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="speaker-table">
                    <div class="table-responsive">
                        <vue-bootstrap-table
                                :columns="columns"
                                :values="valuesList"
                                :show-filter="false"
                                :show-column-picker="false"
                                :sortable="true"
                                :paginated="true"
                                :row-click-handler=rowClick
                                :multi-column-sortable=true>
                        </vue-bootstrap-table>
                        <bootstrap-modal ref="editModal" :needHeader="true" :needFooter="false" id="editModal">
                            <div slot="title">
                                Editing gallery {{ gallery.title }}
                            </div>
                            <div slot="body">
                                <gallery-edit-form :gallery="gallery"
                                                   :asset-images="assetImages"
                                                   :isEditForm="isEdit"
                                                   v-on:galleryNew="galleryNew"
                                                   v-on:galleryChanged="galleryChanged"
                                                   v-on:galleryDeleted="galleryDeleted"></gallery-edit-form>
                            </div>
                            <div slot="footer">

                            </div>
                        </bootstrap-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import renderTick from '../mixins/renderTick'

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [renderTick],
        data: function () {
            return {
                valuesList: [],
                gallery: {},
                isEdit: false,
                columns: [
                    {title: 'id'},
                    {title: 'Title', name: 'title'},
                    {title: 'Description', name: 'description'},
                    {title: 'Preview', name: 'preview', renderfunction: this.renderPhoto},
                ]
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'values',
            'assetImages'
        ],
        created: function () {
            this.valuesList = this.values;
        },
        methods: {
            renderPhoto: function (k, v) {
                let photo = v[k];
                let result = '';
                if (photo) {
                    this.assetImages.forEach(item => {
                        if (item.id === parseInt(photo)) {
                            result = `<img src="${item.path}" alt="${item.text}" class="img-responsive" style="max-width:200px;max-height:100px;display:block;">`;
                        }
                    });
                }
                return result;
            },
            rowClick: function (e, r) {
                if (!r.id) {
                    return
                }

                axios.get('galleries/' + r.id)
                    .then(response => {
                        if (response.data.success) {
                            this.gallery = response.data.gallery;
                            this.isEdit = true;
                            this.openEditModal()
                        }
                    })
            },
            openEditModal: function () {
                this.$refs.editModal.open()
            },
            closeEditModal: function () {
                this.$refs.editModal.close()
            },
            createGallery: function () {
                this.isEdit = false;
                this.gallery = {};
                this.openEditModal()
            },
            galleryNew: function (gallery) {
                this.valuesList.push(gallery);
                this.closeEditModal();
            },
            galleryChanged: function (gallery) {
                this.valuesList = this.valuesList.map(function (val) {
                    return val.id === gallery.id ? gallery : val;
                });
                this.closeEditModal();
            },
            galleryDeleted: function (gallery) {
                this.valuesList = this.valuesList.filter(function (val) {
                    return val.id !== gallery.id;
                });
                this.closeEditModal();
            }
        }
    }

</script>
