<template>
    <div>
        <template v-for="block in blocks">
            <component :is="'section-' + block.type" :data="block.data"></component>
        </template>
    </div>
</template>


<style src="../fade.css"></style>

<script>

    export default {
        data: function () {
            return {}
        },
        props: {
            data: {},
        },
        computed: {
            blocks: function () {
                let blocks = this.data.blocks;
                blocks.sort((a, b) => {
                    if (this.isEmpty(a.index) && this.isEmpty(b.index)) {
                        return 0;
                    }
                    if (this.isEmpty(a.index)) {
                        return 1;
                    }
                    if (this.isEmpty(b.index)) {
                        return -1;
                    }
                    if (a.index === b.index) {
                        return 0;
                    }
                    return (a.index < b.index) ? -1 : 1;
                });
                return blocks;
            }
        },
        mounted: function () {
        },
        watch: {},
        methods: {
            isEmpty(val) {
                return val === null || val === undefined;
            },
            scrollToOrOpenTab: function()
            {
                let pathname = window.location.href;

                if(document.location.hash)
                {
                    let targetId = document.location.hash.replace('#','');

                    if($('.nav.nav-tabs.container.tabs-page').length)
                    {
                        this.openTab(targetId);
                    }
                    else{
                        this.scrollToAnchor(targetId)
                    }
                }
            },
            scrollToAnchor: function(targetId)
            {
                setTimeout(()=>{

                    let heightOffset = $('.mainContainer header').height();

                    $('html, body').animate({
                        scrollTop: $("#"+targetId).offset().top - heightOffset
                    }, 0);
                },500)
            },
            openTab: function(targetId)
            {
                setTimeout(()=>{

                    $('html, body').scrollTop(0);

                    $('.nav.nav-tabs.container li[role="presentation"]').removeClass('active');
                    $('.tab-content .tab-pane').removeClass('active');

                    $('a[href="#'+targetId+'"]').parent().addClass('active');
                    $('#'+targetId).addClass('active');

                },0)
            }
        },
        created: function()
        {
            this.scrollToOrOpenTab();
        }
    }

</script>
