<template>
    <div class="speaker-table">
        <div class="box-header pull-right" :class="{'disabled': busy}">
            <!--<button class="btn btn-xs btn-success" @click="notify('welcome', true)">Notify Welcome All</button>-->
            <!--<button class="btn btn-xs btn-success" @click="notify('eticket', true)">Notify E-ticket All</button>-->
            <transition name="fade">
                <div class="btn-group" v-show="!!checkedDelegates.length">
                    <button class="btn btn-xs btn-success" @click="notify('welcome')">
                        Notify Welcome
                    </button>
                    <button class="btn btn-xs btn-success" @click="notify('eticket')">
                        Notify E-ticket
                    </button>
                    <button class="btn btn-xs btn-success" @click="notify('blank')">
                        Notify Blank
                    </button>
                    <button class="btn btn-xs btn-success" @click="addAppointment">
                        Add Appointment
                    </button>
                </div>
            </transition>
            <div class="btn-group">
                <button class="btn btn-xs btn-default" @click="uncheckAll" v-show="!!checkedDelegates.length">Uncheck All</button>
                <button class="btn btn-xs btn-default" @click="checkAll(true)">Check All Confirmed</button>
                <button class="btn btn-xs btn-default" @click="checkAll(false)">Check All Unconfirmed</button>
            </div>
        </div>

        <div class="table-responsive table">
            <vue-bootstrap-table
                    :columns="columns"
                    :values="values"
                    :show-filter="true"
                    :filter-case-sensitive="false"
                    :show-column-picker="false"
                    :sortable="true"
                    :paginated="true"
                    :row-click-handler=rowClick
                    :multi-column-sortable=true>
            </vue-bootstrap-table>
        </div>

        <bootstrap-modal ref="editModal" :needHeader="true" :needFooter="false" id="editModal">
            <div slot="title">
                Editing speaker {{ delegate.name }}
            </div>
            <div slot="body">
                <delegate-edit-form :delegate="delegate" :asset-images="assetImages"
                                    v-on:delegateChanged="delegateChanged" v-on:delegateNotifyTrigger="delegateNotifyTrigger"></delegate-edit-form>
            </div>
            <div slot="footer">

            </div>
        </bootstrap-modal>
        <bootstrap-modal ref="appointmentModal" :needHeader="true" :needFooter="false" id="appointmentModal">
            <div slot="title">
                Add appointment
            </div>
            <div slot="body">
                <mass-appointment :delegates="checkedDelegates" @appointmentAdded="appointmentAdded"></mass-appointment>
            </div>
            <div slot="footer">

            </div>
        </bootstrap-modal>
    </div>
</template>

<script>
    import renderTick from '../mixins/renderTick'

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [renderTick],
        data: function () {
            return {
                busy: false,
                delegate: {},
                columns: [
                    {title: 'id'},
                    {title: 'UIC', name: 'uic'},
                    {title: 'First Name', name: 'first_name'},
                    {title: 'Last Name', name: 'last_name'},
                    {title: 'Email', name: 'email'},
                    {title: 'Country', name: 'country'},
                    {title: 'Updated', name: 'updated_at'},
                    {title: 'Confirmed', name: 'confirmed', renderfunction: this.renderPosNeg},
                    {title: 'Enabled', name: 'enabled', renderfunction: this.renderPosNeg},
                    {
                        title: 'Check', name: 'id', renderfunction: this.renderAction,
                        editable: true
                    },
                ],
                checkedDelegates: []
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'values',
            'assetImages'
        ],
        mounted: function () {
//            $('body').on('click', '.btn-toolbar .btn-default:not("active")', () => {
//                this.resetChecked();
//            })
        },
        methods: {
            openEditModal: function () {
                this.$refs.editModal.open()
            },
            rowClick: function (e, r) {
                if ($(e.target).hasClass('check-notify')) {
                    $(e.target).toggleClass('checked');
                    if (this.checkedDelegates.includes(r.id)) {
                        this.uncheckDelegate(r.id);
                    } else {
                        this.checkedDelegates.push(r.id)
                    }
                    return;
                }
                if (!r.id) {
                    return
                }

                const vm = this;

                axios.get('delegates/' + r.id).then(function (response) {
                    vm.delegate = response.data;
                    if (vm.checkedDelegates.includes(r.id)) {
                        vm.delegate.notify = true;
                    }
                    vm.openEditModal();
                })
            },
            uncheckDelegate(id) {
                let index = this.checkedDelegates.indexOf(id);
                this.checkedDelegates.splice(index, 1);
            },
            delegateNotifyTrigger(id) {
                if (this.checkedDelegates.includes(id)) {
                    this.uncheckDelegate(id);
                } else {
                    this.checkedDelegates.push(id)
                }
            },
            notify(type, all) {
                this.busy = true;
                let delegatesToNotify = this.checkedDelegates;
                if (all) {
                    delegatesToNotify = '*';
                }
                axios.post('/a/delegates/notify/' + type, {
                    'delegates': delegatesToNotify
                }).then(response => {
                    this.resetChecked();
                    window.toastr.success('Delegates was notified', 'Notifications');
                    this.busy = false;
                }).catch(error => {
                    //TODO: Remove console.log()
                    console.log(error);
                    window.toastr.error('Something went wrong', 'Notifications');
                    this.busy = false;
                })
            },
            resetChecked() {
                $('.check-notify.checked').removeClass('checked');
                this.checkedDelegates = [];
            },
            delegateChanged: function (delegate) {
                this.$refs.editModal.close();
                this.$emit('delegateUpdated', delegate);
            },
            renderAction(v, k) {
                let checked = '';
                if(this.checkedDelegates.includes(k.id)) {
                    checked = 'checked';
                }
                return '<span class="check-notify notify-' + k.id + ' ' + checked + '"></span>';
            },
            addAppointment() {
                this.$refs.appointmentModal.open();
            },
            appointmentAdded() {
                this.resetChecked();
                this.$refs.appointmentModal.close();
            },
            checkAll(confirmed) {
                this.values.forEach(delegate => {
                    if(this.checkedDelegates.includes(delegate.id)) {
                        return;
                    }
                    if(confirmed && !!delegate.confirmed) {
                        this.checkedDelegates.push(delegate.id)
                    } else if (!confirmed && !delegate.confirmed) {
                        this.checkedDelegates.push(delegate.id)
                    }
                })
            },
            uncheckAll() {
                this.resetChecked()
            }
        },
    }

</script>
