<template>
    <form autocomplete="off" @submit.prevent="submit" @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input class="hidden" type="text" name="fakeusernameremembered"/>
        <input class="hidden" type="password" name="fakepasswordremembered"/>


        <div class="alert alert-success text-center" v-show="busy">
            Assigning Appointments &nbsp;&nbsp;
            <i class="fa fa-refresh fa-spin"></i>
        </div>

        <div class="row">
            <div class="form-group has-feedback"
                 :class="[{ 'has-error': form.errors.has('name') }, classValue(field)]"
                 v-for="field in fields">
                <label v-if="field.type != 'boolean' && field.type != 'radio'">{{ field.name }}</label>

                <template v-if="field.type == 'text'">
                    <input class="form-control" placeholder="" :name="field.id" v-model="form[field.id]" autofocus/>
                </template>

                <template v-if="field.type == 'number'">
                    <input class="form-control" type="number" placeholder="" :name="field.id" v-model="form[field.id]"
                           autofocus/>
                </template>

                <template v-if="field.type == 'email'">
                    <input type="email" class="form-control" placeholder="" :name="field.id" v-model="form[field.id]"
                           autofocus/>
                </template>

                <template v-if="field.type == 'password'">
                    <input type="password" class="form-control" placeholder="" :name="field.id" v-model="form[field.id]"
                           autofocus/>
                </template>

                <template v-if="field.type == 'color'">
                    <input class="form-control" type="color" :name="field.id" v-model="form[field.id]" />
                </template>

                <template v-if="field.type == 'textarea'">
                    <p class="text-right">
                        Editor height:
                        <button type="button" class="btn btn-sm" @click="increaseEditorSize"><i class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-sm"
                                @click="decreaseEditorSize"><i class="fa fa-minus"></i></button>
                    </p>
                    <editor v-model="form[field.id]" @init="editorInit();" lang="html" theme="chrome" width="100%"
                            :height="editorHeight + 'px'"></editor>
                </template>

                <template v-if="field.type == 'timepicker'">
                    <timepicker
                            :extData="form[field.id]"
                            :minuteInterval="5"
                            :field="field.id"
                            @eValue="handleTime"
                    ></timepicker>
                </template>

                <template v-if="field.type == 'select'">
                    <select class="form-control" :id="field.id" :name="field.id"
                            v-model="form[field.id]" title="Please select"
                            :required="field.required"
                            data-width="100%">
                        <option disabled>Please select</option>
                        <option :value="option.value" v-for="option in field.values">
                            {{ option.text }}
                        </option>
                    </select>
                </template>

                <template v-if="field.type == 'radio'">
                    <div class="radio" v-for="val in field.values">
                        <label :for="'radio_' + field.id + val.id">
                            <input type="radio" :id="'radio_' + field.id + val.id"
                                   v-model="form[field.id]" :value="val.id" :name="field.id"> {{val.name}}
                        </label>
                    </div>
                </template>

                <template v-if="field.type == 'boolean'">
                    <div class="box-header with-border">
                        <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                            <label>
                                <input type="checkbox" value="0" :name="field.id" v-model="form[field.id]">
                                <span>
                                <h3 class="box-title">{{ field.name }}</h3>
                            </span>
                            </label>
                        </div>
                    </div>
                </template>

                <template v-if="field.type == 'asset'">
                    <image-select2 style="width:100%;" :options="assetImages" :selected="form.photo" name="photo"
                                   v-model="form.photo">
                        <option value="">Select an image</option>
                    </image-select2>
                </template>

                <transition name="fade">
                <span class="help-block" :id="field.id" v-if="form.errors.has(field.id)">
                    <span class="text-danger">{{ form.errors.get(field.id) }}</span>
                </span>
                </transition>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-block btn-flat" :disabled="busy">Submit</button>
            </div>
        </div>
    </form>
</template>

<style src="../fade.css"></style>

<script>
    import Form from 'acacha-forms'
    import redirect from '../redirect'
    import timepicker from '../cms/form-partials/timepicker.vue';

    export default {
        mixins: [redirect],
        components: {
            'timepicker': timepicker
        },
        data: function () {
            return {
                busy: false,
                endpoint: 'delegates/mass-appointment',
                editorHeight: 100,
                fields: [
                    {
                        id: "day",
                        name: "Day",
                        type: "radio",
                        values: []
                    },
                    {
                        id: "title",
                        name: "Title",
                        type: "text",
                        column: '6'
                    },
                    {
                        id: "custom_color",
                        name: "Color",
                        type: "color",
                        column: '6'
                    },
                    {
                        id: "time_from",
                        name: "Time From",
                        type: "timepicker",
                        value: '7:00',
                        column: '6'
                    },
                    {
                        id: "time_to",
                        name: "Time To",
                        type: "timepicker",
                        value: '7:15',
                        column: '6'
                    },
                    {
                        id: "comment",
                        name: "Comment",
                        type: "textarea"
                    },
                    {
                        id: "available",
                        name: "Available?",
                        type: "boolean",
                        value: true
                    },
                ]
            }
        },
        props: {
            delegates: {
                type: Array,
                required: false,
                default: function () {
                    return []
                }
            },
        },
        mounted() {
            axios.get('/a/meeting-management/days/get-days-ajax')
                .then(response => {
                    //TODO: Remove console.log()
                    console.log(response);
                    this.fields.forEach(field => {
                        if (field.id === 'day') {
                            field.values = response.data;
                        }
                    })
                })
        },
        computed: {
            form: function () {
                const fields = this.fields;

                let formFields = {};

                fields.forEach(function (v) {
                    formFields[v.id] = v.value || '';
                });
                formFields.ids = this.delegates;

                return new Form(formFields)
            },
        },
        methods: {
            resetForm() {
                const fields = this.fields;

                fields.forEach(v => {
                    this.form[v.id] = v.value || '';
                });
                this.form.ids = this.delegates;
                this.$forceUpdate();
            },
            submit () {
                const vm = this;

                this.busy = true;

                this.form.post(vm.endpoint)
                    .then(response => {
                        vm.busy = false;

                        if (response.data.success) {
                            window.toastr.success('Appointment Added');
                            this.$emit('appointmentAdded');
                            this.resetForm();
                        }
                    })
                    .catch(error => {
                        vm.busy = false

                        console.log(error)

                        window.toastr.error('Server error', error)
                    })
            },

            classValue(field) {
                return 'col-md-' + (field.column || 12)
            },
            clearErrors (name) {
                this.form.errors.clear(name)
            },
            handleTime(a, field) {
                this.form[field] = a;
            },

            editorInit: function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },

            increaseEditorSize: function()
            {
                this.editorHeight += 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            },
            decreaseEditorSize: function()
            {
                this.editorHeight = (this.editorHeight - 50) <= 50 ? this.editorHeight : this.editorHeight - 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            }
        }
    }
</script>