body.tabs {
  .hero-image {
    background: url('../images/common/form-banner.jpg') no-repeat top;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    @include mediaQuery($max, $mobile) {
      background-size: cover;
      height: 450px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      min-height: 255px;
    }
    @include mediaQuery($min, $min-small-desktop) {
      background: none;
      height: auto;
    }
    img.hero-image {
      max-width: 100%;
    }
  }
  .accordion {
    &.faq {
      h2 {
        display: inline-block;
      }
    }
    h2 {
      text-transform: uppercase;
      color: $dark-grey;
      font-family: "DIN Medium", Arial, sans-serif;
      font-size: 30px;
      margin: 0px;
    }
    .expandAll, .expandAll1, .expandAll2, .expandAll3, .expandAll4 {
      text-transform: uppercase;
      color: $dark-grey;
      float: right;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      font-family: "DIN Regular", Arial, sans-serif;
      &:hover {
        text-decoration: none;
      }
    }
    .expandAll {
      top: 10px;
      @include mediaQuery($max, $mobile) {
        top: 0px;
        float: right;
      }
    }
    .expandAll1, .expandAll2, .expandAll3, .expandAll4 {
      top: -25px;
      @include mediaQuery($max, $mobile) {
        top: 0px;
        float: left;
      }
    }
    .panel-group {
      margin-bottom: 75px;
      @include mediaQuery($max, $mobile) {
        margin-bottom: 45px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      .panel.panel-default {
        border-radius: 0px;
        border: none;
        margin: 0px 0px 40px 0px;
        display: inline-block;
        width: 100%;
        &:first-child {
          margin-top: 25px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
        .panel-heading {
          background: $green;
          border: none;
          color: $white;
          padding: 0px;
          border-radius: 0px;
          &.unclickable-link {
            border: 1px solid $green;
            background: $white;
            color: $green;
          }
          h4.panel-title {
            a {
              font-size: 20px;
              font-family: "DIN Regular", Arial, sans-serif;
              padding: 15px 15px 15px 80px;
              @include mediaQuery($max, $mobile) {
                padding: 15px 15px 15px 15px;
                font-size: 18px;
              }
              display: block;
              text-transform: uppercase;
              &:hover {
                text-decoration: none;
              }
              &:focus {
                outline: none;
                text-decoration: none;
              }
              span {
                float: right;
                &.custom-arrow {
                  position: absolute;
                  right: 25px;
                  top: 30px;
                  @include mediaQuery($max, $mobile) {
                    position: static;
                  }
                }
              }
            }
          }
        }
        .accordion-body {
          .panel-body {
            padding: 40px 80px;
            font-family: "DIN Regular", Arial, sans-serif;
            font-size: 20px;
            @include mediaQuery($max, $mobile) {
              padding: 40px 20px;
            }
            a {
              color: $green;
              text-decoration: none;
              font-weight: normal;
              font-family: "DIN Medium", Arial, sans-serif;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .tabs-copy {
    &.dashboard {
      .nav-tabs {
        @media (min-width: 768px) and (max-width: 1199px) {
          padding-right: 0px;
        }
        li {
          a {
            font-size: 31px !important;
            min-width: 283.8px !important;
            @media (min-width: 768px) and (max-width: 1199px) {
              padding: 12px 15px !important;
              min-width: 180.8px !important;
              font-size: 25px !important;
            }
          }
        }
      }
      #myplanner {
        .top-right-navigation {
          float: right;
          margin-bottom: 30px;
          a {
            text-transform: uppercase;
            color: $darker-grey;
            line-height: 14px;
            font-size: 14px;
            padding-right: 6px;
            display: inline-block;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
            &:focus {
              outline: none;
              text-decoration: none;
            }
          }
          a + a {
            border-left: 1px solid $darker-grey;
            padding-left: 10px;
            padding-right: 0px;
          }
        }
        .filter-action-btns {
          width: 100%;
          display: inline-block;
          .filtering {
            display: inline-block;
            float: left;
            padding-left: 0px;
            @include mediaQuery($max, $mobile) {
              width: 100%;
              padding-left: 0px;
              float: none;
              text-align: center;
              padding-bottom: 15px;
              padding-right: 0px;
            }
            a {
              font-family: "DIN Light", Arial, sans-serif;
              text-transform: uppercase;
              color: $darker-grey;
              line-height: 31px;
              font-size: 31px;
              padding: 9px 10px;
              display: inline-block;
              cursor: pointer;
              @media (min-width: 1200px) and (max-width: 1559px) {
                font-size: 22px;
                line-height: 22px;
              }
              @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 19px;
                padding: 9px 3px;
              }
              @media (min-width: 768px) and (max-width: 991px) {
                font-size: 15px;
                padding: 15px 5px;
              }
              @include mediaQuery($max, $mobile) {
                line-height: 19px;
                font-size: 19px;
                padding: 9px 7px;
              }
              &:hover {
                text-decoration: none;
              }
              &:focus {
                outline: none;
                text-decoration: none;
              }
              &.active {
                color: $green;
              }
            }
          }
          .action-btn {
            display: inline-block;
            text-align: right;
            padding-right: 0px;
            margin-top: 14px;
            @include mediaQuery($max, $mobile) {
              width: 100%;
              text-align: left;
              padding-left: 0px;
              float: none;
              text-align: center;
              margin-bottom: 15px;
            }
            .btn.btn-default {
              width: inherit;
              padding: 12px 40px;
              display: inline;
              @media (min-width: 992px) and (max-width: 1199px) {
                padding: 5px 15px;
              }
              @media (min-width: 768px) and (max-width: 991px) {
                padding: 5px 10px;
              }
              @include mediaQuery($max, $mobile) {
                padding: 8px 25px;
              }
            }
            a + a {
              margin-left: 15px;
            }
          }
        }
        .panel-group {
          margin-bottom: 20px;
          .panel.panel-default {
            .panel-heading {
              background: $burgundy;
              h4.panel-title {
                a {
                  padding: 15px 15px 15px 15px;
                  text-align: center;
                }
              }
            }
            .panel-collapse {
              &.my-planner-accordion {
                .appointment-popup {
                  float: right;
                  margin-right: 15px;
                }
                .panel-body {
                  padding: 15px 0px;
                  border-left: 0px;
                  border-right: 0px;
                  border-top: none;
                  .selected-appointment-block, .no-content-block, .invited-requests-block, .no-requests-block, .personal-appointment-unselected-block .accepted-requests-block, .awaiting-requests-block, .unavailable-request-block, .no-requests-available-block {
                    padding-top: 15px;
                    padding-bottom: 15px;
                  }
                  .no-content-block {
                    .meeting-request-accordion {
                      background: $green;
                      .left-container-details {
                        .left-time {
                          p {
                            color: $white;
                          }
                        }
                        .right-details {
                          padding-top: 15px;
                          padding-bottom: 15px;
                          p {
                            span {
                              font-family: "DIN Light", Arial, sans-serif;
                              color: $white;
                              &.appointment {
                                font-family: "DIN Regular", Arial, sans-serif;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .invited-requests-block {
                    .meeting-request-accordion {
                      background: $light-grey;
                    }
                    .awaiting-requests-block, .accepted-requests-block {
                      padding-top: 0;
                      padding-bottom: 0;
                    }
                    .accepted-requests-block {
                      .meeting-request-accordion {
                        background: transparent;
                      }
                    }
                  }
                  .no-requests-block {
                    .meeting-request-accordion {
                      .left-container-details {
                        .left-time {
                          p {
                            color: $mid-grey;
                          }
                        }
                        .right-details {
                          padding-top: 15px;
                          padding-bottom: 15px;
                          p {
                            span {
                              font-family: "DIN Light", Arial, sans-serif;
                              color: $mid-grey;
                            }
                          }
                        }
                      }
                      .request-action {
                        .btn.btn-default {
                          position: relative;
                          margin-top: 0px;
                          width: inherit !important;
                          color: $white;
                          padding: 15px 12px;
                          &:hover, &:focus {
                            color: $green;
                            text-decoration: none;
                          }
                        }
                      }
                    }
                  }
                  .awaiting-requests-block {
                    .meeting-request-accordion {
                      padding: 11.5px 30px;
                      .left-container-details {
                        .left-time {
                          p {
                            color: $mid-grey;
                          }
                        }
                        .right-details {
                          p {
                            color: $mid-grey;
                            span {
                              color: $mid-grey;
                            }
                          }
                        }
                      }
                      .request-action {
                        padding: 17.5px 0px;
                        height: 54px;
                        .decline-btn {
                          display: none;
                        }

                        @include mediaQuery($max, $mobile) {
                          .awaiting-btn {
                            display: none;
                          }
                          .decline-btn {
                            display: block;
                          }
                        }
                      }
                      &:hover {
                        .request-action {
                          @include mediaQuery($min, $mobile) {
                            .awaiting-btn {
                              display: none;
                            }
                            .decline-btn {
                              display: block;
                            }
                          }
                        }
                      }
                    }
                  }
                  .accepted-requests-block {
                    .meeting-request-accordion {
                      padding: 11.5px 30px;
                      .request-action {
                        padding: 17.5px 0px;
                        height: 54px;

                        .decline-btn {
                          display: none;
                        }
                        @include mediaQuery($max, $mobile) {
                          .accept-btn {
                            display: none;
                          }
                          .decline-btn {
                            display: block;
                          }
                        }
                      }
                      &:hover {

                        @include mediaQuery($min, $mobile) {
                          .accept-btn {
                            display: none;
                          }
                          .decline-btn {
                            display: block;
                          }
                        }
                        //.request-action {
                        //  .accept-btn {
                        //    display: none;
                        //  }
                        //  .decline-btn {
                        //    display: block;
                        //  }
                        //}
                      }
                    }
                  }
                  .no-requests-available-block {
                    .meeting-request-accordion {
                      padding: 11.5px 30px;
                      .left-container-details {
                        .left-time {
                          p {
                            color: $mid-grey;
                          }
                        }
                        .right-details {
                          padding-top: 15px;
                          padding-bottom: 15px;
                          p {
                            span {
                              color: $mid-grey;
                              font-family: "DIN Light", Arial, sans-serif;
                            }
                          }
                        }
                      }
                      .request-action {
                        padding: 9px 0px;
                        height: 54px;
                        .available-decline-btn {
                          display: none;
                        }
                        @include mediaQuery($max, $mobile) {
                          .available-accept-btn {
                            display: none;
                          }
                          .available-decline-btn {
                            display: block;
                          }
                        }
                      }
                      &:hover {
                        .request-action {

                          @include mediaQuery($min, $mobile) {
                            .available-accept-btn {
                              display: none;
                            }
                            .available-decline-btn {
                              display: block;
                            }
                          }
                        }
                      }
                    }
                  }
                  .unavailable-request-block {
                    .meeting-request-accordion {
                      padding: 11.5px 30px;
                      background: #f3f3f3;
                      .left-container-details {
                        .left-time {
                          p {
                            color: $mid-grey;
                          }
                        }
                        .right-details {
                          padding-top: 15px;
                          padding-bottom: 15px;
                          p {
                            span {
                              color: $mid-grey;
                              font-family: "DIN Light", Arial, sans-serif;
                            }
                          }
                        }
                      }
                      .request-action {
                        padding: 9px 0px;
                        height: 54px;

                        @include mediaQuery($max, $mobile) {
                          height: 70px;
                        }
                        .available-accept-btn {
                          display: none;
                        }
                        @include mediaQuery($max, $mobile) {
                          .unavailable-btn {
                            display: none;
                          }
                          .available-accept-btn {
                            display: inline-block;
                          }
                        }
                        a {
                          color: $mid-grey;
                        }
                      }
                      &:hover {
                        .request-action {

                          @include mediaQuery($min, $mobile) {
                            .unavailable-btn {
                              display: none;
                            }
                            .available-accept-btn {
                              display: block;
                            }
                          }
                        }
                      }
                    }
                  }
                  .selected-appointment-block {
                    .meeting-request-accordion {
                      background: $green;
                      padding: 11.5px 30px;
                      .left-container-details {
                        .left-time {
                          p {
                            color: $white;
                          }
                        }
                        .right-details {
                          padding-top: 15px;
                          padding-bottom: 15px;
                          p {
                            span {
                              color: $white;
                              font-family: "DIN Light", Arial, sans-serif;
                            }
                          }
                        }
                      }
                      .request-action {
                        padding: 9px 0px;
                        height: 54px;
                        @include mediaQuery($max, $mobile) {
                          height: 70px;
                        }
                        @include mediaQuery($max, $mobile) {
                          text-align: center;
                          .dashboard-action {
                            text-align: center;
                          }
                        }
                        .unavailable-btn {
                          display: none;
                        }
                        @include mediaQuery($max, $mobile) {
                          .available-accept-btn {
                            display: none;
                          }
                          .unavailable-btn {
                            display: inline-block;
                          }
                        }
                      }
                      &:hover {
                        .request-action {

                          @include mediaQuery($min, $mobile) {
                            .available-accept-btn {
                              display: none;
                            }
                            .unavailable-btn {
                              display: inline-block;
                            }
                          }
                        }
                      }
                    }
                  }
                  .my-planner {
                    &:nth-child(1) {
                      .panel-body {
                        border-top: 1px solid $mid-grey !important;
                      }
                    }
                    .panel-body {
                      border-top: none !important;
                      border: 1px solid $mid-grey;
                    }
                  }
                  .accordion.programme {
                    margin-top: 15px;
                    .panel-group {
                      .panel.panel-default {
                        margin: 0px;
                        .panel-heading {
                          background: $green;
                          &.unclickable-link {
                            background: $white;
                            .panel-title {
                              a {
                                color: $green;
                                p.title {
                                  color: $green;
                                }
                              }
                            }
                          }
                          .panel-title {
                            a {
                              color: $white;
                              text-align: left;
                              padding: 27.5px 48px 27.5px 15px;
                              span.date {
                                float: left;
                                padding-left: 15px;
                                padding-right: 75px;
                                width: 203.95px;
                              }
                              p.title {
                                padding: 0 !important;
                                margin-left: 205px;
                                color: #fff;
                                margin-bottom: 0;
                              }
                              @include mediaQuery($max, $mobile) {
                                text-align: center;
                                padding: 25px 15px;
                                span {
                                  float: none;
                                  &.date {
                                    padding: 15px;
                                    width: 100%;
                                    display: block;
                                  }
                                }
                                p.title {
                                  padding: 0 !important;
                                  margin-left: 0;
                                  text-align: center;
                                }
                              }
                            }
                          }
                          .request-action {
                            padding: 9px 0px;
                            height: 54px;
                            span + span {
                              display: none;
                            }
                            @include mediaQuery($max, $mobile) {
                              span {
                                display: none;
                              }
                              span + span {
                                display: block;
                              }
                            }
                          }
                          &:hover {
                            .request-action {

                              @include mediaQuery($min, $mobile) {
                                span {
                                  display: none;
                                }
                                span + span {
                                  display: block;
                                }
                              }
                            }
                          }
                        }
                        &.unavailable-programme {
                          .panel-heading {
                            background: #F3F3F3;
                            .panel-title {
                              a {
                                color: #b3b3b3;
                              }
                            }
                          }
                        }
                      }
                      .panel-collapse {
                        .panel-body {
                          padding: 40px 80px;
                          border: 1px solid $mid-grey;
                          border-top: none;
                          p {
                            text-align: left;
                            padding-bottom: 0px;
                            span {
                              display: inline-block;
                            }
                          }
                        }
                      }
                    }
                  }
                  .personal-appointment-edit {
                    .meeting-request-accordion {
                      position: relative;
                    }
                    .btn.btn-default {
                      position: absolute;
                      margin-top: 0;
                      width: inherit !important;
                      color: $white;
                      background-color: $white;
                      padding: 15px 12px;
                      top: 13px;
                      right: 100px;
                      &:hover, &:focus {
                        text-decoration: none;
                      }
                      @include mediaQuery($max, $mobile) {
                        margin-right: 10px;
                        width: 100px !important;
                      }
                      &.delete-appointment {
                        @include mediaQuery($max, $mobile) {
                          position: static;
                        }
                      }
                    }
                    .dashboard-action {
                      display: inline-block;
                    }
                    &.selected-appointment-block {
                      .btn.btn-default {
                        color: $green;
                        background-color: #fff;
                        &:hover, &:focus {
                          border-color: $white;
                          color: $white;
                          background-color: $green;
                        }
                      }
                    }
                    &.unavailable-request-block {
                      .btn.btn-default {
                        color: $white;
                        background-color: $green;
                        &:hover, &:focus {
                          color: $green;
                          background-color: #fff;
                        }
                      }
                    }
                  }
                  .personal-appointment-unselected-block {
                    .meeting-request-accordion {
                      padding: 11.5px 30px;
                      .left-container-details {
                        .left-time {
                          p {
                            color: $mid-grey;
                          }
                        }
                        .right-details {
                          padding-top: 15px;
                          padding-bottom: 15px;
                          p {
                            span {
                              color: $mid-grey;
                              font-family: "DIN Light", Arial, sans-serif;
                            }
                          }
                        }
                      }
                      .request-action {
                        padding: 2px 0px;
                        height: 54px;
                        @include mediaQuery($max, $mobile) {
                          display: inline-block;
                          width: 100%;
                          text-align: center;
                          margin-bottom: 15px;
                        }
                        .btn.btn-default {
                          position: relative;
                          margin-top: 0px;
                          width: inherit !important;
                          color: $white;
                          padding: 15px 12px;
                          margin-right: 35px;
                          &:hover, &:focus {
                            color: $green;
                            text-decoration: none;
                          }
                          @include mediaQuery($max, $mobile) {
                            margin-right: 10px;
                            width: 100px !important;
                          }
                        }
                        .available-accept-btn {
                          display: none;
                        }

                        @include mediaQuery($max, $mobile) {
                          .unavailable-btn {
                            display: none;
                          }
                          .available-accept-btn {
                            display: inline-block;
                          }
                        }
                        a {
                          color: $mid-grey;
                          display: inline-block;
                        }
                      }
                      &:hover {
                        .request-action {

                          @include mediaQuery($min, $mobile) {
                            .unavailable-btn {
                              display: none;
                            }
                            .available-accept-btn {
                              display: inline-block;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .my-planner {
          padding-left: 15px;
          padding-right: 15px;
          .panel-body {
            padding: 0px !important;
            .meeting-request-accordion {
              display: flow-root;
              padding: 11.5px 30px;
              @media (min-width: 768px) and (max-width: 1199px) {
                padding: 11.5px 10px !important;
              }
              @media (min-width: 1200px) and (max-width: 1249px) {
                padding-left: 25px !important;
                padding-right: 25px !important;
              }
              @media (min-width: 1250px) {
                padding-right: 48px !important;
              }
              .left-container-details {
                display: inline-block;
                @include mediaQuery($max, $mobile) {
                  display: block;
                  margin-bottom: 20px;
                }
                .left-time {
                  padding-left: 0px;
                  width: 175px;
                  display: inline-block;
                  padding: 14px 0px;
                  @media (min-width: 768px) and (max-width: 991px) {
                    width: 100px;
                  }
                  @include mediaQuery($max, $mobile) {
                    display: block;
                    margin: 0px auto;
                  }
                  p {
                    padding-bottom: 0px !important;
                    margin-bottom: 0px;
                    text-align: left;
                    @include mediaQuery($max, $mobile) {
                      text-align: center;
                    }
                  }
                }
                .right-details {
                  display: inline-block;
                  vertical-align: top;
                  padding: 0px 0px 0px 10px;
                  @include mediaQuery($max, $mobile) {
                    display: block;
                    padding: 0px;
                  }
                  @media (min-width: 768px) and (max-width: 1199px) {
                    padding: 0px 0px 0px 10px;
                  }
                  p {
                    margin-bottom: 0px;
                    padding-bottom: 0 !important;
                    text-align: left;
                    @media (min-width: 1100px) and (max-width: 1199px) {
                      font-size: 15px;
                    }
                    @media (min-width: 992px) and (max-width: 1099px) {
                      font-size: 12px;
                    }
                    @include mediaQuery($max, $mobile) {
                      text-align: center !important;
                    }
                    span {
                      text-transform: uppercase;
                    }
                  }
                }
              }
              .request-action {
                display: inline-block;
                float: right;
                @media (min-width: 768px) and (max-width: 1199px) {
                  a.dashboard-action {
                    margin-bottom: 10px;
                  }
                }
                @include mediaQuery($max, $mobile) {
                  display: block;
                  float: none;
                  width: 220px;
                  margin: 0 auto;
                  text-align: center;
                  a.dashboard-action {
                    text-align: center;
                  }
                }
                a.dashboard-action {
                  &:first-child {
                    margin-bottom: 15px;
                  }
                  &:last-child {
                    margin-bottom: 0px;
                  }
                }
              }
            }
          }
        }
      }
      h2 {
        span {
          padding-left: 15px;
          @include mediaQuery($max, $mobile) {
            padding-left: 5px;
          }
          img {
            vertical-align: baseline;
          }
        }
      }
      .update-form {
        h3 {
          text-transform: uppercase;
          margin-top: 0px;
          font-family: "DIN Bold", Arial, sans-serif;
          font-size: 20px;
        }
        p {
          sup {
            color: $green;
          }
        }
        form {
          .form-group {
            @include mediaQuery($max, $mobile) {
              width: 90%;
            }
            &.visa {
              padding-top: 40px;
            }
            &.bio {
              label {
                font-family: "DIN Regular", Arial, sans-serif;
                text-transform: uppercase;
                padding-right: 0px;
                padding-bottom: 15px;
              }
            }
            .control-panel {
              &.vertical-empty {
                height: 35px;
              }
            }
          }
        }
      }
      .panel-group {
        .panel.panel-default {
          .panel-heading {
            h4.panel-title {
              a {
                padding: 15px 15px 15px 40px;
              }
            }
          }
          .panel-body {
            border-left: 1px solid $mid-grey;
            border-right: 1px solid $mid-grey;
            padding: 0px;
            a.dashboard-action {
              display: block;
              text-align: right;
              color: $darker-grey;
              text-transform: uppercase;
              font-size: 16px;
              line-height: 16px;
              cursor: pointer;
              font-family: "DIN Light", Arial, sans-serif;
              @media (min-width: 992px) and (max-width: 1099px) {
                font-size: 12px;
                line-height: 12px;
              }
              @media (min-width: 1100px) and (max-width: 1199px) {
                font-size: 14px;
                line-height: 14px;
              }
              &:hover {
                text-decoration: none;
              }
              span {
                padding-left: 5px;
                display: inline-block;
                vertical-align: middle;
                padding-bottom: 5px;
              }
              &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
              }
            }
            .two-column-accordion {
              display: flow-root;
              padding: 30px 40px 25px 40px;
              border-bottom: 1px solid $mid-grey;
              @media (min-width: 768px) and (max-width: 991px) {
                padding: 30px 25px 25px 25px;
              }
              @media (min-width: 992px) and (max-width: 1099px) {
                padding: 15px 10px 10px 10px;
              }
              @media (min-width: 1100px) and (max-width: 1199px) {
                padding: 20px 15px 15px 15px;
              }
              @media (min-width: 1200px) and (max-width: 1249px) {
                padding-left: 25px;
                padding-right: 25px;
              }
              @media (min-width: 1250px) {
                padding-right: 48px;
              }
              .left-container-details {
                display: inline-block;
                @include mediaQuery($max, $mobile) {
                  display: block;
                }
                .left-image {
                  padding-left: 0px;
                  width: 64px;
                  height: 64px;
                  display: inline-block;
                  @include mediaQuery($max, $mobile) {
                    display: block;
                    margin: 0px auto;
                  }
                }
                .right-details {
                  display: inline-block;
                  vertical-align: top;
                  padding: 8px 0px 8px 15px;
                  @include mediaQuery($max, $mobile) {
                    display: block;
                    padding: 20px 0px 20px 0px;
                  }
                  @media (min-width: 992px) and (max-width: 1199px) {
                    padding: 8px 0 8px 5px;
                  }
                  p {
                    margin-bottom: 0px;
                    @media (min-width: 1100px) and (max-width: 1199px) {
                      font-size: 15px;
                    }
                    @media (min-width: 992px) and (max-width: 1099px) {
                      font-size: 12px;
                    }
                    @include mediaQuery($max, $mobile) {
                      text-align: center !important;
                    }
                    span {
                      text-transform: uppercase;
                    }
                  }
                }
              }
              .request-action {
                display: inline-block;
                float: right;
                padding-top: 1%;
                @media (min-width: 1200px) and (max-width: 1439px) {
                  padding-top: 2%;
                }
                @media (min-width: 992px) and (max-width: 1199px) {
                  padding-top: 3%;
                  a.dashboard-action {
                    margin-bottom: 10px;
                  }
                }
                @media (min-width: 768px) and (max-width: 991px) {
                  padding-top: 2%;
                  a.dashboard-action {
                    margin-bottom: 10px;
                  }
                }
                @include mediaQuery($max, $mobile) {
                  display: block;
                  float: none;
                  width: 100px;
                  margin: 0px auto;
                }
                a.dashboard-action {
                  &:first-child {
                    margin-bottom: 15px;
                  }
                  &:last-child {
                    margin-bottom: 0px;
                  }
                }
              }
            }
            .three-column-accordion {
              display: flow-root;
              div {
                border-bottom: 1px solid $mid-grey;
                padding: 12.5px 40px;
                &:first-child {
                  p {
                    text-transform: uppercase;
                    a {
                      &:hover {
                        text-decoration: none;
                      }
                      &:focus {
                        outline: none;
                      }
                    }
                  }
                }
                &:nth-last-child(1) {
                  p {
                    padding-left: 50px;
                  }
                }
              }
            }
          }
        }
      }
      a.btn-default {
        height: 51px;
        width: 237px;
        font-size: 18px;
        line-height: 18px;
        &.active {
          background: $white;
          color: $green;
          box-shadow: none;
          border-color: $green;
        }
      }
      h2 {
        font-size: 23px;
      }
      .modal {
        z-index: 10000;
        &#logout {
          .modal-dialog {
            top: 50%;
            margin-top: -118.5px;
            .modal-body {
              padding: 45px 12px;
            }
          }
        }
        &#delete-appointment {
          .modal-dialog {
            top: 50%;
            margin-top: -118.5px;
            .modal-body {
              padding: 45px 12px;
            }
          }
        }
        &#myavailability {
          .modal-dialog {
            top: 0px;
            margin-top: 1%;
            .modal-body {
              padding: 45px 12px;
              span#checkall, span#uncheckall {
                padding-right: 10px;
                cursor: default;
                input[type=checkbox] {
                  display: none;
                }
                label {
                  text-transform: uppercase;
                  color: $darker-grey;
                  font-family: "DIN Light", Arial, sans-serif;
                  display: inline-block !important;
                  background-position: right !important;
                  padding-left: 0px;
                  font-size: 15px;
                  padding-right: 25px;
                  width: auto;
                  &:hover {
                    color: $green;
                  }
                }
                input[type=checkbox] + label {
                  display: block;
                  background-size: auto;
                }
              }
              span#checkall {
                label {
                  //width: 20%;
                  @include mediaQuery($max, $mobile) {
                    width: 100%;
                  }
                }
                input[type=checkbox] + label {
                  background: url("../img/GBF2017/accept.png") no-repeat;
                }
                input[type=checkbox]:checked + label {
                  background: url("../img/GBF2017/accept.png") no-repeat;
                }
              }
              span#uncheckall {
                label {
                  //width: 24.5%;
                  @include mediaQuery($max, $mobile) {
                    width: 100%;
                  }
                }
                input[type=checkbox] + label {
                  background: url("../img/GBF2017/decline.png") no-repeat;
                  display: inline-block;
                }
                input[type=checkbox]:checked + label {
                  background: url("../img/GBF2017/decline.png") no-repeat;
                  display: inline-block;
                }
              }
              p {
                margin-bottom: 20px;
              }
              span + span {
                padding-right: 0px;
              }
              .day-block {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 0px;
                @include mediaQuery($max, $mobile) {
                  padding-right: 0px;
                }
                h4 {
                  background: $green;
                  color: $white;
                  padding: 15px 10px;
                  text-align: center;
                  font-size: 17px;
                  font-family: "DIN Light", Arial, sans-serif;
                  margin-bottom: 0px;
                }
                ul {
                  border-left: 1px solid $light-grey;
                  border-right: 1px solid $light-grey;
                  list-style: none;
                  padding-left: 0px;
                  margin-bottom: 0px;
                  li {
                    padding: 10px 15px 10px 15px;
                    &:nth-child(even) {
                      background: $light-grey;
                    }
                    input[type=checkbox] {
                      display: none;
                    }
                    label {
                      text-transform: inherit;
                      font-family: "DIN Light", Arial, sans-serif;
                      display: block;
                      padding-left: 0px;
                      background-position: right !important;
                    }
                    input[type=checkbox] + label {
                      display: block;
                      background: url("../img/GBF2017/accept.png") no-repeat;
                      background-size: auto;
                      background-position: right !important;
                    }
                    input[type=checkbox]:checked + label {
                      background: url("../img/GBF2017/decline.png") no-repeat;
                      display: block;
                      background-size: auto;
                      background-position: right !important;
                    }
                    input[type=checkbox]:checked + label.all-checked {
                      background: url("../img/GBF2017/accept.png") no-repeat;
                    }
                    input[type=checkbox] + label.all-unchecked {
                      background: url("../img/GBF2017/decline.png") no-repeat;
                    }
                  }
                }
              }
              .day-block + .day-block {
                padding-right: 0px;
              }
              .btn.btn-default {
                float: right;
                margin-right: 0px;
              }
            }
          }
        }
        &#add-appointment {
          .modal-dialog {
            top: 0px;
            margin-top: 1%;
            .modal-body {
              padding: 45px 12px;
              sup {
                color: $green;
              }
              small {
                font-size: 95%;
                margin-bottom: 25px;
                display: block;
              }
              form {
                padding: 0px;
                ul {
                  font-size: 95%;
                  color: red;
                  padding-left: 15px;
                }
                small {
                  color: red;
                  margin-bottom: 5px;
                }
                .form-group {
                  display: inline-block;
                  width: 100%;
                  margin-bottom: 40px;
                  &:last-child {
                    margin-bottom: 0px;
                  }
                  h3 {
                    color: $darker-grey;
                    font-family: "DIN Medium", Arial, sans-serif;
                    font-size: 20px;
                    text-align: left;
                    margin-bottom: 20px;
                  }
                  label {
                    font-family: "DIN Medium", Arial, sans-serif;
                    text-transform: uppercase;
                    padding: 0px;
                    margin-bottom: 15px;
                    span {
                      font-size: 14px;
                    }
                  }
                  button[type=submit] {
                    width: 300px;
                    float: right;
                    @include mediaQuery($max, $mobile) {
                      float: none;
                      width: inherit;
                      font-size: 18px;
                      line-height: 18px;
                    }
                  }
                  .bootstrap-select {
                    width: inherit;
                    padding: 0px;
                    button[type=button] {
                      padding-left: 9px;
                      padding-right: 35px;
                      border: 1px solid $light-grey;
                      .bs-caret {
                        .caret {
                          right: 35px;
                        }
                      }
                    }
                    .dropdown-menu {
                      ul {
                        li {
                          a {
                            &:hover {
                              background: $green;
                              color: $white;
                            }
                          }
                        }
                      }
                    }
                  }
                  .select-option-group {
                    padding-left: 0px;
                    @include mediaQuery($max, $mobile) {
                      width: 100%;
                      margin-bottom: 15px;
                      padding-right: 0px;
                    }
                  }
                  .select-option-group + .select-option-group {
                    padding: 0px 0px 0px 30px;
                    @include mediaQuery($max, $mobile) {
                      width: 100%;
                      padding: 0px;
                      margin-bottom: 0px;
                    }
                  }
                  .form-control {
                    border: 1px solid $light-grey;
                  }
                  &#appointmentDayGroup {
                    input[type=checkbox] {
                      display: none;
                    }
                    label {
                      text-transform: capitalize;
                      font-family: "DIN Light", Arial, sans-serif;
                      display: block;
                      padding-left: 45px;
                    }
                    input[type=checkbox] + label {
                      display: block;
                      background: url("../img/GBF2017/checkbox_unchecked.png") no-repeat;
                      background-size: contain;
                      @media (max-width: 465px) {
                        background-size: auto;
                        font-size: 19px;
                        line-height: 34px;
                      }
                    }
                    input[type=checkbox]:checked + label {
                      background: url("../img/GBF2017/checkbox_checked.png") no-repeat;
                      display: block;
                      background-size: contain;
                      @include mediaQuery($max, $mobile) {
                        background-size: auto;
                      }
                    }
                  }
                  &#appointmentTimeSlotGroup {
                    label {
                      text-transform: capitalize;
                      font-family: "DIN Light", Arial, sans-serif;
                      margin-bottom: 0px;
                      @include mediaQuery($max, $mobile) {
                        margin-bottom: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.delegate-planner-profile {
          .modal-dialog {
            margin: 92px auto 30px auto;
            .modal-body {
              padding: 45px 12px;
              h2 {
                text-transform: uppercase;
                text-align: left;
                margin-top: 0px;
                font-family: "DIN Light", Arial, sans-serif;
                font-size: 40px;
                line-height: 40px;
                color: $dark-grey;
                span {
                  display: block;
                  font-family: "DIN Light", Arial, sans-serif;
                  padding-left: 0px;
                  margin-bottom: 20px;
                }
              }
              span.title {
                display: block;
                font-family: "DIN Regular", Arial, sans-serif;
                margin-bottom: 25px;
                span.country {
                  display: block;
                  font-family: "DIN Regular", Arial, sans-serif;
                  margin-bottom: 25px;
                }
              }
              p {
                font-family: "DIN Regular", Arial, sans-serif;
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 30px;
                &:not(.text-center) {
                  text-align: left;
                }
              }
            }
          }
        }
        &#update-photo {
          .modal-dialog {
            top: 50%;
            margin-top: -161px;
            .modal-body {
              padding: 45px 12px;
              small {
                font-size: 95%;
                margin-bottom: 25px;
                display: block;
                sup {
                  color: $green;
                }
              }
              p {
                padding-bottom: 25px;
                text-align: left;
                span {
                  display: inline-block;
                }
                sup {
                  color: $green;
                  display: inline-block;
                }
              }
              .fileinput.input-group {
                .btn-file {
                  border-radius: 0px;
                  border: 2px solid $green;
                  background: $white;
                  padding: 6px 25px;
                  font-size: 19px;
                  line-height: 19px;
                  span {
                    color: $green;
                    text-transform: uppercase;
                  }
                  input {
                    color: $green;
                  }
                }
                .form-control {
                  border-radius: 0px;
                  height: 50px;
                }
              }
              .uploading-button {
                @include mediaQuery($max, $mobile) {
                  width: 186px;
                  margin: 0px auto;
                }
              }
              .btn.btn-default.upload-photo {
                width: 125px;
                margin-left: 15px;
                margin-top: 0px;
              }
            }
          }
        }
        &.request-meeting {
          .modal-dialog {
            margin: 92px auto 30px auto;
            .modal-body {
              padding: 45px 12px;
              h2 {
                text-transform: uppercase;
                text-align: left;
                margin-top: 0px;
                font-family: "DIN Light", Arial, sans-serif;
                font-size: 40px;
                line-height: 40px;
                color: $dark-grey;
                span {
                  display: block;
                  font-family: "DIN Light", Arial, sans-serif;
                  padding-left: 0px;
                  margin-bottom: 20px;
                }
              }
              h3 {
                text-transform: uppercase;
                color: $green;
                font-family: "DIN Bold", Arial, sans-serif;
                font-size: 20px;
                margin-bottom: 10px;
                margin-top: 10px;
              }
              span.title {
                display: block;
                font-family: "DIN Regular", Arial, sans-serif;
                margin-bottom: 25px;
                span.country {
                  display: block;
                  font-family: "DIN Regular", Arial, sans-serif;
                  margin-bottom: 25px;
                }
              }
              p {
                text-align: left;
                font-family: "DIN Regular", Arial, sans-serif;
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 30px;
              }
              .slot-container {
                .time-slot {
                  p {
                    text-transform: uppercase;
                    font-family: "DIN Medium", Arial, sans-serif;
                    padding-bottom: 0px;
                    margin-bottom: 10px;
                    font-size: 20px;
                  }
                  .bootstrap-select {
                    button[type="button"] {
                      border-radius: 0px;
                      border: 1px solid #ccc;
                      font-family: "DIN Regular", Arial, sans-serif;
                      font-size: 18px;
                      padding-left: 20px;
                      padding-right: 65px;
                      &:not(.bs-placeholder) {
                        color: $green;
                        border: 1px solid $green;
                        box-shadow: none;
                        &:focus {
                          box-shadow: none;
                        }
                      }
                      &:hover {
                        background: $white;
                        outline: none !important;
                      }
                      &:focus {
                        @include input-fields-keyline;
                      }
                      span.bs-caret {
                        .caret {
                          border: none;
                          top: inherit;
                          right: 50px;
                          margin-top: 4px;
                          &:before {
                            content: url("../images/common/arrow-down.png");
                            position: absolute;
                          }
                        }
                      }
                    }
                    .dropdown-menu {
                      border-radius: 0px;
                    }
                  }
                }
              }
              .note-container {
                p {
                  text-transform: uppercase;
                  font-family: "DIN Medium", Arial, sans-serif;
                  padding-bottom: 0px;
                  padding-top: 40px;
                  margin-bottom: 10px;
                  font-size: 20px;
                  span {
                    font-size: 14px;
                    display: inline-block;
                    font-family: "DIN Medium", Arial, sans-serif;
                    margin-bottom: 0px;
                  }
                }
                textarea {
                  border-radius: 0px;
                  font-family: "DIN Regular", Arial, sans-serif;
                  font-size: 18px;
                  line-height: 18px;
                  padding: 15px;
                }
              }
            }
          }
        }
        .modal-content {
          box-shadow: none;
          background: transparent;
          border: none;
          .modal-header {
            background: $green;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            padding: 8px 15px 8px 50px;
            h4 {
              font-family: "DIN Light", Arial, sans-serif;
              color: $white;
              text-transform: uppercase;
              font-size: 16px;
              letter-spacing: 1px;
            }
            .close {
              margin-top: 0px;
              color: #FFF;
              opacity: 1;
              font-size: 25px;
              font-weight: 100;
              line-height: 16px;
              &:focus {
                outline: none;
              }
            }
          }
          .modal-body {
            background: $white;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            display: inline-block;
            width: 100%;
            padding: 45px !important;
            p {
              font-size: 20px;
              &:not(.text-center) {
                text-align: left;
              }
            }
            .request-action {
              a.btn.btn-default {
                font-family: "DIN Regular", Arial, sans-serif;
                margin-right: 20px;
                margin-top: 20px;
                width: 120px;
              }
              a.btn.btn-default + a.btn.btn-default {
                margin-right: 0px;
              }
            }
          }
        }
      }
      .dashboard-left {
        h2 {
          margin: 40px 0px 10px 0px;
          color: $green;
          font-family: "DIN Bold", Arial, sans-serif;
          font-size: 20px;
          text-transform: uppercase;
          @include mediaQuery($max, $mobile) {
            text-align: center;
          }
        }
        h3 {
          text-align: left;
          margin-top: 0px;
          margin-left: -3px;
          font-family: "DIN Light", Arial, sans-serif;
          font-size: 40px;
          line-height: 40px;
          color: $dark-grey;
          text-transform: uppercase;
          @include mediaQuery($max, $mobile) {
            text-align: center;
          }
          span {
            display: block;
          }
        }
        p {
          text-align: left !important;
          padding-bottom: 0px !important;
          margin-bottom: 20px;
          font-size: 18px;
          &:first-child {
            margin-bottom: 0px;
          }
          &:last-child {
            margin-bottom: 40px;
          }
          span {
            font-family: "DIN Bold", Arial, sans-serif;
          }
          a {
            color: $green;
            text-decoration: underline;
          }
        }
        .buttons {
          @include mediaQuery($max, $tablet) {
            padding: 0px 0px 30px 0px;
          }
          @include mediaQuery($max, $mobile) {
            text-align: center;
          }
          .update-photo {
            &:hover {
              background: $white !important;
              color: $green !important;
            }
            &.active {
              background: $white !important;
              color: $green !important;
            }
          }
        }
        img {
          @include mediaQuery($max, $tablet) {
            width: 275px;
          }
          @include mediaQuery($max, $mobile) {
            margin: 0px auto;
          }
        }
      }
      .dashboard-right {
        padding-left: 45px;
        @include mediaQuery($max, $tablet) {
          padding-left: 15px;
        }
        p {
          text-align: left !important;
          padding-bottom: 0px !important;
          margin-bottom: 20px;
          font-size: 18px;
          &:first-child {
            margin-bottom: 0px;
          }
          span {
            font-family: "DIN Bold", Arial, sans-serif;
          }
          a {
            color: $green;
            text-decoration: underline;
          }
        }
        .side-by-side-link {
          position: relative;
          a {
            position: absolute;
            display: block;
            right: 15px;
            top: -26px;
            text-transform: uppercase;
            font-size: 16px;
            font-family: "DIN Regular", Arial, sans-serif;
            color: $dark-grey;
            @include mediaQuery($max, $mobile) {
              right: 0px;
            }
          }
        }
      }
    }
    &.programme {
      .date {
        padding: 15px;
        span {
          font-family: "DIN Medium", Arial, sans-serif;
          font-size: 18px;
        }
      }
      h2 {
        text-transform: capitalize;
        font-size: 25px;
        font-family: "DIN Regular", Arial, sans-serif;
        margin-bottom: 15px;
        &.tab-header-text {
          display: inline-block;
        }
        &.day-2 {
          margin-top: 60px;
          margin-bottom: 37px;
        }
        span {
          &.day {
            color: $green;
          }
        }
      }
      img.tab-header-icon {
        display: inline-block;
        margin: 0px 15px 15px 0px;
      }
      ul.nav.nav-tabs {
        li {
          a {
            min-width: 270px;
            @media (min-width: 768px) and (max-width: 1199px) {
              min-width: 155px;
              padding: 12px 35px;
            }
          }
        }
      }
      .panel-group {
        .panel.panel-default {
          margin: 0px 0px 40px 0px;
          @include mediaQuery($max, $mobile) {
            margin-bottom: 20px;
          }
          .panel-body {
            p {
              font-size: 18px;
              text-align: left;
              padding-bottom: 0px;
              span {
                color: $green;
                display: inline-block;
              }
            }
            h4 {
              text-decoration: underline;
              font-size: 14px;
            }
          }
        }
      }
    }
    #programme-tab {
      p {
        &.no-results {
          font-size: 20px;
          margin-bottom: 100px;
        }
      }
      .panel-default {
        .panel-body {
          .content-block {
            h4 {
              text-decoration: underline;
              font-size: 14px;
              font-family: "DIN Regular", Arial, sans-serif;
            }
            p {
              &.expanded-tab {
                //                                display: none;
              }
              padding-bottom: 0px;
              text-align: left;
              span {
                display: inline-block;
              }
            }
            .expanded-tab {
              padding-bottom: 0px;
              h4 {
                margin-top: 0px;
              }
            }
          }
        }
      }
    }
    #speakers-tab, #delegates-tab {
      .tab-content {
        .tab-pane {
          p {
            padding: 30px 0px 70px 0px;
            font-size: 20px;
          }
        }
      }
    }
    &.knowledge-hub {
      #knowlede-hub-tab {
        ul.nav.nav-tabs {
          li {
            a {
              min-width: 300px;
            }
          }
        }
      }
      .panel.panel-default {
        .panel-body {
          min-height: 175px;
          h3 {
            padding-left: 30px;
          }
          p {
            padding-left: 0px;
          }
        }
      }
    }
    ul.nav.nav-tabs {
      border: none;
      text-align: center;
      @include mediaQuery($max, $mobile) {
        padding-right: 0px;
      }
      li {
        margin-bottom: -2px;
        float: none;
        display: inline-block;
        &.active {
          a {
            color: $green;
            background: $light-grey;
            border: 1px solid $light-grey;
            &:hover {
              background: $light-grey;
            }
            &:focus {
              outline: none;
            }
          }
        }
        &.close-button {
          vertical-align: top;
          margin: 0px;
          height: 83px;
          @media (min-width: 768px) and (max-width: 1199px) {
            height: 63px;
          }
          button.close {
            opacity: 1;
            color: $mid-grey;
            font-weight: 100;
            text-shadow: none;
            padding: 23px 0px 23px 25px;
            @media (min-width: 768px) and (max-width: 1199px) {
              padding: 13px 0px 13px 25px;
            }
            &:focus {
              outline: none;
            }
          }
        }
        a {
          color: $dark-grey;
          //text-transform: uppercase;
          background: transparent;
          border-radius: 0px;
          font-family: "DIN Light", Arial, sans-serif;
          font-size: 32px;
          margin-bottom: 2px;
          padding: 12px 25px;
          border: 1px solid $white;
          min-width: 490.8px;
          @include mediaQuery($max, $mobile) {
            min-width: 100%;
          }
          span {
            text-transform: lowercase;
          }
          &:hover {
            background: $white;
          }
          &:focus {
            outline: none;
          }
          @media (min-width: 768px) and (max-width: 1199px) {
            min-width: 230px;
            font-size: 26px;
          }
        }
      }
    }
    .tab-content {
      padding-top: 40px;
      padding-bottom: 40px;
      background: $light-grey;
      display: inline-block;
      width: 100%;
      @include mediaQuery($min, $min-large-desktop) {
        padding-left: 200px !important;
        padding-right: 200px !important;
      }
      .tab-pane {
        p {
          text-align: center;
          padding-bottom: 40px;
          span {
            display: block;
          }
        }
      }
    }
  }
  .custom-tabs {
    &.hotel-finder {
      .panel.panel-default {
        .anchor {
          display: block;
          position: absolute;
          top: -180px;
        }
        .image-block {
          .expanded-tab {
            padding: 0px;
            @include mediaQuery($max, $tablet) {
              display: none;
            }
          }
          span.promo-heading {
            padding: 40px 0px 5px 30px;
            font-size: 24px;
            line-height: 24px;
            font-weight: 500;
            font-family: "DIN medium", Arial, sans-serif;
            text-transform: inherit;
            color: $dark-grey;
            display: block;
            width: 100%;
          }
          span.promo-heading + span {
            padding: 0px 0px 10px 30px;
            color: $dark-grey;
            font-size: 18px;
            line-height: 18px;
            font-weight: 500;
            font-family: "DIN Regular", Arial, sans-serif;
            width: 100%;
            display: block;
          }
          .copy-code {
            padding: 15px 0px 0px 30px;
            .copy-box {
              display: inline-block;
              -moz-box-shadow: inset 0 0 0 1px $mid-grey;
              -webkit-box-shadow: inset 0 0 0 1px $mid-grey;
              box-shadow: inset 0 0 0 1px $mid-grey;
              padding: 15px 65px 15px 15px;
              width: 69.2%;
              line-height: 14px;
              @media (min-width: 992px) and (max-width: 1199px) {
                padding: 15px 25px 15px 15px;
              }
              span {
                text-transform: uppercase;
                font-size: 12px;
                line-height: 12px;
                font-family: "DIN light", Arial, sans-serif;
                &.code {
                  color: $green;
                  font-size: 18px;
                  line-height: 18px;
                  font-family: "DIN Regular", Arial, sans-serif;
                  float: right;
                  @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 13px;
                    line-height: 13px;
                  }
                }
              }
            }
            .copy-button {
              display: inline-block;
              color: $green;
              width: 29.2%;
              text-align: right;
              padding: 15px 0px;
              line-height: 14px;
              vertical-align: top;
              button {
                text-transform: uppercase;
                background: $white;
                border: none;
                font-size: 18px;
                line-height: 18px;
                font-family: "DIN medium", Arial, sans-serif;
                padding-right: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                @media (min-width: 992px) and (max-width: 1199px) {
                  font-size: 13px;
                  line-height: 13px;
                }
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
        .content-block {
          padding: 50px 65px 82px 65px;
          @include mediaQuery($max, $tablet) {
            padding: 50px 65px 105px 65px;
          }
          h3 {
            position: relative;
            &:before {
              position: absolute;
              content: url("../images/tabs/pin.png");
              left: -41px;
            }
          }
          p {
            font-size: 16px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            &.distance, &.map-link {
              margin-bottom: 15px;
            }
            &.map-link {
              a {
                //cursor: default;
                text-decoration: underline;
                color: $green;
              }
            }
            &.contact {
              margin-bottom: 0px !important;
              &.last-field {
                padding-bottom: 40px;
              }
              a {
                text-decoration: none;
              }
            }
          }
          .expanded-tab {
            a.check-availability {
              font-family: "DIN Regular", Arial, sans-serif;
              text-transform: uppercase;
              color: $green;
              padding: 12px;
              font-size: 17px;
              line-height: 17px;
              letter-spacing: 1px;
              border: 1px solid $green;
              display: inline-block;
              width: 215px;
              text-align: center;
              &:hover {
                text-decoration: none;
                background: $green;
                color: $white;
              }
              &:focus {
                text-decoration: none;
                outline: none;
              }
            }
            .promo-code {
              display: none;
              @include mediaQuery($max, $tablet) {
                display: block;
              }
              span.promo-heading {
                padding: 25px 0px 5px 0px;
                margin-top: 0px;
                font-size: 24px;
                line-height: 24px;
                font-weight: 500;
                font-family: "DIN medium", Arial, sans-serif;
                text-transform: inherit;
                color: $dark-grey;
                display: block;
                width: 100%;
              }
              span.promo-heading + span {
                padding: 0px 0px 10px 0px;
                margin-top: 0px;
                color: $dark-grey;
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                font-family: "DIN Regular", Arial, sans-serif;
                width: 100%;
                display: block;
              }
              .copy-code {
                padding: 15px 0px 0px 0px;
                .copy-box {
                  display: inline-block;
                  -moz-box-shadow: inset 0 0 0 1px $mid-grey;
                  -webkit-box-shadow: inset 0 0 0 1px $mid-grey;
                  box-shadow: inset 0 0 0 1px $mid-grey;
                  padding: 15px 65px 15px 15px;
                  width: 69.2%;
                  line-height: 14px;
                  @media (max-width: 518px) {
                    width: 100%;
                    display: block;
                  }
                  span {
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 12px;
                    font-family: "DIN light", Arial, sans-serif;
                    &.code {
                      color: $green;
                      font-size: 18px;
                      line-height: 18px;
                      font-family: "DIN Regular", Arial, sans-serif;
                      float: right;
                    }
                  }
                }
                .copy-button {
                  display: inline-block;
                  color: $green;
                  width: 29.2%;
                  text-align: right;
                  padding: 15px 0px;
                  line-height: 14px;
                  vertical-align: top;
                  @media (max-width: 518px) {
                    width: 100%;
                    display: block;
                  }
                  button {
                    text-transform: uppercase;
                    background: $white;
                    border: none;
                    font-size: 18px;
                    line-height: 18px;
                    font-family: "DIN medium", Arial, sans-serif;
                    padding-right: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    &:focus {
                      outline: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .anchor {
      display: block;
      position: absolute;
      top: -150px;
    }
    .list-name {
      margin-bottom: 25px;
    }
    span.bold {
      font-family: "DIN Bold", Arial, sans-serif;
    }
    span.bold + span {
      display: block;
    }
    &.sponsors-partners {
      h2 {
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 40px;
        font-family: "DIN Light", Arial, sans-serif;
        color: $dark-grey;
      }
      .panel {
        display: inline-block;
        .panel-body {
          p {
            padding-bottom: 0px;
            text-align: left;
          }
          a.url-link {
            color: $green;
            font-family: "DIN Regular", Arial, sans-serif;
            margin-bottom: 10px;
            display: block;
          }
        }
      }
    }
    .panel {
      box-shadow: none;
      border-radius: 0px;
      border: none;
      margin-bottom: 40px;
      position: relative;
      .panel-body {
        padding: 0px;
        #map {
          display: block;
          height: 350px;
          margin: 0 auto;
          .gm-style {
            h2 {
              font-family: "DIN Light", Arial, sans-serif;
              font-size: 20px;
              text-transform: uppercase;
            }
            p {
              font-family: "DIN Regular", Arial, sans-serif;
              font-size: 17px;
              text-transform: capitalize;
            }
            .gm-style-iw {
              div {
                div {
                  overflow-x: hidden !important;
                }
              }
              img {
                max-width: 100% !important;
              }
            }
          }
        }
        &.travel {
          padding: 50px;
        }
        .image-block {
          padding: 0px;
          img {
            width: 100%;
          }
        }
        .content-block {
          padding: 50px 50px 75px 50px;
          @include mediaQuery($max, $mobile) {
            padding: 25px 25px 75px 25px;
          }
          ul {
            padding-left: 19px;
            li {
              font-size: 17px;
              font-family: "DIN Regular", Arial, sans-serif;
            }
            li + .empty-space {
              margin-bottom: 15px;
            }
          }
          .expanded-tab {
            //                        padding-bottom: 35px;
          }
        }
        a.btn.btn-default {
          width: 320px !important;
          font-family: "DIN Regular", Arial, sans-serif;
          position: absolute;
          right: 0px;
          bottom: 0px;
          padding: 12px 12px;
          @include mediaQuery($max, $tablet) {
            width: 100% !important;
          }
          span {
            padding-left: 10px;
          }
        }
        .another-block {
          .expanded-tab {
            padding: 50px 50px 100px 50px;
            @include mediaQuery($max, $mobile) {
              padding: 25px 25px 100px 25px;
            }
            &.collapse.in {
              display: inline-block;
            }
          }
          h3 {
            font-size: 22px;
            font-family: "DIN Medium", Arial, sans-serif;
            margin-bottom: 15px;
          }
          h4 {
            width: 100%;
            font-size: 18px;
            color: $dark-grey;
          }
          hr {
            margin: -10px 0px 20px 0px;
            border-top: 1px solid $dark-grey;
          }
          ul {
            padding-left: 0px;
            list-style-type: none;
            &.ceo {
              li {
                margin: 0px;
              }
            }
            li {
              font-family: "DIN Regular", Arial, sans-serif;
              font-size: 18px;
              margin: 15px 0px;
              span {
                display: block;
                font-size: 14px;
              }
            }
          }
        }
        .content-block + div {
          a.btn.btn-default.pull-right {
            width: 210px !important;
            span {
              padding-left: 10px;
            }
          }
        }
        h3 {
          text-transform: uppercase;
          font-family: "DIN Regular", Arial, sans-serif;
          font-size: 30px;
          color: $dark-grey;
          margin-top: 0px;
        }
        p {
          font-size: 17px;
          font-family: "DIN Regular", Arial, sans-serif;
          color: $dark-grey;
          text-align: left;
          &.contact {
            margin-bottom: 0px;
          }
          span {
            text-transform: capitalize;
            color: $green;
            font-family: "DIN Medium", Arial, sans-serif;
          }
          a {
            text-decoration: underline;
            font-family: "DIN Regular", Arial, sans-serif;
            color: $dark-grey;
          }
        }
        p.contact + p.contact {
          margin-bottom: 25px;
        }
        .countries-list {
          margin: 25px 0px;
          ul {
            padding-left: 0px;
            list-style-type: none;
            li {
              font-family: "DIN Regular", Arial, sans-serif;
              font-size: 17px;
            }
          }
        }
        &.left-content {
          a.btn.btn-default {
            left: 0;
            right: auto;
          }
        }
      }
    }

    .panel.panel-normal {
      background: none;
    }
  }
  .media-block {
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0px;
    }
    &.gallery-block {
      .panel-default {
        .panel-footer {
          p {
            position: relative;
            top: -20px;
          }
        }
      }
    }
    a {
      color: $dark-grey;
      &:hover {
        text-decoration: none;
        .panel.panel-default {
          .panel-heading {
            img {
              //-webkit-transform: scale3d(1.2, 1.2, 1);
              //transform: scale3d(1.2, 1.2, 1);
            }
          }
          .panel-footer {
            p {
              text-decoration: underline;
            }
          }
        }
      }
      &:focus {
        text-decoration: none;
      }
      .panel.panel-default {
        border-radius: 0px;
        border: none;
        margin-bottom: 0px;
        .panel-heading {
          border-radius: 0;
          padding: 0 0 40% 0;
          border: none;
          overflow: hidden;
          position: relative;
          &:hover {
            img {
              -webkit-transform: (scale(1.1) translate(-50%, -50%));
              transform: (scale(1.1) translate(-50%, -50%));
            }
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: 150%;
            -webkit-transition: all 0.5s linear;
            transition: all 0.5s linear;
            -webkit-transform: (scale(1) translate(-50%, -50%));
            transform: (scale(1) translate(-50%, -50%));
          }
        }
        .panel-body {
          padding: 30px 30px 0px 30px;
          h3 {
            text-align: left;
            text-transform: uppercase;
            color: $dark-grey;
            margin: 0px 0px 10px 0px;
          }
          p {
            text-align: left;
          }
        }
        .panel-footer {
          height: 36px;
          padding: 0px;
          border-radius: 0px;
          background: $white;
          border: none;
          position: relative;
          p {
            text-transform: uppercase;
            margin-bottom: 0px;
            font-family: "DIN Bold", Arial, sans-serif;
            color: $green;
            float: left;
            padding-left: 30px;
            padding-right: 40px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            text-align: left;
            &:hover {
              text-decoration: underline;
            }
          }
          span {
            position: absolute;
            right: 0;
            top: 0;
            background: $green;
            width: 36px;
            height: 36px;
            float: right;
            img {
              width: 20px;
              height: auto;
              display: block;
              margin: 5px auto;
            }
          }
        }
      }
    }
    .panel.panel-default {
      border-radius: 0px;
      border: none;
      margin-bottom: 0px;
      .panel-heading {
        border-radius: 0px;
        padding: 0px;
        border: none;
        overflow: hidden;
        &:hover {
          img {
            -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
            &.un-scaled {
              -webkit-transform: none;
              transform: none;
            }
          }
        }
        img {
          width: 100%;
          -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          &.un-scaled {
            -webkit-transform: none;
            transform: none;
          }
        }
      }
      .panel-body {
        padding: 30px 30px 0px 30px;
        h3 {
          text-align: left;
          text-transform: uppercase;
          color: $dark-grey;
          margin: 0px 0px 10px 0px;
          padding-left: 0px !important;
        }
      }
      .panel-footer {
        height: 36px;
        padding: 0px;
        border-radius: 0px;
        background: $white;
        border: none;
        margin-top: 25px;
        div {
          padding-left: 0px;
          p {
            padding-bottom: 0px;
            display: grid;
            margin-bottom: 0px;
            position: relative;
            top: -20px;
            text-align: left;
            a {
              text-transform: uppercase;
              margin-bottom: 0px;
              font-family: "DIN Bold", Arial, sans-serif;
              color: $green;
              float: left;
              padding-left: 30px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        div + div {
          padding-right: 0px;
        }
        span {
          background: $green;
          width: 36px;
          height: 36px;
          float: right;
          img {
            width: 20px;
            height: auto;
            display: block;
            margin: 5px auto;
          }
        }
      }
    }
  }
}

.my-planner-wrapper {
  &.edit-mode:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .filter-action-btns {
    position: relative;
  }
}

.time-picker .dropdown ul {
  display: block !important;
}

body.form form .form-group .time-picker input.display-time {
  border: 1px solid #d2d2d2;
}

body.tabs .tabs-copy.dashboard .modal#success-email .modal-content .modal-body p {
  text-align: center;
}

.modal#myavailability {
  input[type=checkbox] + label {
    cursor: pointer;
  }
}

body.tabs .tabs-copy.dashboard #myplanner {
  .appointment-accordion, .information-item {
    .panel-group {
      margin-bottom: 0;
    }
  }
}

body.tabs .tabs-copy.dashboard #myplanner .panel-group .panel.panel-default .panel-collapse.my-planner-accordion .panel-body .accordion.programme {
  margin-top: 0;
}

body.tabs .accordion {
  .edit-mode {
    .panel-group .panel.panel-default {
      .personal-appointment-unselected-block {
        .panel-collapse {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .accordion.programme {
        margin-top: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

body.tabs .tabs-copy.dashboard #myplanner {
  .accordion.programme .panel-group {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .no-content-block {
    .accordion.programme .panel-group {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

body.tabs .dashboard-load .panel-group .panel.panel-default .no-requests.accordion-body {
  .panel-body .request-action {
    padding-top: 0;
    @include mediaQuery($max, $mobile) {
      width: auto;
      text-align: center;
    }
    a {
      position: relative;
      margin-top: 0px;
      width: inherit !important;
      color: #FFF;
      padding: 15px 12px;
      &:hover {
        color: #81b008;
        text-decoration: none;
      }
    }
  }
  .left-container-details {
    padding-top: 12px;
    @include mediaQuery($max, $mobile) {
      margin-bottom: 15px;
      text-align: center;
    }
    span {
      font-family: "DIN Light", Arial, sans-serif;
      color: #b3b3b3;
    }
  }
}

body.tabs .tabs-copy.dashboard .my-planner-head {
  margin-bottom: 21px;
  font-size: 18px;
  text-align: center;
  p {
    font-size: 18px;
  }
}

a.map-scroll-top {
  cursor: pointer;
}

.program-timeslot {
  .my-planner {
    .meeting-request-accordion {
      position: relative;
    }
    .right-details {
      padding-right: 40px !important;
      @include mediaQuery($max, $mobile) {
        padding-right: 0 !important;
      }
    }
    .request-action {
      @include mediaQuery(min-width, $min-tablet) {
        position: absolute;
        right: 25px;
        bottom: 9px;
      }
      @include mediaQuery(min-width, 1250px) {
        right: 48px;
      }
      @include mediaQuery(max-width, $small-desktop) {
        right: 10px;
      }
    }
  }
}