<template>
    <form method="post" @submit.prevent="submit"
          @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">


        <div class="box">
            <div class="box-header with-border">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md pull-left">
                    <label>
                        <input type="checkbox" value="true" name="countdown_enabled"
                               v-model="form.hotel_finder_enabled"><span><h3 class="box-title">Enable Page</h3></span>
                    </label>
                </div>
            </div>

        </div>

        <div :class="{'disabled': !form.hotel_finder_enabled}">
            <div class="box">
                <div class="box-header with-border">
                    <span><h3 class="box-title">Page Meta</h3></span>
                </div>
                <div class="box-body">
                    <div class="col-md-12">

                        <div class="col-md-6 form-group has-feedback"
                             :class="{ 'has-error': form.errors.has('meta_title') }">
                            <label>Meta title</label>

                            <input type="text" class="form-control" placeholder="Meta title" name="meta_title" value=""
                                   v-model="form.meta_title" autofocus/>

                            <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('meta_title')"
                              v-text="form.errors.get('meta_title')"
                              id="validation_error_meta_title"></span>
                            </transition>
                        </div>

                        <div class="col-md-6 form-group has-feedback"
                             :class="{ 'has-error': form.errors.has('meta_description') }">
                            <label>Meta description</label>

                            <input type="text" class="form-control" placeholder="Meta description"
                                   name="meta_description" value=""
                                   v-model="form.meta_description" autofocus/>

                            <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('meta_description')"
                              v-text="form.errors.get('meta_description')"
                              id="validation_error_meta_description"></span>
                            </transition>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6 form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('menu_title') }">
                                    <label>Navigation Label</label>

                                    <input type="text" class="form-control" placeholder="Navigation label"
                                           name="menu_title"
                                           value=""
                                           v-model="form.menu_title" autofocus/>

                                    <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('menu_title')"
                              v-text="form.errors.get('menu_title')"
                              id="validation_error_menu_title"></span>
                                    </transition>
                                </div>

                                <div class="col-md-6 form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('navigation_order') }">
                                    <label>Navigation Order</label>

                                    <input type="text" class="form-control" placeholder="Navigation order"
                                           name="navigation_order" value=""
                                           v-model="form.navigation_order" autofocus/>

                                    <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('navigation_order')"
                              v-text="form.errors.get('navigation_order')"
                              id="validation_error_navigation_order"></span>
                                    </transition>
                                </div>

                                <div class="col-md-12 form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('parent_id') }">
                                    <label for="parent_id">Parent Page</label>

                                    <select class="form-control"
                                           name="parent_id"
                                           id="parent_id"
                                           v-model="form.parent_id" autofocus>
                                        <option value="" disabled>Select Page</option>
                                        <option :value="page.id" v-for="page in pages">{{page.title}}</option>
                                    </select>

                                    <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('parent_id')"
                              v-text="form.errors.get('parent_id')"
                              id="validation_error_parent_id"></span>
                                    </transition>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('header_image_override') }">
                                    <label>Override header image (leave blank to use global header image)</label>

                                    <image-select2 style="width:100%;" :options="assetImages"
                                                   :selected="form.header_image_override" name="header_image_override"
                                                   v-model="form.header_image_override">
                                        <option value="">Select an image</option>
                                    </image-select2>

                                    <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('header_image_override')"
                              v-text="form.errors.get('header_image_override')"
                              id="validation_error_header_image_override"></span>
                                    </transition>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <span><h3 class="box-title">Page Content</h3></span>
                </div>
                <div class="box-body">
                    <div class="col-md-12">

                        <div class="col-md-6 form-group has-feedback"
                             :class="{ 'has-error': form.errors.has('page_heading') }">
                            <label>Page heading</label>

                            <input type="text" class="form-control" placeholder="Page heading" name="page_heading"
                                   value=""
                                   v-model="form.page_heading" autofocus/>

                            <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('page_heading')"
                              v-text="form.errors.get('page_heading')"
                              id="validation_error_page_heading"></span>
                            </transition>
                        </div>

                        <div class="col-md-6 form-group has-feedback"
                             :class="{ 'has-error': form.errors.has('page_subheading') }">
                            <label>Subheading (html allowed)</label>

                            <p class="text-right">
                                Editor height:
                                <button type="button" class="btn btn-sm" @click="editorHeight += 50"><i
                                        class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-sm"
                                        @click="editorHeight = (editorHeight - 50) <= 50 ? editorHeight : editorHeight - 50">
                                    <i class="fa fa-minus"></i></button>
                            </p>
                            <editor v-model="form.page_subheading" @init="editorInit();" lang="html" theme="chrome"
                                    width="100%"
                                    :height="editorHeight + 'px'"></editor>

                            <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('page_subheading')"
                              v-text="form.errors.get('page_subheading')"
                              id="validation_error_page_subheading"></span>
                            </transition>
                        </div>

                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <span><h3 class="box-title">Hotels</h3></span>
                </div>
                <div class="box-body">
                    <div class="col-md-12">

                        <div class="col-md-6 form-group has-feedback">

                            <h4>Conference place</h4>
                            <gmap-map
                                    :center="{lat:lat, lng:lon}"
                                    :zoom="form.zoom"
                                    map-type-id="terrain"
                                    style="width: 100%; height: 300px"
                                    @click="mapClicked"
                                    @rightclick="handleRightClick"
                            >
                                <gmap-marker
                                        :key="index"
                                        v-for="(m, index) in markers"
                                        :position="m.position"
                                        :clickable="true"
                                        :draggable="true"
                                ></gmap-marker>
                            </gmap-map>

                        </div>

                        <div class="col-md-6 form-group has-feedback">

                            <label for="conf_lat">Latitude</label>
                            <input type="number" class="form-control" v-model="form.lat" step="any" id="conf_lat">
                            <hr>

                            <label for="conf_lon">Longitude</label>
                            <input type="number" class="form-control" v-model="form.lon" step="any" id="conf_lon">
                            <hr>

                            <label for="conf_zoom">Zoom Level</label>
                            <input type="number" class="form-control" v-model="form.zoom" step="any" id="conf_zoom">
                            <hr>

                        </div>

                    </div>

                    <hr>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label>Choose hotels to show</label>
                            <div class="list-group">
                                <a class="list-group-item" v-for="hotel in hotel_list" @click="addHotel(hotel)">
                                    {{hotel.title}}
                                    <span class="badge"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Re-order hotels list</label>
                            <draggable v-model="form.ordered_hotels" :options="{}" @start="drag=true" @end="drag=false"
                                       :class="'list-group'">
                                <div v-for="(hotel, index) in form.ordered_hotels" class="list-group-item">
                                    {{hotel.title}}
                                    <input type="text" class="hotels-distance" v-model="hotel.pivot.distance"
                                           placeholder="Distance">
                                    <span class="badge"><i class="fa fa-times" aria-hidden="true"
                                                           @click="removeItem(index)"></i></span>
                                </div>
                            </draggable>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit"
                        class="btn btn-primary btn-block btn-flat"
                        :disabled="busy"><span v-if="!busy">Save</span><i v-if="busy" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

    </form>
</template>

<style src="../../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import redirect from '../../redirect'
    import valueOrEmpty from '../../valueOrEmpty'
    import timeFunctions from '../../timeFunctions'
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';
    import draggable from 'vuedraggable';
    import textInput from '../../cms/form-partials/text-input.vue';

    export default {
        mixins: [redirect, valueOrEmpty],
        data: function () {
            let form = new Form({
                meta_title: this.valueOrEmpty(this.content.meta_title),
                meta_description: this.valueOrEmpty(this.content.meta_description),
                header_image_override: this.valueOrEmpty(this.content.header_image_override),
                menu_title: this.valueOrEmpty(this.content.menu_title),
                navigation_order: this.valueOrEmpty(this.content.navigation_order),
                page_heading: this.valueOrEmpty(this.content.page_heading),
                page_subheading: this.valueOrEmpty(this.content.page_subheading),
                hotel_finder_enabled: this.valueOrEmpty(this.content.hotel_finder_enabled),
                ordered_hotels: this.renderDataList(this.content.ordered_hotels),
                parent_id: this.valueOrEmpty(this.content.parent_id),
                lat: this.getLat(this.content.lat),
                lon: this.getLon(this.content.lon),
                zoom: +this.renderDataList(this.content.zoom) || 16
            });


            return {
                form: form,
                busy: false,
                editorHeight: 100,
                googleService: false,

                lat: this.getLat(this.content.lat),
                lon: this.getLon(this.content.lon),
                markers: [{
                    position: {lat: this.getLat(this.content.lat), lng: this.getLon(this.content.lon)}
                }],
            }
        },
        components: {
            'datepicker': Datepicker,
            'timepicker': Timepicker,
            'text-input': textInput,
            draggable
        },
        props: [
            'assetImages',
            'content',
            'hotels',
            'hotelsOrdered',
            'pages'
        ],
        computed: {
            hotel_list: function () {
                let ids = this.form.ordered_hotels.map(hotel => {
                    return hotel.id
                });
                return this.hotels.filter(hotel => {
                    return !ids.includes(hotel.id)
                });
            }
        },
        watch: {
            'form.lat': function (val) {
                this.redrawMarker(+val, +this.form.lon);
                this.lat = +val;
            },
            'form.lon': function (val) {
                this.redrawMarker(+this.form.lat, +val);
                this.lon = +val;
            },
            'form.zoom': function (val) {
            },
        },
        mounted: function () {
            this.form.ordered_hotels = this.hotelsOrdered;
        },
        methods: {
            getLat(val) {
                return +this.valueOrEmpty(val) || 25.09243936321781;
            },
            getLon(val) {
                return +this.valueOrEmpty(val) || 55.169219970703125;
            },
            editorInit: function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            submit () {
                this.busy = true;
                this.form.post('/a/content/base/hotel-finder')
                    .then(response => {
                        var component = this;
                        this.busy = false;
                        //component.redirect('/a')
                        window.toastr.success('successfully updated', 'hotels page');
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors (name) {
                this.form.errors.clear(name)
            },
            renderDataList(data) {
                let val = this.valueOrEmpty(data) || [];
                if (typeof val === 'string') {
                    val = JSON.parse(val);
                }
                return val;
            },
            reorder (oldIndex, newIndex) {
                const movedItem = this.form.ordered_hotels.splice(oldIndex, 1)[0];
                this.form.ordered_hotels.splice(newIndex, 0, movedItem);
            },
            getHotelName(id) {
                let result = this.hotels.filter(hotel => {
                    return hotel.id == id
                });
                return result.length ? result[0].title : null;
            },
            addHotel(hotel) {
                if (!hotel.pivot) {
                    hotel.pivot = {};
                }
                this.form.ordered_hotels.push(hotel);
                this.getDistance(this.form.ordered_hotels.length - 1);
            },
            removeItem(index) {
                this.form.ordered_hotels.splice(index, 1);
            },
            getDistance(hotelIndex) {
                if (!google || hotelIndex === 'undefined') {
                    return false;
                }

                let hotel = this.form.ordered_hotels[hotelIndex];
                let service = new google.maps.DistanceMatrixService();
                let origin = new google.maps.LatLng(this.lat, this.lon);
                let destination = new google.maps.LatLng(hotel.lat, hotel.lon);

                service.getDistanceMatrix(
                    {
                        origins: [origin],
                        destinations: [destination],
                        travelMode: 'WALKING',
                    }, (res, status) => {
                        //TODO: Remove console.log()
                        console.log(res, status);
                        if (status === 'OK' && res.rows.length && res.rows[0].elements.length) {
                            let distance = res.rows[0].elements[0];
                            if (distance.status && distance.status === 'ZERO_RESULTS') {
                                this.form.ordered_hotels[hotelIndex].pivot.distance = '';
                            } else {
                                this.form.ordered_hotels[hotelIndex].pivot.distance = distance.duration.text + ' walk, ' + distance.distance.text;
                            }
                            this.$forceUpdate();
                        }
                    });
            },
            redrawMarker: function (lat, lon) {
                this.markers = [];

                this.markers.push({
                    position: {lat: lat, lng: lon}
                })
            },
            mapClicked: function (coordsFromMap, inputCoords = false) {

                let lat = coordsFromMap.latLng.lat();
                let lon = coordsFromMap.latLng.lng();

                this.form.lat = lat;
                this.form.lon = lon;

                this.redrawMarker(lat, lon);
            },
            handleRightClick: function (prop) {
            }
        }
    }

</script>
