<template>
    <form method="post" @submit.prevent="submit"
          @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="box">
            <div class="box-header with-border">
                <span><h3 class="box-title">Page Meta</h3></span>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('meta_title') }">
                        <label>Meta title</label>

                        <input type="text" class="form-control" placeholder="Meta title" name="meta_title" value=""
                               v-model="form.meta_title" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('meta_title')"
                              v-text="form.errors.get('meta_title')"
                              id="validation_error_meta_title"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('meta_description') }">
                        <label>Meta description</label>

                        <input type="text" class="form-control" placeholder="Meta description" name="meta_description" value=""
                               v-model="form.meta_description" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('meta_description')"
                              v-text="form.errors.get('meta_description')"
                              id="validation_error_meta_description"></span>
                        </transition>
                    </div>

                    <div class="col-md-3 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('menu_title') }">
                        <label>Navigation Label</label>

                        <input type="text" class="form-control" placeholder="Navigation label" name="menu_title" value=""
                               v-model="form.menu_title" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('menu_title')"
                              v-text="form.errors.get('menu_title')"
                              id="validation_error_menu_title"></span>
                        </transition>
                    </div>

                    <div class="col-md-3 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('navigation_order') }">
                        <label>Navigation Order</label>

                        <input type="text" class="form-control" placeholder="Navigation order" name="navigation_order" value=""
                               v-model="form.navigation_order" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('navigation_order')"
                              v-text="form.errors.get('navigation_order')"
                              id="validation_error_navigation_order"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('header_image_override') }">
                        <label>Override header image (leave blank to use global header image)</label>

                        <image-select2 style="width:100%;" :options="assetImages" :selected="form.header_image_override" name="header_image_override" v-model="form.header_image_override">
                            <option value="">Select an image</option>
                        </image-select2>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('header_image_override')"
                              v-text="form.errors.get('header_image_override')"
                              id="validation_error_header_image_override"></span>
                        </transition>
                    </div>

                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <span><h3 class="box-title">Page Content</h3></span>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('page_heading') }">
                        <label>Page heading</label>

                        <input type="text" class="form-control" placeholder="Page heading" name="page_heading" value=""
                               v-model="form.page_heading" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('page_heading')"
                              v-text="form.errors.get('page_heading')"
                              id="validation_error_page_heading"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('page_subheading') }">
                        <label>Subheading (html allowed)</label>

                        <p class="text-right">
                            Editor height:
                            <button type="button" class="btn btn-sm" @click="increaseEditorSize"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-sm"
                                    @click="decreaseEditorSize"><i class="fa fa-minus"></i></button>
                        </p>
                        <editor v-if="htmlEditorEnabled" v-model="form.page_subheading" @init="editorInit();" lang="html" theme="chrome" width="100%"
                                :height="editorHeight + 'px'"></editor>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('page_subheading')"
                              v-text="form.errors.get('page_subheading')"
                              id="validation_error_page_subheading"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('confirmed_heading') }">
                        <label>Confirmed speakers heading</label>

                        <input type="text" class="form-control" placeholder="Confirmed speakers heading" name="confirmed_heading" value=""
                               v-model="form.confirmed_heading" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('confirmed_heading')"
                              v-text="form.errors.get('confirmed_heading')"
                              id="validation_error_confirmed_heading"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('confirmed_text') }">
                        <label>Confirmed speakers text (html allowed)</label>

                        <editor v-model="form.confirmed_text" @init="editorInit();" lang="html" theme="chrome" width="100%" height="80px"></editor>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('confirmed_text')"
                              v-text="form.errors.get('confirmed_text')"
                              id="validation_error_confirmed_text"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('previous_heading') }">
                        <label>Previous speakers heading</label>

                        <input type="text" class="form-control" placeholder="Previous speakers heading" name="previous_heading" value=""
                               v-model="form.previous_heading" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('previous_heading')"
                              v-text="form.errors.get('previous_heading')"
                              id="validation_error_previous_heading"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('previous_text') }">
                        <label>Previous speakers text (html allowed)</label>

                        <editor v-model="form.previous_text" @init="editorInit();" lang="html" theme="chrome" width="100%" height="80px"></editor>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('previous_text')"
                              v-text="form.errors.get('previous_text')"
                              id="validation_error_previous_text"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('featured_heading') }">
                        <label>Featured speakers heading</label>

                        <input type="text" class="form-control" placeholder="Featured speakers heading" name="featured_heading" value=""
                               v-model="form.featured_heading" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('featured_heading')"
                              v-text="form.errors.get('featured_heading')"
                              id="validation_error_featured_heading"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('featured_text') }">
                        <label>Featured speakers text (html allowed)</label>

                        <editor v-model="form.featured_text" @init="editorInit();" lang="html" theme="chrome" width="100%" height="80px"></editor>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('featured_text')"
                              v-text="form.errors.get('featured_text')"
                              id="validation_error_featured_text"></span>
                        </transition>
                    </div>

                </div>
            </div>
        </div>


        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_3" data-toggle="tab">Featured</a>
                </li>
                <li>
                    <a href="#tab_1" data-toggle="tab">Confirmed</a>
                </li>
                <li>
                    <a href="#tab_2" data-toggle="tab">Previous</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab_3" class="tab-pane active">
                    <div class="box">
                        <div class="box-header with-border">
                            <span><h3 class="box-title">Featured Speakers</h3></span>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Choose speakers to show</label>
                                    <div class="list-group">
                                        <a class="list-group-item" v-for="speaker in featured_list" @click="addSpeaker(speaker, 'featured_speakers')">
                                            {{speaker.name}}
                                            <span class="badge"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Re-order speakers list</label>
                                    <draggable v-model="form.featured_speakers" :options="{}" @start="drag=true" @end="drag=false" :class="'list-group'">
                                        <div v-for="(id, index) in form.featured_speakers" class="list-group-item">
                                            {{getSpeakerName(id, 'confirmed')}}
                                            <span class="badge"><i class="fa fa-times" aria-hidden="true" @click="removeItem(index, 'featured_speakers')"></i></span>
                                        </div>
                                    </draggable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_1" class="tab-pane">
                    <div class="box">
                        <div class="box-header with-border">
                            <span><h3 class="box-title">Confirmed Speakers</h3></span>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Choose speakers to show</label>
                                    <div class="list-group">
                                        <a class="list-group-item" v-for="speaker in confirmed_list" @click="addSpeaker(speaker, 'confirmed_speakers')">
                                            {{speaker.name}}
                                            <span class="badge"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Re-order speakers list</label>
                                    <draggable v-model="form.confirmed_speakers" :options="{}" @start="drag=true" @end="drag=false" :class="'list-group'">
                                        <div v-for="(id, index) in form.confirmed_speakers" class="list-group-item">
                                            {{getSpeakerName(id, 'confirmed')}}
                                            <span class="badge"><i class="fa fa-times" aria-hidden="true" @click="removeItem(index, 'confirmed_speakers')"></i></span>
                                        </div>
                                    </draggable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_2" class="tab-pane">
                    <div class="box">
                        <div class="box-header with-border">
                            <span><h3 class="box-title">Previous Speakers</h3></span>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Choose speakers to show</label>
                                    <div class="list-group">
                                        <a class="list-group-item" v-for="speaker in previous_list" @click="addSpeaker(speaker, 'previous_speakers')">
                                            {{speaker.name}}
                                            <span class="badge"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Re-order speakers list</label>
                                    <draggable v-model="form.previous_speakers" :options="{}" @start="drag=true" @end="drag=false" :class="'list-group'">
                                        <div v-for="(id, index) in form.previous_speakers" class="list-group-item">
                                            {{getSpeakerName(id, 'previous')}}
                                            <span class="badge"><i class="fa fa-times" aria-hidden="true" @click="removeItem(index, 'previous_speakers')"></i></span>
                                        </div>
                                    </draggable>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit"
                        class="btn btn-primary btn-block btn-flat"
                        :disabled="busy"><span v-if="!busy">Save</span><i v-if="busy" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

    </form>
</template>

<style src="../../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import redirect from '../../redirect'
    import valueOrEmpty from '../../valueOrEmpty'
    import timeFunctions from '../../timeFunctions'
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';
    import draggable from 'vuedraggable'

    export default {
        mixins: [redirect, valueOrEmpty],
        data: function () {
            let form = new Form({
                meta_title: this.valueOrEmpty(this.content.meta_title),
                meta_description: this.valueOrEmpty(this.content.meta_description),
                header_image_override: this.valueOrEmpty(this.content.header_image_override),
                menu_title: this.valueOrEmpty(this.content.menu_title),
                navigation_order: this.valueOrEmpty(this.content.navigation_order),
                page_heading: this.valueOrEmpty(this.content.page_heading),
                page_subheading: this.valueOrEmpty(this.content.page_subheading),
                confirmed_heading: this.valueOrEmpty(this.content.confirmed_heading),
                previous_heading: this.valueOrEmpty(this.content.previous_heading),
                confirmed_text: this.valueOrEmpty(this.content.confirmed_text),
                previous_text: this.valueOrEmpty(this.content.previous_text),
                featured_heading: this.valueOrEmpty(this.content.featured_heading),
                featured_text: this.valueOrEmpty(this.content.featured_text),
                featured_speakers: this.renderDataList(this.content.featured_speakers),
                confirmed_speakers: this.renderDataList(this.content.confirmed_speakers),
                previous_speakers: this.renderDataList(this.content.previous_speakers),
            });

            return {
                form: form,
                busy: false,
                editorHeight: 100,
                htmlEditorEnabled: true,
            }
        },
        components: {
            'datepicker': Datepicker,
            'timepicker': Timepicker,
            draggable
        },
        props: [
            'assetImages',
            'content',
            'confirmed',
            'previous',
            'featured'
        ],
        computed: {
            featured_list: function () {
                return this.featured.filter( speaker => {
                    return !this.form.featured_speakers.includes(speaker.id)
                });
            },
            confirmed_list: function () {
                return this.confirmed.filter( speaker => {
                    return !this.form.confirmed_speakers.includes(speaker.id)
                });
            },
            previous_list: function () {
                return this.previous.filter( speaker => {
                    return !this.form.previous_speakers.includes(speaker.id)
                });
            }
        },
        watch: {},
        mounted: function () {},
        methods: {
            editorInit: function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            submit () {
                this.busy = true;
                this.form.post('/a/content/base/speakers')
                    .then(response => {
                        var component = this;
                        this.busy = false;
                        //component.redirect('/a')
                        window.toastr.success('successfully updated', 'Speakers page');
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors (name) {
                this.form.errors.clear(name)
            },
            renderDataList(data) {
                let val = this.valueOrEmpty(data) || [];
                //TODO: Remove console.log()
                console.log( val );
                if(typeof val === 'string') {
                    val = JSON.parse(val);
                }
                return val;
            },
            getSpeakerName(id, list) {
                let result  = this[list].filter( speaker => {return speaker.id == id} );

                return result.length ? result[0].name : 'Not Enabled';
            },
            addSpeaker(speaker, list) {
                this.form[list].push(speaker.id);
            },
            removeItem(index, list) {
                this.form[list].splice(index, 1);
            },
            increaseEditorSize: function()
            {
                this.editorHeight += 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            },
            decreaseEditorSize: function()
            {
                this.editorHeight = (this.editorHeight - 50) <= 50 ? this.editorHeight : this.editorHeight - 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            }
        }
    }

</script>
