<template>
    <form method="post" @submit.prevent="submit"
          @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="box">
            <div class="box-header with-border">
                <span><h3 class="box-title">Page Meta</h3></span>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('meta_title') }">
                        <label>Meta title</label>

                        <input type="text" class="form-control" placeholder="Meta title" name="meta_title" value=""
                               v-model="form.meta_title" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('meta_title')"
                              v-text="form.errors.get('meta_title')"
                              id="validation_error_meta_title"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('meta_description') }">
                        <label>Meta description</label>

                        <input type="text" class="form-control" placeholder="Meta description" name="meta_description"
                               value=""
                               v-model="form.meta_description" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('meta_description')"
                              v-text="form.errors.get('meta_description')"
                              id="validation_error_meta_description"></span>
                        </transition>
                    </div>

                    <div class="col-md-3 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('menu_title') }">
                        <label>Navigation Label</label>

                        <input type="text" class="form-control" placeholder="Navigation label" name="menu_title"
                               value=""
                               v-model="form.menu_title" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('menu_title')"
                              v-text="form.errors.get('menu_title')"
                              id="validation_error_menu_title"></span>
                        </transition>
                    </div>

                    <div class="col-md-3 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('navigation_order') }">
                        <label>Navigation Order</label>

                        <input type="text" class="form-control" placeholder="Navigation order" name="navigation_order"
                               value=""
                               v-model="form.navigation_order" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('navigation_order')"
                              v-text="form.errors.get('navigation_order')"
                              id="validation_error_navigation_order"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('header_image_override') }">
                        <label>Override header image (leave blank to use global header image)</label>

                        <image-select2 style="width:100%;"
                                       :options="assetImages"
                                       :selected="form.header_image_override"
                                       name="header_image_override" v-model="form.header_image_override">
                            <option value="">Select an image</option>
                        </image-select2>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('header_image_override')"
                              v-text="form.errors.get('header_image_override')"
                              id="validation_error_header_image_override"></span>
                        </transition>
                    </div>

                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <span><h3 class="box-title">Page Content</h3></span>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('page_heading') }">
                        <label>Page heading</label>

                        <input type="text" class="form-control" placeholder="Page heading" name="page_heading" value=""
                               v-model="form.page_heading" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('page_heading')"
                              v-text="form.errors.get('page_heading')"
                              id="validation_error_page_heading"></span>
                        </transition>
                    </div>

                    <div class="col-md-6 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('page_subheading') }">
                        <label>Subheading (html allowed)</label>

                        <p class="text-right">
                            Editor height:
                            <button type="button" class="btn btn-sm" @click="increaseEditorSize"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-sm"
                                    @click="decreaseEditorSize"><i class="fa fa-minus"></i></button>
                        </p>
                        <editor v-if="htmlEditorEnabled" v-model="form.page_subheading" @init="editorInit();" lang="html" theme="chrome"
                                width="100%" :height="editorHeight + 'px'"></editor>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('page_subheading')"
                              v-text="form.errors.get('page_subheading')"
                              id="validation_error_page_subheading"></span>
                        </transition>
                    </div>


                </div>
            </div>
        </div>

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#tab_1" data-toggle="tab">Reports</a>
                </li>
                <li class="active">
                    <a href="#tab_2" data-toggle="tab">Gallery</a>
                </li>
                <li>
                    <a href="#tab_3" data-toggle="tab">Press Releases</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab_1" class="tab-pane">
                    <div class="box">
                        <div class="box-header with-border">
                            <div class="checkbox checkbox-slider--b-flat checkbox-slider-md pull-left">
                                <label>
                                    <input type="checkbox" value="true" name="countdown_enabled"
                                           v-model="form.report_enabled"><span><h3
                                        class="box-title">Reports Tab</h3></span>
                                </label>
                            </div>
                        </div>
                        <div class="box-body" :class="{'disabled': !form.report_enabled}">
                            <div class="col-md-12">

                                <div class="gallery-item" v-for="(item, index) in form.report_items">

                                    <div class="gallery-item__navigation">
                                        <div class="gallery-item__navigation__element gallery-item__navigation__up"
                                             :disabled="index == 0"
                                             @click="orderUp('report_items', index)">
                                            <i class="fa fa-arrow-up"></i>
                                        </div>

                                        <div class="gallery-item__navigation__element gallery-item__navigation__remove"
                                             @click="removeItem('report_items', index)">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div class="gallery-item__navigation__element gallery-item__navigation__down"
                                             :disabled="index == form.report_items.length - 1"
                                             @click="orderDown('report_items', index)">
                                            <i class="fa fa-arrow-down"></i>
                                        </div>
                                    </div>
                                    <div class="gallery-item__body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>File</label>
                                                <image-select2 style="width:100%;"
                                                               :options="assetFiles"
                                                               :selected="item"
                                                               name="report_items[]['id']"
                                                               v-model="form.report_items[index]['id']">
                                                    <option value="">Select an File</option>
                                                </image-select2>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Preview</label>
                                                <image-select2 style="width:100%;"
                                                               :options="assetImages"
                                                               :selected="item.preview"
                                                               name="report_items[]['preview']"
                                                               v-model="form.report_items[index]['preview']">
                                                    <option value="">Select an Preview</option>
                                                </image-select2>
                                            </div>
                                            <div class="col-md-12">
                                                <label>Description</label>
                                                <input type="text" class="form-control"
                                                       name="report_items[]['description']"
                                                       placeholder="Description"
                                                       v-model="form.report_items[index]['description']">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary pull-right"
                                            @click="addItem('report_items')">Add new
                                    </button>
                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div id="tab_2" class="tab-pane active">
                    <div class="box">
                        <div class="box-header with-border">
                            <div class="checkbox checkbox-slider--b-flat checkbox-slider-md pull-left">
                                <label>
                                    <input type="checkbox" value="true" name="countdown_enabled"
                                           v-model="form.gallery_enabled"><span><h3
                                        class="box-title">Gallery Tab</h3></span>
                                </label>
                            </div>
                        </div>
                        <div class="box-body" :class="{'disabled': !form.gallery_enabled}">
                            <div class="col-md-12">

                                <div class="gallery-item" v-for="(gallery_item, index) in form.gallery_items">

                                    <div class="gallery-item__navigation">
                                        <div class="gallery-item__navigation__element gallery-item__navigation__up"
                                             :disabled="index == 0"
                                             @click="orderUp('gallery_items', index)">
                                            <i class="fa fa-arrow-up"></i>
                                        </div>

                                        <div class="gallery-item__navigation__element gallery-item__navigation__remove"
                                             @click="removeItem('gallery_items', index)">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div class="gallery-item__navigation__element gallery-item__navigation__down"
                                             :disabled="index == form.gallery_items.length - 1"
                                             @click="orderDown('gallery_items', index)">
                                            <i class="fa fa-arrow-down"></i>
                                        </div>
                                    </div>
                                    <div class="gallery-item__body">
                                        <gallery-select style="width:100%;"
                                                        :options="assetGalleries"
                                                        :selected="gallery_item"
                                                        name="gallery_items[]['id']"
                                                        v-model="form.gallery_items[index]['id']">
                                            <option value="">Select an Gallery</option>
                                        </gallery-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary pull-right"
                                            @click="addItem('gallery_items')">Add new
                                    </button>
                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div id="tab_3" class="tab-pane">
                    <div class="box">
                        <div class="box-header with-border">
                            <div class="checkbox checkbox-slider--b-flat checkbox-slider-md pull-left">
                                <label>
                                    <input type="checkbox" value="true" name="press_release_enabled"
                                           v-model="form.press_release_enabled"><span><h3 class="box-title">Press Release Tab</h3></span>
                                </label>
                            </div>
                        </div>
                        <div class="box-body" :class="{'disabled': !form.press_release_enabled}">
                            <div class="col-md-12">

                                <div class="gallery-item" v-for="(item, index) in form.press_release_items">

                                    <div class="gallery-item__navigation">
                                        <div class="gallery-item__navigation__element gallery-item__navigation__up"
                                             :disabled="index == 0"
                                             @click="orderUp('press_release_items', index)">
                                            <i class="fa fa-arrow-up"></i>
                                        </div>

                                        <div class="gallery-item__navigation__element gallery-item__navigation__remove"
                                             @click="removeItem('press_release_items', index)">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div class="gallery-item__navigation__element gallery-item__navigation__down"
                                             :disabled="index == form.press_release_items.length - 1"
                                             @click="orderDown('press_release_items', index)">
                                            <i class="fa fa-arrow-down"></i>
                                        </div>
                                    </div>
                                    <div class="gallery-item__body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>File</label>
                                                <image-select2 style="width:100%;"
                                                               :options="assetFiles"
                                                               :selected="item"
                                                               name="press_release_items[]['id']"
                                                               v-model="form.press_release_items[index]['id']">
                                                    <option value="">Select an File</option>
                                                </image-select2>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Preview</label>
                                                <image-select2 style="width:100%;"
                                                               :options="assetImages"
                                                               :selected="item.preview"
                                                               name="press_release_items[]['preview']"
                                                               v-model="form.press_release_items[index]['preview']">
                                                    <option value="">Select an Preview</option>
                                                </image-select2>
                                            </div>
                                            <div class="col-md-12">
                                                <label>Description</label>
                                                <input type="text" class="form-control"
                                                       name="press_release_items[]['description']"
                                                       placeholder="Description"
                                                       v-model="form.press_release_items[index]['description']">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary pull-right"
                                            @click="addItem('press_release_items')">Add new
                                    </button>
                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <button type="submit"
                        class="btn btn-primary btn-block btn-flat"
                        :disabled="busy"><span v-if="!busy">Save</span><i v-if="busy" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

    </form>
</template>

<style src="../../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import redirect from '../../redirect'
    import valueOrEmpty from '../../valueOrEmpty'
    import timeFunctions from '../../timeFunctions'
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';

    export default {
        mixins: [redirect, valueOrEmpty],
        data: function () {
            let form = new Form({
                meta_title: this.valueOrEmpty(this.content.meta_title),
                meta_description: this.valueOrEmpty(this.content.meta_description),
                header_image_override: this.valueOrEmpty(this.content.header_image_override),
                menu_title: this.valueOrEmpty(this.content.menu_title),
                navigation_order: this.valueOrEmpty(this.content.navigation_order),
                page_heading: this.valueOrEmpty(this.content.page_heading),
                page_subheading: this.valueOrEmpty(this.content.page_subheading),
                gallery_enabled: this.valueOrEmpty(this.content.gallery_enabled),
                gallery_items: this.renderList(this.content.gallery_items),
                report_enabled: this.valueOrEmpty(this.content.report_enabled),
                report_items: this.renderList(this.content.report_items),
                press_release_enabled: this.valueOrEmpty(this.content.press_release_enabled),
                press_release_items: this.renderList(this.content.press_release_items),
            });

            return {
                form: form,
                busy: false,
                editorHeight: 100,
                htmlEditorEnabled: true,
            }
        },
        components: {
            'datepicker': Datepicker,
            'timepicker': Timepicker,
        },
        props: [
            'assetImages',
            'assetFiles',
            'assetGalleries',
            'content'
        ],
        computed: {},
        watch: {},
        mounted: function () {
            console.log(this.content);
        },
        methods: {
            editorInit: function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            submit() {
                this.busy = true;
                this.form.post('/a/content/base/knowledge-hub')
                    .then(response => {
                        this.busy = false;
                        window.toastr.success('successfully updated', 'Knowledge Hub page');
                    })
                    .catch(error => {
                        this.busy = false;
                        //TODO: Remove console.log()
                        console.log(error);
                        window.toastr.error('Error');
                    })
            },
            clearErrors(name) {
                this.form.errors.clear(name)
            },
            renderList(items) {
                let res = [];
                if (Array.isArray(items)) {
                    res = items.map(item => {
                        return {
                            id: item.asset,
                            description: item.description,
                            preview: item.preview || 0
                        };
                    })
                }
                return res;
            },
            addItem(field) {
                if (!this.form[field]) return false;
                this.form[field].push({});
            },
            orderUp(field, index) {
                if (!this.form[field] || index === 0) return false;
                let temp = this.form[field][index - 1];
                this.form[field][index - 1] = this.form[field][index];
                this.form[field][index] = temp;
                this.$forceUpdate();
            },
            orderDown(field, index) {
                if (!this.form[field] || index === this.form[field].length - 1) return false;
                let temp = this.form[field][index + 1];
                this.form[field][index + 1] = this.form[field][index];
                this.form[field][index] = temp;
                this.$forceUpdate();
            },
            removeItem(field, index) {
                if (!this.form[field]) return false;
                this.form[field].splice(index, 1);
            },
            increaseEditorSize: function()
            {
                this.editorHeight += 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            },
            decreaseEditorSize: function()
            {
                this.editorHeight = (this.editorHeight - 50) <= 50 ? this.editorHeight : this.editorHeight - 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            }
        }
    }

</script>
