$white: #FFF;
$lime-green: #658a04;
$light-contrast-green: #a8e800;
$green: #81b008;
$contrast-green: #709b05;
$backgound-green: #7db500;
$gbf-africa-bg: #658b02;
$very-light-grey: #c7c7c7;
$light-grey: #f3f3f3;
$mid-grey: #b3b3b3;
$contrast-dark-grey: #666;
$dark-grey: #444;
$darker-grey: #333;
$burgundy: #4b1724;
$black: #000;
$contrast-mid-blue: #4477aa;
$mid-blue: #336699;

/* Rollovers */
$facebook: #3b5997;
$twitter: #1da1f3;
$linkedin: #0379b7;
$youtube: #c12025;