.conference-table tr {
  cursor: pointer;
}

.btn-container {
  margin: 5px 20px 20px 15px;
}

.select2-selection__rendered {
  text-transform: capitalize;
}

.media-container {
  margin: 20px;
  padding: 10px;
}

.media-preview {
  overflow: hidden;
  padding: .25rem;
}

.media-preview .hover-visible {
  display: none;
}

.media-preview img {
  height: 140px;
  background: #d0d0d0;
}

.media-preview:hover .hover-visible {
  display: block;
}

.image-selector {
  height: 120px !important;
}

.disabled {
  opacity: 0.4;
}

.ui-timepicker-wrapper {
  width: 13.5em;
}

.auto-form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  padding-right: 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-top-color: #cccccc;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color: #cccccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.autocomplete ul {
  z-index: 999;
  margin: 0;
  padding-top: 0;
  display: initial;
  width: 100%;
  border: 1px solid #ddd;
}

.autocomplete ul::before {
  border: none;
}

.autocomplete ul li a b {
  display: none;
}

.select2-selection__rendered span img {
  background: #d0d0d0;
}

.select2-container--default .select2-selection--single.image-selector, .image-selector .select2-selection .select2-selection--single.image-selector {
  padding: 4px 0;
}

.table-hover > tbody > tr {
  transition: background-color 0.25s, color 0.25s;
  font-size: 16px;
  color: #4c4c4c;
}

.table-hover > tbody > tr:hover {
  background-color: #aeaeae;
  transition: background-color 0s, color 0s;
  cursor: pointer;
  color: #252525;
}

.table-hover > tbody > tr td {
  border: none;
}

.gallery-item {
  position: relative;
}

.gallery-item:not(:last-child) {
  margin-bottom: 10px;
}

.gallery-item__navigation {
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0;
  left: 0;
}

.gallery-item__navigation__element {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  color: #3c85bc;
  cursor: pointer;
}

.gallery-item__navigation__element[disabled='disabled'] {
  opacity: 0.5;
  cursor: not-allowed;
}

.gallery-item__navigation__up {
  top: 0;
}

.gallery-item__navigation__down {
  bottom: 0;
}

.gallery-item__navigation__remove {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.gallery-item__body {
  margin-left: 30px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  font-weight: bold;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.box.box-page-meta {
  background: #f5f5f5;
}

.check-notify {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  background: #ddd;
  border: 1px solid #b2b2b2;
  border-radius: 35px;
  transition: all 0.3s ease;
}

.check-notify:before {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: #ececec;
  height: calc(20px - 6px);
  width: calc(20px - 6px);
  transition: all 0.3s ease;
}

.check-notify.checked {
  background-color: #3c763d;
}

.check-notify.checked:before {
  left: calc(100% - 16px);
}

.hotels-distance {
  border: none;
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
  font-size: 12px;
  color: #777272;
}

.cov-date-body {
  top: 100% !important;
}

.vue-datepicker-custom .cov-vue-date {
  display: block !important;
}

.vue-datepicker-custom input {
  display: inline-block !important;
  padding: 6px !important;
  line-height: 22px !important;
  font-size: 16px !important;
  border: 1px solid #d2d6de !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  color: #555555 !important;
  width: 100% !important;
}

.matrix-table table {
  width: 100%;
  text-align: center;
}

.modal-content {
  box-shadow: none;
  background: transparent;
  border: none;
}

.modal-content .modal-header {
  background: #81b008;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 8px 15px 8px 50px;
}

.modal-content .modal-header h4 {
  font-family: "DIN Light", Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.modal-content .modal-header .close {
  margin-top: 0px;
  color: #FFF;
  opacity: 1;
  font-size: 25px;
  font-weight: 100;
  line-height: 16px;
}

.modal-content .modal-header .close:focus {
  outline: none;
}

.modal-content .modal-body {
  background: #FFF;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: inline-block;
  width: 100%;
  padding: 45px !important;
}

.modal-content .modal-body p {
  font-size: 20px;
}

.modal-content .modal-body p:not(.text-center) {
  text-align: left;
}

.modal-content .modal-body .request-action a.btn.btn-default {
  font-family: "DIN Regular", Arial, sans-serif;
  margin-right: 20px;
  margin-top: 20px;
  width: 120px;
}

.modal-content .modal-body .request-action a.btn.btn-default + a.btn.btn-default {
  margin-right: 0px;
}

.modal-content .modal-body .day-block {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
}

.modal-content .modal-body .day-block h4 {
  background: #81b008;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  font-family: "DIN Light", Arial, sans-serif;
  margin-bottom: 0px;
}

.modal-content .modal-body .day-block ul {
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.modal-content .modal-body .day-block ul li {
  padding: 10px 15px 10px 15px;
}

.modal-content .modal-body .day-block ul li:nth-child(even) {
  background: #f3f3f3;
}

.modal-content .modal-body .day-block ul li input[type=checkbox] {
  display: none;
}

.modal-content .modal-body .day-block ul li label {
  text-transform: inherit;
  font-family: "DIN Light", Arial, sans-serif;
  display: block;
  padding-left: 0px;
  background-position: right !important;
}

.modal-content .modal-body .day-block ul li input[type=checkbox] + label {
  display: block;
  background: url("../../img/frontend/GBF2017/accept.png") no-repeat;
  background-size: auto;
  background-position: right !important;
}

.modal-content .modal-body .day-block ul li input[type=checkbox]:checked + label {
  background: url("../../img/frontend/GBF2017/decline.png") no-repeat;
  display: block;
  background-size: auto;
  background-position: right !important;
}

.modal-content .modal-body .day-block ul li input[type=checkbox]:checked + label.all-checked {
  background: url("../../img/frontend/GBF2017/accept.png") no-repeat;
}

.modal-content .modal-body .day-block ul li input[type=checkbox] + label.all-unchecked {
  background: url("../../img/frontend/GBF2017/decline.png") no-repeat;
}

.modal-content .modal-body .day-block + .day-block {
  padding-right: 0px;
}

.modal-content .modal-body .btn.btn-default {
  float: right;
  margin-right: 0px;
}

#agenda .modal-body {
  margin-top: 0px;
}

.form-group__item {
  position: relative;
  padding-right: 20px;
  margin-bottom: 10px;
}

.form-group__item__remove {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
  font-size: 18px;
}
