<template>
    <div>

        <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs pull-left">
            <label>
                <input type="checkbox" v-model="isCheckboxChecked">
                <span>
                    {{ simpleText }}
                    <span :class="{'text-success': isCheckboxChecked, 'text-default': !isCheckboxChecked}">
                        {{ isCheckboxChecked ? textIfTrue : textIfFalse }}
                    </span>
                </span>
            </label>
        </div>

    </div>
</template>


<script>

    export default {
        data: function(){
            return {
                isCheckboxChecked: true
            }
        },
        methods: {
            emitCheckboxValue: function()
            {
                this.$emit('eCheckboxValue', this.isCheckboxChecked)
            }
        },
        components: {},
        props: ['simpleText', 'isTrue', 'textIfTrue', 'textIfFalse'],
        computed: {},
        created: function()
        {
            this.isCheckboxChecked = this.isTrue
        },
        watch: {
            isCheckboxChecked: function(newVal)
            {
                this.emitCheckboxValue()
            }
        },
        mounted: function(){}
    }

</script>