<template>
    <div class="row">

        <div class="col-lg-12">
            <image-select2 style="width:100%;" :options="computedUploadedImages" :selected="selectedImageId" name="countdown_background" v-model="imageId">
                <option value="">Select an image</option>
            </image-select2>
        </div>

        <div class="col-lg-12">

            <p style="text-align: center; margin-top: 10px" v-if="!isDropzoneShown">
                <button class="btn btn-primary col-xs-12" @click="showDropzone">
                    <i class="fa fa-upload"></i>
                    Upload New Picture
                </button>
            </p>

            <dropzone v-if="isDropzoneShown" id="dropzoneimages" ref="dropzoneimages" :showRemoveLink="false" :useFontAwesome="true" url="/a/content/media-manager" v-on:vdropzone-success="showSuccess">
                <!-- Optional parameters if any! -->
                <input type="hidden" name="type" value="images">
            </dropzone>
        </div>

    </div>
</template>


<script>


    import Dropzone from 'vue2-dropzone'

    export default {
        components: {
            'dropzone': Dropzone
        },
        data: function(){
            return {
                isDropzoneShown: false,
                uploadedImage: {},
                imageId: null,
                newImageId: null
            }
        },
        methods: {
            showDropzone: function()
            {
                this.isDropzoneShown = true;
            },
            emitPropertyValues: function()
            {
                this.$emit('imageUploaded', this.uploadedImage)
            },
            showSuccess: function(file)
            {
                let res = JSON.parse(file.xhr.response);

                if(res.uploaded)
                    this.newImageId = res.asset.id;

                this.isDropzoneShown = false;
                this.uploadedImage = res;
                this.$refs['dropzone'+res.asset.type].removeFile(file);
                window.toastr.success('Image uploaded', res.asset.filename);
                this.emitPropertyValues();
            }
        },
        props: ['selectedImageId','uploadedImages'],
        computed: {
            computedUploadedImages: function()
            {
                return this.uploadedImages;
            }
        },
        created: function(){
            this.imageId = this.selectedImageId;
        },
        watch: {
            uploadedImages: function(newVal)
            {
                setTimeout(()=>{
                    if(this.newImageId)
                        this.imageId = this.newImageId;
                },500);
            },
            imageId: function(newVal)
            {
                this.$emit('imageSelected', newVal)
            }
        },
        mounted: function(){}
    }

</script>