<template>
    <div>

        <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs pull-left">
            <label>
                <input type="checkbox" v-model="htmlEditorEnabled" value="true" name="countdown_enabled">
                <span>
                            HTML editor is
                            <span :class="{'text-success': htmlEditorEnabled, 'text-default': !htmlEditorEnabled}">
                                {{ htmlEditorEnabled ? 'ON' : 'OFF' }}
                            </span>
                        </span>
            </label>
        </div>

        <textarea class="form-control" style="height: 80px"
                  v-model="textTextarea"
                  name="textDescription"
                  v-if="!htmlEditorEnabled"
        ></textarea>

        <p class="text-right" v-if="htmlEditorEnabled">
            Editor height:
            <button type="button" class="btn btn-sm" @click="increaseEditorSize"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-sm"
                    @click="decreaseEditorSize"><i class="fa fa-minus"></i></button>
        </p>
        <editor v-if="htmlEditorEnabled" v-model="textEditor" @init="editorInit();" lang="html" theme="chrome"
                width="100%" :height="editorHeight + 'px'"></editor>

    </div>
</template>


<script>

    import Form from 'acacha-forms'

    export default {
        data: function(){
            return {
                textEditor: '',
                textTextarea: '',
                htmlEditorEnabled: true,
                editorHeight: 100
            }
        },
        methods: {
            emitPropertyValues: function()
            {

                let value = this.htmlEditorEnabled ? this.textEditor : this.textTextarea;

                this.$emit('changetextarea', this.index !== undefined? {index: this.index, value: value} : value);
            },
            editorInit:function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            increaseEditorSize: function()
            {
                this.editorHeight += 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            },
            decreaseEditorSize: function()
            {
                this.editorHeight = (this.editorHeight - 50) <= 50 ? this.editorHeight : this.editorHeight - 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            }
        },
        components: {},
        props: ['extData', 'index'],
        computed: {},
        created: function()
        {
            this.textEditor = this.extData || '';
        },
        watch: {
            extData: function(newVal){
                this.textEditor = this.textTextarea = this.extData || '';
            },
            textEditor: function(newVal){
                this.emitPropertyValues()
            },
            textTextarea: function(newVal){
                this.emitPropertyValues()
            },
            htmlEditorEnabled: function(isEnabled)
            {
                if(isEnabled)
                    this.textEditor = this.textTextarea;
                else
                    this.textTextarea = this.textEditor;
            }
        },
        mounted: function(){}
    }

</script>