<template>
    <div>

        <input v-model="textValue" class="form-control" :disabled="disabled">

    </div>
</template>


<script>

    export default {
        data: function(){
            return {
                textValue: ''
            }
        },
        methods: {
            emitInputValue: function()
            {
                this.$emit('eValue', this.index !== undefined? {index: this.index, value: this.textValue} : this.textValue)
            }
        },
        components: {},
        props: ['extData', 'index', 'disabled'],
        computed: {},
        created: function()
        {
            this.textValue = this.extData;
        },
        watch: {
            textValue: function(newVal)
            {
                this.emitInputValue();
            },
            extData: function(newVal)
            {
                this.textValue = this.extData;
            }
        },
        mounted: function(){}
    }

</script>