<template>
    <div>

        <vue-timepicker
                v-model="timeData"
                :minute-interval="computedMinuteInterval"
                @change="changeHandler"
        ></vue-timepicker>

    </div>
</template>


<script>

    import VueTimepicker from 'vue2-timepicker'

    export default {
        data: function(){
            return {
                timeData: {}
            }
        },
        methods: {
            emitValue: function(emittedTimeData)
            {
                this.$emit('eValue', emittedTimeData, this.field)
            },
            changeHandler: function(eventData)
            {
                let emittedValue = eventData.data.HH + ':' + eventData.data.mm;
                this.emitValue(emittedValue);
            },
            fillTimeDataProperties: function()
            {
                this.timeData = {
                    HH: this.extData ? this.extData.split(':')[0] : '',
                    mm: this.extData ? this.extData.split(':')[1] : ''
                };
            }
        },
        components: {
            'vue-timepicker': VueTimepicker
        },
        props: ['extData', 'minuteInterval', 'field'],
        computed: {
            computedMinuteInterval: function()
            {
                return this.minuteInterval ? this.minuteInterval : '1';
            }
        },
        created: function()
        {
            this.fillTimeDataProperties();
        },
        watch: {
            extData: function(newVal)
            {
                this.fillTimeDataProperties();
            }
        },
        mounted: function(){}
    }

</script>