<template>
    <form method="post" @submit.prevent="submit" @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('title') }">
            <label>Hotel Title</label>
            <input type="text" class="form-control" placeholder="Hotel Title" name="title" value=""
                   v-model="form.title" autofocus/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('title')" v-text="form.errors.get('title')"
                      id="validation_error_title"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('title') }">
            <label>Hotel Picture</label>
            <image-select2-with-dropzone
                    v-if="isImageSelect2WithDropzoneActive"
                    :uploadedImages="imagesForSelect"
                    :selectedImageId="form.photo_id"
                    @imageUploaded="handleImageUploaded"
                    @imageSelected="handleImageSelected"
            ></image-select2-with-dropzone>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('address') }">
            <label>Address</label>

            <div class="row">
                <div class="col-lg-7">
                    <input type="text" class="form-control" ref="formAddress" placeholder="Company title" name="address" value=""
                           v-model="form.address" />
                    <transition name="fade">
                <span class="help-block" v-if="form.errors.has('address')"
                      v-text="form.errors.get('address')"
                      id="validation_error_address"></span>
                    </transition>
                </div>

                <div class="col-lg-5">
                    <a href="javascript:void(0)" @click="focusOnMap" class="col-md-12 btn btn-success"><i class="fa fa-globe" aria-hidden="true"></i> Get Address via Map</a>
                </div>
            </div>

        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('contact_person') }">
            <label>Contact Person</label>
            <input type="text" class="form-control" placeholder="Company title" name="contact_person" value=""
                   v-model="form.contact_person" />
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('contact_person')"
                      v-text="form.errors.get('contact_person')"
                      id="validation_error_contact_person"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('phone') }">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="Company title" name="phone" value=""
                   v-model="form.phone" />
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('phone')"
                      v-text="form.errors.get('phone')"
                      id="validation_error_phone"></span>
            </transition>
        </div>
        
        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('website') }">
            <label>Website</label>
            <input type="text" class="form-control" placeholder="Company title" name="website" value=""
                   v-model="form.website" />
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('website')"
                      v-text="form.errors.get('website')"
                      id="validation_error_website"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('website_title') }">
            <label>Website Title</label>
            <input type="text" class="form-control" placeholder="Company website title" name="website_title" value=""
                   v-model="form.website_title" />
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('website_title')"
                      v-text="form.errors.get('website_title')"
                      id="validation_error_website_title"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('email') }">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Company title" name="email" value=""
                   v-model="form.email" />
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('email')"
                      v-text="form.errors.get('email')"
                      id="validation_error_email"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('promo_code') }">
            <label>Promo Code</label>
            <input type="text" class="form-control" placeholder="Company title" name="promo_code" value=""
                   v-model="form.promo_code" />
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('promo_code')"
                      v-text="form.errors.get('promo_code')"
                      id="validation_error_promo_code"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('promo_description') }">
            <label>Promo Description</label>

            <text-area-html-allowed :extData="form.promo_description" @changetextarea="handlePromoDescription"></text-area-html-allowed>

            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('promo_description')"
                      v-text="form.errors.get('promo_description')"
                      id="validation_error_promo_description"></span>
            </transition>
        </div>

        <div class="form-group has-feedback"
             :class="{ 'has-error': form.errors.has('description') }">
            <label>Description (HTML allowed)</label>

            <text-area-html-allowed :extData="form.description" @changetextarea="handleDescription"></text-area-html-allowed>

            <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('description')"
                              v-text="form.errors.get('description')"
                              id="description"></span>
            </transition>
        </div>

        <div>
            <hotel-map :reInitMap="reInitMap" :extData="{lat: form.lat, lon: form.lon, zoom_lvl: form.zoom_lvl}" @mapCoords="handleMapCoords"></hotel-map>

            <div class="row" style="margin-bottom: 10px">

                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="btn btn-info col-md-12" @click="defineAddressViaGoogleMaps">
                        <i class="fa fa-search" aria-hidden="true"></i> Define Address
                    </a>
                </div>

                <div class="col-lg-4">
                    <select v-if="foundAddresses.length > 0" v-model="proposedAddress" class="form-control">
                        <option v-for="(address, index) in foundAddresses" :val="address">
                            {{address}}
                        </option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <a href="javascript:void(0)" v-if="proposedAddress.length > 0" class="btn btn-info col-md-12" @click="setProposedAddress">
                        <i class="fa fa-check" aria-hidden="true"></i>  Set Address
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <button v-if="!form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="$parent.close()"><i class="fa fa-remove"></i> Cancel</button>

                <button v-if="form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="deleteHotel"><i class="fa fa-remove"></i> Delete</button>
            </div>
            <div class="col-xs-6">
                <button v-if="!form.id" @click="create" class="btn btn-success btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Create Hotel</button>

                <button v-if="form.id" type="submit" class="btn btn-primary btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Save Hotel</button>
            </div>
        </div>
        <confirm-popup :message="'Are you sure to delete ' + form.title + '?'" v-if="showModal" @confirm="confirmDelete" @reject="closePopup"></confirm-popup>

    </form>

</template>

<style src="../fade.css"></style>


<script>
    import Form from 'acacha-forms'
    import redirect from '../redirect'
    import textAreaHtmlAllowed from '../cms/form-partials/textarea-html-allowed.vue';
    import hotelMap from './partials/map-block.vue';
    import imageSelect2WithDropzone from '../cms/form-partials/image-select2-with-dropzone.vue';

    export default {
        mixins: [redirect],
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'hotel-map': hotelMap,
            'image-select2-with-dropzone': imageSelect2WithDropzone,
        },
        data: function () {
            return {
                busy: false,
                hostname: 'https://' + window.location.hostname + "/",
                showModal: false,
                editorHeight: 100,
                isImageSelect2WithDropzoneActive: true,
                imagesForSelect: [],
                foundAddresses: [],
                proposedAddress: ''
            }
        },
        computed: {
            form: function () {
                return new Form({
                    id: this.hotelData.id || null,
                    title: this.hotelData.title || '',
                    photo_id: this.hotelData.photo_id || null,
                    address: this.hotelData.address || '',
                    contact_person: this.hotelData.contact_person || '',
                    phone: this.hotelData.phone || '',
                    website: this.hotelData.website || '',
                    website_title: this.hotelData.website_title || '',
                    email: this.hotelData.email || '',
                    promo_code: this.hotelData.promo_code || '',
                    promo_description: this.hotelData.promo_description || '',
                    description: this.hotelData.description || '',
                    lat: +this.hotelData.lat || null,
                    lon: +this.hotelData.lon || null,
                    zoom_lvl: this.hotelData.zoom_lvl || null
                })
            }
        },

        props: [
            'assetImages',
            'hotelData',
            'reInitMap'
        ],
        watch: {
            'form.company': function (e) {
                this.$refs.autocomplete.setValue(e);
            },
            reInitMap: function (newVal)
            {
                this.isImageSelect2WithDropzoneActive = false;

                setTimeout(()=>{
                    this.isImageSelect2WithDropzoneActive = true;
                },0)
            }
        },
        methods: {
            getSelect(d) {
                this.form.company = d.company;
                console.log(d);
            },
            getData(d) {
                this.form.company = d;
                console.log(d);
            },
            editorInit: function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            emitUpdateTable: function(){
                this.$emit('updateTable', true);
            },
            submit() {
                const vm = this;
                this.busy = true;
                this.form.patch('/a/hotel/update/' + this.form.id)
                    .then(response => {

                        console.log('response',response);

                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Speaker profile updated', this.form.title);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            create(){
                const vm = this;
                this.busy = true;
                this.form.post('/a/hotel/create')
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Hotel successfully created', this.form.title);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        console.log('error on create => ', error);
                        this.busy = false;
                    })
            },
            closePopup() {
                this.showModal = false;
            },
            deleteHotel() {
                this.showModal = true;
            },
            confirmDelete() {
                const vm = this;
                this.busy = true;
                this.form.delete('/a/hotel/delete/' + this.form.id)
                    .then(response => {
                        vm.busy = false;
                        if(response.data.success) {
                            vm.$parent.close();
                            window.toastr.success('Hotel successfully deleted', this.form.title);
                            this.closePopup();
                            this.emitUpdateTable();
                        } else {
                            window.toastr.success('Delete failed', this.form.name);
                        }
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors(name) {
                this.form.errors.clear(name)
            },
            handleDescription: function(description)
            {
                this.form.description = description;
            },
            handlePromoDescription: function(promoDescription)
            {
                this.form.promo_description = promoDescription;
            },
            handleMapCoords: function(coords)
            {
                this.form.lat = coords.lat;
                this.form.lon = coords.lon;
                this.form.zoom_lvl = coords.zoom_lvl;
                this.resetProposedAddressProperties();
            },
            handleImageUploaded: function (value)
            {
                axios.get('/a/cms/get-assets/images')
                    .then(data => {
                        this.imagesForSelect = data.data;
                    })
            },
            handleImageSelected: function (imageId) {
                this.form.photo_id = imageId;
            },
            defineAddressViaGoogleMaps: function()
            {
                $.get('//maps.googleapis.com/maps/api/geocode/json?latlng='+this.form.lat+','+this.form.lon+'&sensor=true')
                    .then(data => {
                        if(data.results && data.results.length > 0)
                        {
                            this.foundAddresses = data.results.map(res => {
                                return res.formatted_address;
                            });
                        }
                    })
                    .catch(err => {
                        window.toastr.error('option not available at the moment. please try later', 'Error');
                        this.resetProposedAddressProperties();
                    })

            },
            setProposedAddress: function()
            {
                this.form.address = this.proposedAddress;
                this.resetProposedAddressProperties();
                this.$refs.formAddress.focus();
            },
            resetProposedAddressProperties: function()
            {
                this.proposedAddress = '';
                this.foundAddresses = [];
            },
            focusOnMap: function()
            {
                $('.hotel-lat input').focus();
            }
        },
        created: function()
        {
            this.imagesForSelect = this.assetImages;

        }
    }

</script>
