<template>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Hotels</h3>

            <button class="btn btn-xs btn-success pull-right" @click="showCreateHotelModal">Create new hotel</button>

        </div>
        <div class="box-body">


                <div class="speaker-table">
                    <vue-bootstrap-table
                            :columns="columns"
                            :values="hotelValues"
                            :show-filter="false"
                            :show-column-picker="false"
                            :sortable="true"
                            :paginated="false"
                            :row-click-handler=rowClick
                            :multi-column-sortable=true>
                    </vue-bootstrap-table>


                    <bootstrap-modal ref="createModal" :needHeader="true" :needFooter="false" id="createHotelModal">
                        <div slot="title">
                            Create New Hotel
                        </div>
                        <div slot="body">
                            <hotel-edit-form
                                    :asset-images="assetImages"
                                    :hotel-data="{}"
                                    :reInitMap="reInitMap"
                                    @updateTable="handleUpdateTable"
                            >
                            </hotel-edit-form>
                        </div>
                        <div slot="footer">

                        </div>
                    </bootstrap-modal>


                    <bootstrap-modal ref="editModal" :needHeader="true" :needFooter="false" id="editSpeakerModal">
                        <div slot="title">
                            Editing Hotel {{ hotel.title }}
                        </div>
                        <div slot="body">
                            <hotel-edit-form
                                    :asset-images="assetImages"
                                    :hotel-data="hotel"
                                    :reInitMap="reInitMap"
                                    @updateTable="handleUpdateTable"
                            ></hotel-edit-form>
                        </div>
                        <div slot="footer">

                        </div>
                    </bootstrap-modal>
                </div>


        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</template>

<script>
    import renderTick from '../mixins/renderTick'

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [renderTick],
        data: function () {

            return {
                busy: false,
                selectedConference: null,

                hotel: {},
                reInitMap: true,

                columns: [
                    {title: 'id', name: 'id'},
                    {title: 'Title', name: 'title', visible: true},
                    {title: 'Address', name: 'address', visible: true},
                    {title: 'Contact Person', name: 'contact_person', visible: true},
                    {title: 'Phone', name: 'phone', visible: true},
                    {title: 'Website', name: 'website', visible: true},
                    {title: 'Email', name: 'email', visible: true},
                    {title: 'Promo Code', name: 'promo_code', visible: true},
                    {title: 'Promo Description', name: 'promo_description', visible: true},
                    {title: 'Description', name: 'description', visible: true}
                ],
                hotelValues: []
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'values',
            'assetImages'
        ],
        methods: {
            openEditModal: function () {
                this.reInitMap = !this.reInitMap;
                this.$refs.editModal.open();
            },
            renderSpeakerType: function (k, v) {
                if (v[k] == 1) {
                    return 'Confirmed';
                } else {
                    return 'Previous';
                }
            },
            rowClick: function (e, r) {
                if (r.id > 0)
                {
                    this.hotel = r;
                    this.openEditModal();
                }
            },
            showCreateHotelModal: function()
            {
                this.reInitMap = !this.reInitMap;
                this.$refs.createModal.open();
            },
            handleUpdateTable: function()
            {
                axios.get('/a/hotel/all-hotels-ajax')
                    .then(data => {
                        this.hotelValues = data.data
                    })
            }
        },
        created: function(){
            this.hotelValues = this.values;
        }
    }

</script>
