<template>
    <div>


        <div class="box-header with-border">
            <a href="javascript:void(0)" @click="removeBlock" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px; width: 23px" title="Remove current block">
                <i class="fa fa-remove"></i>
            </a>

            <button @click="moveBlockDownComponent()" class="pull-right btn btn-primary btn-xs" style="margin-right: 5px; width: 23px" title="Move block down">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
            &nbsp;
            <button @click="moveBlockUpComponent()"  class="pull-right btn btn-primary btn-xs " style="margin-right: 5px; width: 23px" title="Move block up">
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>

            <h3 class="box-title">Block: Download Box <i class="fa fa-download" aria-hidden="true"></i></h3>
        </div>


        <div class="box-body">

            <div class="col-md-6 form-group has-feedback">

                <p><strong>File to be Downloaded.</strong> Select one</p>

                <select class="form-control" v-model="selectedFileId">
                    <option v-for="(file, i) in assetFiles" :value="file.id">{{file.text}}</option>
                </select>

                <hr>

                <p><strong>Image of Download Box</strong></p>

                <image-select2-with-dropzone
                        v-if="isImageSelect2WithDropzoneActive"
                        :uploadedImages="computedUploadedImages"
                        :selectedImageId="selectedImageId"
                        @imageUploaded="handleImageUploaded"
                        @imageSelected="handleImageSelected"
                ></image-select2-with-dropzone>

            </div>

            <div class="col-md-6 form-group has-feedback">

                <p><strong>Title</strong></p>
                <text-input :extData="title" @eValue="handleTitle"></text-input>
                <hr>

                <p><strong>Content Main</strong> (html allowed)</p>
                <text-area-html-allowed :extData="contentMain" @changetextarea="handleContentMain"></text-area-html-allowed>
                <hr>

            </div>

        </div>


    </div>
</template>


<script>

    import textInput from '../form-partials/text-input.vue';
    import draggableCheckbox from '../form-partials/draggable-checkbox.vue';
    import textAreaHtmlAllowed from '../form-partials/textarea-html-allowed.vue';
    import imageSelect2WithDropzone from '../form-partials/image-select2-with-dropzone.vue';
    import cmsBlockOrderHelper from '../cms-helpers/cms-block-order-helper';

    export default {
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'image-select2-with-dropzone': imageSelect2WithDropzone,
            'text-input': textInput,
            'draggable-checkbox': draggableCheckbox
        },
        mixins: [cmsBlockOrderHelper],
        data: function(){
            return {
                selectedImageId: null,
                blockHeading: '',
                title: '',
                contentMain: '',
                selectedFileId: {},
                blockIndex: null,
                isImageSelect2WithDropzoneActive: true
            }
        },
        methods: {
            removeBlock: function()
            {
                this.$emit('removeBlock', {tabId: this.tabId, index: this.getIndBlock()})
            },
            emitPropertyValues: function()
            {
                this.$emit('blockChanged', {
                    block_type: 'download-block',
                    block_data: {
                        asset_image_id: this.selectedImageId,
                        title: this.title,
                        content_main: this.contentMain,
                        download_asset_file_id: this.selectedFileId
                    },
                    tab_id: this.tabId,
                    index: this.getIndBlock(),
                    id: this.id || null
                })
            },
            handleTitle: function(title)
            {
                this.title = title;
                this.emitPropertyValues();
            },
            handleContentMain: function(contentMain)
            {
                this.contentMain = contentMain;
                this.emitPropertyValues();
            },
            handleImageSelected: function(imageId)
            {
                this.selectedImageId = imageId;
                this.emitPropertyValues();
            },
            handleImageUploaded: function(imageData)
            {
                this.$emit('updateAssetImages', true);
            },
        },
        props: ['extData','index','uploadedImages', 'assetFiles', 'tabId', 'id','shouldUpdateIndex'],
        created: function(){
            this.selectedImageId = !this.extData ? '' : (this.extData.find(item => item.name == 'asset_image_id')).content;
            this.title = !this.extData ? '' : (this.extData.find(item => item.name == 'title')).content;
            this.contentMain = !this.extData ? '' :  (this.extData.find(item => item.name == 'content_main')).content;
            this.selectedFileId = !this.extData ? '' : (this.extData.find(item => item.name == 'download_asset_file_id')).content;
            this.blockIndex = this.index;
        },
        computed: {
            computedUploadedImages: function()
            {
                return this.uploadedImages;
            }
        },
        watch: {
            selectedFileId: function (newVal) {
                this.emitPropertyValues();
            },
            shouldUpdateIndex: function(newVal)
            {
                this.emitPropertyValues();
            }
        },
        mounted: function(){}
    }

</script>