<template>
    <div>

        <div class="box-header with-border">
            <a href="javascript:void(0)" @click="removeBlock" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px; width: 23px" title="Remove current block">
                <i class="fa fa-remove"></i>
            </a>

            <button @click="moveBlockDownComponent()" class="pull-right btn btn-primary btn-xs" style="margin-right: 5px; width: 23px" title="Move block down">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
            &nbsp;
            <button @click="moveBlockUpComponent()"  class="pull-right btn btn-primary btn-xs " style="margin-right: 5px; width: 23px" title="Move block up">
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>

            <h3 class="box-title">Block: FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i></h3>
        </div>

        <div class="box-body">

            <div class="col-md-12 form-group has-feedback">
                <p><strong>FAQ Block Heading</strong></p>

                <text-input :extData="title" @eValue="handleBlockHeading"></text-input>

                <hr>
            </div>

            <div v-for="(item, i) in items" class="col-md-12 form-group has-feedback">

                <p>
                    <strong>FAQ Item Title</strong>
                    <span class="pull-right">

                        <a @click="moveItemUp(i)" href="javascript:void(0)" class="text-primary"><i class="fa fa-long-arrow-up"></i></a>
                        &nbsp;
                        <a @click="moveItemDown(i)" href="javascript:void(0)" class="text-primary"><i class="fa fa-long-arrow-down"></i></a>
                        &nbsp;
                        <a @click="removeFaqItem(i)" class="text-danger" href="javascript:void(0)" title="Remove this FAQ item">
                            <i class="fa fa-remove"></i>
                        </a>
                    </span>
                </p>
                <text-input :extData="item.item_title || ''" :index="i" @eValue="handleItemTitle"></text-input>

                <br />

                <p><strong>FAQ Item Text</strong></p>
                <text-area-html-allowed :extData="item.item_text || ''" :index="i" @changetextarea="handleItemText"></text-area-html-allowed>

                <hr>
            </div>

            <div class="col-md-12 form-group has-feedback">
                <button @click="addItem" class="btn btn-success col-lg-6 col-lg-offset-3">Add Item <i class="fa fa-plus"></i></button>
            </div>
        </div>

    </div>
</template>


<script>

    import textInput from '../form-partials/text-input.vue';
    import draggableCheckbox from '../form-partials/draggable-checkbox.vue';
    import textAreaHtmlAllowed from '../form-partials/textarea-html-allowed.vue';
    import imageSelect2WithDropzone from '../form-partials/image-select2-with-dropzone.vue';
    import cmsBlockOrderHelper from '../cms-helpers/cms-block-order-helper';

    export default {
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'image-select2-with-dropzone': imageSelect2WithDropzone,
            'text-input': textInput,
            'draggable-checkbox': draggableCheckbox
        },
        mixins: [cmsBlockOrderHelper],
        data: function(){
            return {
                title: 'Title',
                items: [],
                blockIndex: null
            }
        },
        methods: {
            removeBlock: function()
            {
                this.$emit('removeBlock', {tabId: this.tabId, index: this.getIndBlock()})
            },
            addItem: function ()
            {
                this.items.push({
                    item_title: '',
                    item_text: ''
                })
            },
            emitPropertyValues: function()
            {
                this.$emit('blockChanged', {
                    block_type: 'faq-block',
                    block_data: {
                        title: this.title,
                        items: this.items,
                    },
                    tab_id: this.tabId,
                    index: this.getIndBlock(),
                    id: this.id || null
                })
            },
            handleBlockHeading: function(blockHeading)
            {
                this.title = blockHeading;
                this.emitPropertyValues();
            },
            handleItemTitle: function (titleObj) {
                this.items[titleObj.index].item_title = titleObj.value;
                this.emitPropertyValues();
            },
            handleItemText: function(textObject)
            {
                this.items[textObject.index].item_text = textObject.value;
                this.emitPropertyValues();
            },
            removeFaqItem: function(index){
                this.items.splice(index,1);
                this.emitPropertyValues();
            },
            moveItemUp: function(index)
            {
                if(index === 0)
                    return;

                let currItem = this.items.splice(index, 1)[0];
                this.items.splice(index-1, 0, currItem)
            },
            moveItemDown: function(index)
            {
                if(index === this.items.length - 1)
                    return;

                let currItem = this.items.splice(index, 1)[0];
                this.items.splice(index+1, 0, currItem)
            }
        },
        props: ['extData', 'index', 'tabId', 'id','shouldUpdateIndex'],
        computed: {},
        watch: {
            shouldUpdateIndex: function(newVal)
            {
                this.emitPropertyValues();
            }
        },
        created: function()
        {
            this.title = !this.extData ? '' : (this.extData.find(item => item.name == 'title')).content;

            let itemsAsString = !this.extData ? "[{}]" : (this.extData.find(item => item.name == 'items')).content;

            this.items = JSON.parse(itemsAsString);
            this.blockIndex = this.index;
        },
        mounted: function(){}
    }

</script>