<template>
    <div>


        <div class="box-header with-border">
            <a href="javascript:void(0)" @click="removeBlock" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px; width: 23px" title="Remove current block">
                <i class="fa fa-remove"></i>
            </a>

            <button @click="moveBlockDownComponent()" class="pull-right btn btn-primary btn-xs" style="margin-right: 5px; width: 23px" title="Move block down">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
            &nbsp;
            <button @click="moveBlockUpComponent()"  class="pull-right btn btn-primary btn-xs " style="margin-right: 5px; width: 23px" title="Move block up">
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>

            <h3 class="box-title">Block: Full width HTML <i class="fa fa-code" aria-hidden="true"></i></h3>
        </div>


        <div class="box-body">

            <div class="col-md-12 form-group has-feedback">

                <p><strong>Title</strong></p>
                <text-input :extData="title" @eValue="handleTitle"></text-input>
                <hr>


                <p><strong>Content</strong> (html allowed)</p>
                <text-area-html-allowed :extData="contentMain" @changetextarea="handleContentMain"></text-area-html-allowed>
                <hr>

            </div>

        </div>


    </div>
</template>


<script>

    import textInput from '../form-partials/text-input.vue';
    import textAreaHtmlAllowed from '../form-partials/textarea-html-allowed.vue';
    import cmsBlockOrderHelper from '../cms-helpers/cms-block-order-helper';

    export default {
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'text-input': textInput
        },
        mixins: [cmsBlockOrderHelper],
        data: function(){
            return {
                title: '',
                contentMain: '',
                blockIndex: null
            }
        },
        methods: {
            removeBlock: function()
            {
                this.$emit('removeBlock', {tabId: this.tabId, index: this.getIndBlock()})
            },
            emitPropertyValues: function()
            {
                this.$emit('blockChanged', {
                    block_type: 'full-html-block',
                    block_data: {
                        title: this.title,
                        content_main: this.contentMain,
                    },
                    tab_id: this.tabId,
                    index: this.getIndBlock(),
                    id: this.id || null
                })
            },
            handleTitle: function(title)
            {
                this.title = title;
                this.emitPropertyValues();
            },
            handleContentMain: function(contentMain)
            {
                this.contentMain = contentMain;
                this.emitPropertyValues();
            },
        },
        props: ['extData','index','uploadedImages', 'tabId', 'id','shouldUpdateIndex'],
        created: function(){
            this.title = !this.extData ? '' : (this.extData.find(item => item.name == 'title')).content;
            this.contentMain = !this.extData ? '' : (this.extData.find(item => item.name == 'content_main')).content;
            this.blockIndex = this.index;
        },
        computed: {
            computedUploadedImages: function()
            {
                return this.uploadedImages;
            }
        },
        watch: {
            shouldUpdateIndex: function(newVal)
            {
                this.emitPropertyValues();
            }
        },
        mounted: function(){}
    }

</script>