<template>
    <div>

        <div class="box-header with-border">
            <a href="javascript:void(0)" @click="removeBlock" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px; width: 23px" title="Remove current block">
                <i class="fa fa-remove"></i>
            </a>

            <button @click="moveBlockDownComponent()" class="pull-right btn btn-primary btn-xs" style="margin-right: 5px; width: 23px" title="Move block down">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
            &nbsp;
            <button @click="moveBlockUpComponent()"  class="pull-right btn btn-primary btn-xs " style="margin-right: 5px; width: 23px" title="Move block up">
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>

            <h3 class="box-title">Block: Left Image <i class="fa fa-file-image-o" aria-hidden="true"></i> - Right HTML <i class="fa fa-code" aria-hidden="true"></i></h3>
        </div>

        <div class="box-body">
            <div class="col-md-6 form-group has-feedback">

                <p><strong>Image at the Left Side</strong></p>

                <image-select2-with-dropzone
                        v-if="isImageSelect2WithDropzoneActive"
                        :uploadedImages="computedUploadedImages"
                        :selectedImageId="selectedImageId"
                        @imageUploaded="handleImageUploaded"
                        @imageSelected="handleImageSelected"
                ></image-select2-with-dropzone>

            </div>

            <div class="col-md-6 form-group has-feedback">

                <p><strong>Title</strong></p>

                <text-input :extData="blockTitle" @eValue="handleTitleValue"></text-input>

                <hr>

                <p><strong>Content Main</strong> (html allowed)</p>

                <text-area-html-allowed :extData="contentMain" @changetextarea="handleContentMain"></text-area-html-allowed>

                <hr>

                <p><strong>Content Read More</strong> (html allowed)</p>

                <text-area-html-allowed :extData="contentReadMore" @changetextarea="handleContentReadMore"></text-area-html-allowed>

                <div>
                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs pull-left">
                        <label>
                            <input type="checkbox" v-model="isFullWidth" :checked="isFullWidth">
                            <span>show "Content Read More" in a full with
                            </span>
                        </label>
                    </div>
                </div>

                <div class="clearfix"></div>

                <hr>

                <p><strong>QuickLink Label</strong></p>

                <text-input :extData="quickLinkLabel" @eValue="handleQuickLinkLabel"></text-input>

                <hr>

                <p><strong>QuickLink Enabled</strong></p>

                <draggable-checkbox
                        :isTrue="quickLinkState"
                        :textIfTrue="'QuickLink is enabled'"
                        :textIfFalse="'QuickLink is disabled'"
                        @eCheckboxValue="handleQuickLinkState"
                ></draggable-checkbox>

            </div>
        </div>

    </div>
</template>


<script>

    import Form from 'acacha-forms';
    import textInput from '../form-partials/text-input.vue';
    import draggableCheckbox from '../form-partials/draggable-checkbox.vue';
    import textAreaHtmlAllowed from '../form-partials/textarea-html-allowed.vue';
    import imageSelect2WithDropzone from '../form-partials/image-select2-with-dropzone.vue';
    import cmsBlockOrderHelper from '../cms-helpers/cms-block-order-helper';

    import Dropzone from 'vue2-dropzone';

    export default {
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'image-select2-with-dropzone': imageSelect2WithDropzone,
            'text-input': textInput,
            'draggable-checkbox': draggableCheckbox
        },
        mixins: [cmsBlockOrderHelper],
        data: function(){
            return {
                contentMain: '',
                contentReadMore: '',
                selectedImageId: null,
                uploadedImage: {},
                assetImageId: null,
                blockTitle: '',
                quickLinkState: false,
                blockIndex: null,
                quickLinkLabel: '',
                isImageSelect2WithDropzoneActive: true,
                isFullWidth: false
            }
        },
        methods: {
            removeBlock: function()
            {
                this.$emit('removeBlock', {tabId: this.tabId, index: this.getIndBlock()})
            },
            emitPropertyValues: function()
            {
                this.$emit('blockChanged', {
                    block_type: 'left-image-right-html-block',
                    block_data: {
                        title: this.blockTitle,
                        content_main: this.contentMain,
                        content_read_more: this.contentReadMore,
                        asset_image_id: this.assetImageId,
                        is_quick_link_enabled: this.quickLinkState,
                        quick_link_label: this.quickLinkLabel,
                        is_full_width: this.isFullWidth
                    },
                    tab_id: this.tabId,
                    index: this.getIndBlock(),
                    id: this.id || null
                })
            },
            editorInit:function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            handleContentMain: function(value){
                this.contentMain = value;
                this.emitPropertyValues();
            },
            handleContentReadMore: function(value){
                this.contentReadMore = value;
                this.emitPropertyValues();
            },
            handleImageUploaded: function(imageData)
            {
                this.uploadedImage = imageData;
                this.$emit('updateAssetImages', true);
            },
            handleImageSelected: function(imageId)
            {
                this.assetImageId = imageId;
                this.emitPropertyValues();
            },
            handleTitleValue: function(title)
            {
                this.blockTitle = title;
                this.emitPropertyValues();
            },
            handleQuickLinkLabel: function(value)
            {
                this.quickLinkLabel = value;
                this.emitPropertyValues();
            },
            handleQuickLinkState: function(state)
            {
                this.quickLinkState = state;
                this.emitPropertyValues();
            }
        },
        props: ['extData','index','uploadedImages', 'tabId', 'id','shouldUpdateIndex'],
        computed: {
            computedUploadedImages: function()
            {
                return this.uploadedImages;
            }
        },
        created: function()
        {
            this.selectedImageId = !this.extData ? '' : (this.extData.find(item => item.name == 'asset_image_id')).content;
            this.blockTitle = !this.extData ? '' : (this.extData.find(item => item.name == 'title')).content;
            this.contentMain = !this.extData ? '' : (this.extData.find(item => item.name == 'content_main')).content;
            this.contentReadMore = !this.extData ? '' : (this.extData.find(item => item.name == 'content_read_more')).content;
            this.quickLinkState = !this.extData ? 0 : +(this.extData.find(item => item.name == 'is_quick_link_enabled')).content;
            this.isFullWidth = !this.extData || !this.extData.find(item => item.name == 'is_full_width') ? false : +(this.extData.find(item => item.name == 'is_full_width')).content;
            this.blockIndex = this.index;

            let qllObj = this.extData ? this.extData.find(item => item.name == 'quick_link_label') : {};

            this.quickLinkLabel = qllObj && qllObj.content ? qllObj.content : '' ;
        },
        watch: {
            shouldUpdateIndex: function(newVal)
            {
                this.emitPropertyValues();
            },
            isFullWidth: function(newVal)
            {
                this.emitPropertyValues();
            }
        },
        mounted: function(){}
    }

</script>