<template>
    <div>


        <div class="box-header with-border">
            <a href="javascript:void(0)" @click="removeBlock" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px; width: 23px" title="Remove current block">
                <i class="fa fa-remove"></i>
            </a>

            <button @click="moveBlockDownComponent()" class="pull-right btn btn-primary btn-xs" style="margin-right: 5px; width: 23px" title="Move block down">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
            &nbsp;
            <button @click="moveBlockUpComponent()"  class="pull-right btn btn-primary btn-xs " style="margin-right: 5px; width: 23px" title="Move block up">
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>

            <h3 class="box-title">Block: Map <i class="fa fa-map-marker" aria-hidden="true"></i></h3>
        </div>


        <div class="box-body">

            <div class="col-md-6 form-group has-feedback">

                    <gmap-map
                            :center="{lat:lat, lng:lon}"
                            :zoom="zoom"
                            map-type-id="terrain"
                            style="width: 100%; height: 300px"
                            @click="mapClicked"
                            @rightclick="handleRightClick"
                    >
                        <gmap-marker
                                :key="index"
                                v-for="(m, index) in markers"
                                :position="m.position"
                                :clickable="true"
                                :draggable="true"
                        ></gmap-marker>
                    </gmap-map>

            </div>

            <div class="col-md-6 form-group has-feedback">

                <p><strong>Latitude</strong></p>
                <text-input :extData="inputLat"  @eValue="handleLat"></text-input>
                <hr>

                <p><strong>Longitude</strong></p>
                <text-input :extData="inputLon"  @eValue="handleLon"></text-input>
                <hr>

                <p><strong>Zoom Level</strong></p>
                <text-input :extData="zoom" @eValue="handleZoom"></text-input>
                <hr>

            </div>

        </div>


    </div>
</template>


<script>

    import textInput from '../form-partials/text-input.vue';
    import cmsBlockOrderHelper from '../cms-helpers/cms-block-order-helper';

    export default {
        components: {
            'text-input': textInput,
        },
        mixins: [cmsBlockOrderHelper],
        data: function(){
            return {
                lat: null,
                lon: null,
                inputLat: null,
                inputLon: null,
                zoom: null,
                self: this,
                markers: [{
                    position: {lat:0, lng:0}
                }],
                blockIndex: null
            }
        },
        methods: {
            removeBlock: function()
            {
                this.$emit('removeBlock', {tabId: this.tabId, index: this.getIndBlock()})
            },
            emitPropertyValues: function()
            {
                this.$emit('blockChanged', {
                    block_type: 'map-block',
                    block_data: {
                        center_point_lat: this.markers[0].position.lat,
                        center_point_lon: this.markers[0].position.lng,
                        zoom_lvl: this.zoom,
                    },
                    tab_id: this.tabId,
                    index: this.getIndBlock(),
                    id: this.id || null
                })
            },
            handleLat: function(lat)
            {
                this.redrawMarker(+lat, +this.inputLon);
                this.lat = +lat;
                this.emitPropertyValues();
            },
            handleLon: function(lon)
            {
                this.redrawMarker(+this.inputLat, +lon);
                this.lon = +lon;
                this.emitPropertyValues();
            },
            handleZoom: function(zoom)
            {
                this.zoom = +zoom;
                this.emitPropertyValues();
            },
            redrawMarker: function(lat, lon){
                this.markers = [];

                this.markers.push({
                    position: {lat:lat, lng:lon}
                })
            },
            mapClicked:function(coordsFromMap, inputCoords = false)
            {

                let lat = coordsFromMap.latLng.lat();
                let lon = coordsFromMap.latLng.lng();

                this.inputLat = lat;
                this.inputLon = lon;

                this.redrawMarker(lat, lon);
                this.emitPropertyValues();
            },
            handleRightClick: function(prop)
            {
//                console.log('handleRightClick ', prop );
            }
        },
        props: ['extData','index','uploadedImages', 'tabId', 'id','shouldUpdateIndex'],
        created: function(){
            this.lat = !this.extData ? 40.71603763556807 : +(this.extData.find(item => item.name == 'center_point_lat')).content;
            this.lon = !this.extData ? -74.00802612304688 : +(this.extData.find(item => item.name == 'center_point_lon')).content;
            this.zoom = !this.extData ? 11 : +(this.extData.find(item => item.name == 'zoom_lvl')).content;

            this.markers[0].position.lat = this.inputLat = this.lat;
            this.markers[0].position.lng = this.inputLon = this.lon;
            this.blockIndex = this.index;
        },
        computed: {
            computedUploadedImages: function()
            {
                return this.uploadedImages;
            }
        },
        watch: {
            shouldUpdateIndex: function(newVal)
            {
                this.emitPropertyValues();
            }
        },
        mounted: function(){}
    }

</script>