<template>
    <div>


        <div class="box-header with-border">
            <a href="javascript:void(0)" @click="removeBlock" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px; width: 23px" title="Remove current block">
                <i class="fa fa-remove"></i>
            </a>

            <button @click="moveBlockDownComponent()" class="pull-right btn btn-primary btn-xs" style="margin-right: 5px; width: 23px" title="Move block down">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
            &nbsp;
            <button @click="moveBlockUpComponent()"  class="pull-right btn btn-primary btn-xs " style="margin-right: 5px; width: 23px" title="Move block up">
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>

            <h3 class="box-title">Block: Sponsor <i class="fa fa-id-card-o" aria-hidden="true"></i></h3>
        </div>


        <div class="box-body">

            <div class="col-md-12 form-group has-feedback">
                <p><strong>Block Heading</strong></p>

                <text-input :extData="blockHeading" @eValue="handleBlockHeading"></text-input>
            </div>

            <div class="col-md-6 form-group has-feedback">

                <image-select2-with-dropzone
                        v-if="isImageSelect2WithDropzoneActive"
                        :uploadedImages="computedUploadedImages"
                        :selectedImageId="selectedImageId"
                        @imageUploaded="handleImageUploaded"
                        @imageSelected="handleImageSelected"
                ></image-select2-with-dropzone>

            </div>

            <div class="col-md-6 form-group has-feedback">

                <p><strong>Title</strong></p>
                <text-input :extData="title" @eValue="handleTitle"></text-input>
                <hr>

                <p><strong>Link Text</strong></p>
                <text-input :extData="linkText" @eValue="handleLinkText"></text-input>
                <hr>

                <p><strong>Link URL</strong></p>
                <text-input :extData="linkUrl" @eValue="handleLinkUrl"></text-input>
                <hr>

                <p><strong>Content Main</strong> (html allowed)</p>
                <text-area-html-allowed :extData="contentMain" @changetextarea="handleContentMain"></text-area-html-allowed>
                <hr>

                <p><strong>Content Read More</strong> (html allowed)</p>
                <text-area-html-allowed :extData="contentReadMore" @changetextarea="handleContentReadMore"></text-area-html-allowed>

                <div>
                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs pull-left">
                        <label>
                            <input type="checkbox" v-model="isFullWidth" :checked="isFullWidth">
                            <span>show "Content Read More" in a full with
                            </span>
                        </label>
                    </div>
                </div>

                <div class="clearfix"></div>

                <hr>

            </div>

        </div>


    </div>
</template>


<script>

    import textInput from '../form-partials/text-input.vue';
    import draggableCheckbox from '../form-partials/draggable-checkbox.vue';
    import textAreaHtmlAllowed from '../form-partials/textarea-html-allowed.vue';
    import imageSelect2WithDropzone from '../form-partials/image-select2-with-dropzone.vue';
    import cmsBlockOrderHelper from '../cms-helpers/cms-block-order-helper';

    export default {
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'image-select2-with-dropzone': imageSelect2WithDropzone,
            'text-input': textInput,
            'draggable-checkbox': draggableCheckbox
        },
        mixins: [cmsBlockOrderHelper],
        data: function(){
            return {
                selectedImageId: null,
                blockHeading: '',
                title: '',
                linkText: '',
                linkUrl: '',
                contentMain: '',
                contentReadMore: '',
                blockIndex: null,
                isImageSelect2WithDropzoneActive: true,
                isFullWidth: false
            }
        },
        methods: {
            removeBlock: function()
            {
                this.$emit('removeBlock', {tabId: this.tabId, index: this.getIndBlock()})
            },
            emitPropertyValues: function()
            {
                this.$emit('blockChanged', {
                    block_type: 'sponsor-block',
                    block_data: {
                        asset_image_id: this.selectedImageId,
                        block_heading: this.blockHeading,
                        title: this.title,
                        link_text: this.linkText,
                        link_url: this.linkUrl,
                        content_main: this.contentMain,
                        content_read_more: this.contentReadMore,
                        is_full_width: this.isFullWidth
                    },
                    tab_id: this.tabId,
                    index: this.getIndBlock(),
                    id: this.id || null
                })
            },
            handleBlockHeading: function(blockHeading)
            {
                this.blockHeading = blockHeading;
                this.emitPropertyValues();
            },
            handleTitle: function(title)
            {
                this.title = title;
                this.emitPropertyValues();
            },
            handleLinkText: function(linkText)
            {
                this.linkText = linkText;
                this.emitPropertyValues();
            },
            handleLinkUrl: function(linkUrl)
            {
                this.linkUrl = linkUrl;
                this.emitPropertyValues();
            },
            handleContentMain: function(contentMain)
            {
                this.contentMain = contentMain;
                this.emitPropertyValues();
            },
            handleContentReadMore: function(contentReadMore)
            {
                this.contentReadMore = contentReadMore;
                this.emitPropertyValues();
            },
            handleImageSelected: function(imageId)
            {
                this.selectedImageId = imageId;
                this.emitPropertyValues();
            },
            handleImageUploaded: function(imageData)
            {
                this.$emit('updateAssetImages', true);
            },
        },
        props: ['extData','index','uploadedImages', 'tabId', 'id','shouldUpdateIndex'],
        created: function(){
            this.selectedImageId = !this.extData ? '' : (this.extData.find(item => item.name == 'asset_image_id')).content;
            this.blockHeading = !this.extData ? '' : (this.extData.find(item => item.name == 'block_heading')).content;
            this.title = !this.extData ? '' : (this.extData.find(item => item.name == 'title')).content;
            this.linkText = !this.extData ? '' : (this.extData.find(item => item.name == 'link_text')).content;
            this.linkUrl = !this.extData ? '' : (this.extData.find(item => item.name == 'link_url')).content;
            this.contentMain = !this.extData ? '' : (this.extData.find(item => item.name == 'content_main')).content;
            this.contentReadMore = !this.extData ? '' : (this.extData.find(item => item.name == 'content_read_more')).content;
            this.isFullWidth = !this.extData || !this.extData.find(item => item.name == 'is_full_width') ? false : +(this.extData.find(item => item.name == 'is_full_width')).content;
            this.blockIndex = this.index;
        },
        computed: {
            computedUploadedImages: function()
            {
                return this.uploadedImages;
            }
        },
        watch: {
            shouldUpdateIndex: function(newVal)
            {
                this.emitPropertyValues();
            },
            isFullWidth: function(newVal)
            {
                this.emitPropertyValues();
            }
        },
        mounted: function(){}
    }

</script>