<template>
    <div>
        <div class="dashboard-left">
            <div class="col-md-4">
                <div class="display-responsive">
                    <slot name="mobile"></slot>
                </div>
                <img :src="getPhoto" class="img-responsive" alt=""/>
                <h2>my profile</h2>
                <h3 class="profile-name">{{delegate.first_name}} {{delegate.last_name}}</h3>
                <div class="buttons">
                    <new-profile-photo :delegate="delegate" @photoChanged="photoChanged"></new-profile-photo>
                    <a class="btn btn-default update-profile"
                       :class="{active: showProfileForm}"
                       @click="showProfileForm = !showProfileForm">update profile</a>
                </div>
            </div>
        </div>
        <div class="dashboard-right col-md-8">
            <div class="dashboard-load" v-if="!showProfileForm">
                <div class="hide-responsive">
                    <slot name="body"></slot>
                </div>
                <div class="vertical-spacer"></div>
                <h2>new notifications</h2>
                <!--<div class="side-by-side-link">-->
                    <!--<a href="#myplanner" @click="goMyPlanner()" data-toggle="tab">see all</a>-->
                <!--</div>-->
                <div class="clearfix"></div>
                <div class="panel-group" id="accordiondashboardOne" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingdashboardOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordionRegister" href="#collapsedashboardOne" aria-expanded="false"
                                   aria-controls="collapsedashboardOne">meeting requests</a>
                            </h4>
                        </div>
                        <div :id="'collapsedashboard' + request.id" class="panel-collapse collapse in accordion-body" role="tabpanel"
                             aria-labelledby="headingdashboardOne" v-for="request in requests">
                            <div class="panel-body">
                                <div class="two-column-accordion">
                                    <div class="left-container-details">
                                        <div class="left-image">
                                            <img :src="request.delegate.photo.path" class="img-responsive" alt="" v-if="request.delegate.photo"/>
                                            <img src="/frontend/img/GBF2017/default_photo.jpg" alt="" class="img-responsive" v-else>
                                        </div>
                                        <div class="right-details">
                                            <p><span>{{request.delegate.first_name}} {{request.delegate.last_name}}</span></p>
                                            <p>{{request.meeting_timeslot.time_from}} on {{request.meeting_timeslot.day.name}}</p>
                                        </div>
                                    </div>
                                    <div class="request-action">
                                        <a class="dashboard-action accept-btn" @click="acceptRequest(request.id)">accept <span><img
                                                src="/frontend/img/GBF2017/accept.png" alt=""/></span></a>
                                        <a class="dashboard-action decline-btn" @click="declineRequest(request.id)">decline <span><img
                                                src="/frontend/img/GBF2017/decline.png" alt=""/></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div :id="'collapsedashboard0'" class="panel-collapse collapse in accordion-body no-requests" role="tabpanel"
                             aria-labelledby="headingdashboardOne" v-if="!requests.length">
                            <div class="panel-body">
                                <div class="two-column-accordion">
                                    <div class="left-container-details">
                                        <span>NO REQUESTS PENDING</span>
                                    </div>
                                    <div class="request-action">
                                        <a href="#delegates" class="btn btn-default"
                                           @click="toggleTab('#delegates')">request
                                            meeting</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="update-form" v-else>
                <h3>update my profile</h3>
                <p>All fields marked with <sup>*</sup> are mandatory.</p>

                <profile-form :delegate-data="delegate"
                              :countries="countries"></profile-form>

            </div>
        </div>
    </div>
</template>


<style src="../fade.css"></style>

<script>
    import {EventBus} from '../event-bus.js'

    export default {
        data: function () {
            return {
                profilePhoto: '',
                requests: [],
                showProfileForm: false,
            }
        },
        props: {
            photo: '',
            delegate: {},
            countries: {
                type: Array,
            },
        },
        computed: {
            getPhoto: function () {
                return this.profilePhoto;
            },
        },
        mounted: function () {
            this.profilePhoto = this.photo;
            this.retrieveRequests();
            EventBus.$on('meeting-request-created', () => {
                this.retrieveRequests();
            });
        },
        watch: {},
        methods: {
            goMyPlanner(){
                window.scrollTo(0,0);
                $('.active-breadcrumb').text('My PLANNER');
                $(".nav-tabs li").removeClass('active');
                $("a[href='#myplanner']").parent("li").addClass('active');
            },
            photoChanged(photo) {
                this.profilePhoto = photo;
            },
            acceptRequest(id) {
                axios.patch('api/request/accept/' + id)
                    .then(response => {
                        EventBus.$emit('meeting-request-created');
                    })
            },
            declineRequest(id) {
                axios.delete('api/request/cancel/' + id)
                    .then(response => {
                        EventBus.$emit('meeting-request-created');
                    })
            },
            retrieveRequests() {
                axios.get('api/request/all')
                    .then(response => {
                        if(response.data) {
                            this.requests = response.data;
                            //TODO: Remove console.log()
                            console.log( this.requests );
                        }
                    })
            },
            toggleTab(tab) {
                $('a[href*="' + tab + '"]').click();
            },
        },
        created: function () {
        }
    }

</script>
