<template>
    <div id="delegates-tab">
        <div class="filtering-container">
            <div class="col-md-3 col-sm-6 filtering">
                <p>sort by name</p>
                <select class="selectpicker"
                        id="sortFilter1"
                        name="sort_filter"
                        title="Any"
                        data-width="100%"
                        v-model="filter.sort"
                        required>
                    <option value="ASC" selected>A-Z</option>
                    <option value="DESC">Z-A</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-6 filtering">
                <p>country</p>
                <select class="selectpicker" id="countryFilter1" name="country_filter" title="Any"
                        v-model="filter.country"
                        data-width="100%">
                    <option value="" selected>Any</option>
                    <option :value="option.value"
                            v-for="option in countries">
                        {{option.text}}
                    </option>
                </select>
            </div>
            <div class="col-md-3 col-sm-6 filtering">
                <p>industry</p>
                <select class="selectpicker" id="industryFilter1" name="industry_filter" title="Any"
                        v-model="filter.industry"
                        data-width="100%" required>
                    <option value="" selected>Any</option>
                    <option :value="industry" v-for="industry in industries">{{industry | capitalize}}</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-6 filtering">
                <a class="btn btn-default filtering-btn" @click="filterDelegates">filter results</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="speaker-profile-container delegates-list">
            <div class="col-md-3 col-sm-6 col-xs-12 speaker-profile" v-for="delegate in delegates">
                <a class="speaker-profile-data" @click="createDelegateRequest(delegate)">
                    <div class="square-image">
                        <img :src="delegate.photo.path" alt="" class="img-responsive" v-if="delegate.photo"/>
                        <img src="/frontend/img/GBF2017/default_photo.jpg" alt="" class="img-responsive" v-else>
                    </div>
                    <div class="profile-block">
                        <h3>{{delegate.first_name}} {{delegate.last_name}}</h3>
                        <p>{{delegate.job_title}}</p>
                        <p>{{delegate.organisation}}</p>
                    </div>
                    <span class="request-meeting">request meeting</span>
                </a>
            </div>


            <bootstrap-modal ref="delegateRequestModal"
                             :needHeader="true"
                             :needFooter="false"
                             :size="'large'"
                             id="al_mansoori_meeting_large" class="request-meeting">
                <div slot="title">
                    <h4 class="modal-title" id="requestMeetingLabel">request meeting</h4>
                </div>
                <div slot="body">
                    <div class="col-md-5">
                        <img :src="selectedDelegate.photo.path" alt="" class="img-responsive"
                             v-if="selectedDelegate.photo"/>
                        <img src="/frontend/img/GBF2017/default_photo.jpg" alt="" class="img-responsive" v-else>
                    </div>
                    <div class="col-md-7">
                        <template v-if="!requestSuccess">
                            <h3>request one-to-one meeting with</h3>
                            <h2>{{selectedDelegate.first_name}} <span>{{selectedDelegate.last_name}}</span></h2>
                            <span class="title">{{selectedDelegate.job_title}}
                                <span class="country">{{selectedDelegate.organisation}}</span>
                            </span>
                            <p>{{selectedDelegate.bio}}</p>
                            <div class="slot-container">
                                <div class="time-slot"
                                     :class="[{ 'has-error': errors.timeslot }]">
                                    <p>time requested</p>
                                    <select class="form-control" id="timeSort1" name="time_sort"
                                            v-model="request.timeslot"
                                            title="Select time slot" data-width="100%" required>
                                        <option value="" selected>Select time slot</option>
                                        <optgroup :label="day.name" v-for="day in days">
                                            <option :value="slot.id" v-for="slot in day.meeting_timeslots">
                                                {{slot.time_from}} - {{slot.time_to}}
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>

                                <transition name="fade">
                                    <span class="help-block" id="timeslot" v-if="errors.timeslot">
                                        <span class="text-danger">{{ errors.timeslot.join(' ') }}</span>
                                    </span>
                                </transition>
                            </div>
                            <div class="note-container">
                                <div class="note-info">
                                    <p>include a personal note: <span>[optional]</span></p>
                                    <textarea class="form-control" rows="5" id="note1"
                                              name="noteinfo"
                                              v-model="request.note"
                                              placeholder="I would like to request a meeting with you."></textarea>
                                </div>
                            </div>
                            <a class="btn btn-default pull-right" @click="confirmRequest">submit</a>
                        </template>
                        <template v-else>
                            <h3>request was sent</h3>
                        </template>
                    </div>
                </div>
                <div slot="footer">
                </div>
            </bootstrap-modal>

        </div>
    </div>
</template>


<style src="../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import BootstrapModal from 'vue2-bootstrap-modal'
    import {EventBus} from '../event-bus.js'

    export default {
        components: {
            BootstrapModal: BootstrapModal
        },
        data: function () {
            return {
                days: [],
                industries: [],
                delegates: [],
                selectedDelegate: {},
                filter: {'sort': 'ASC', 'country': '', 'industry': ''},
                request: {target: '', timeslot: '', note: ''},
                errors: {},
                requestSuccess: false
            }
        },
        props: {
            countries: {
                type: Array,
            }
        },
        computed: {},
        mounted: function () {
            this.retrieveDays();
            this.retrieveIndustries();
            this.filterDelegates();
        },
        watch: {
            'industries': function (oldV, newV) {
                setTimeout(() => {$('.selectpicker').selectpicker('refresh')}, 300)
            }
        },
        methods: {
            retrieveDays() {
                axios.get('api/get-meetings')
                    .then(response => {
                        if (response.data) {
                            this.days = response.data;
                            this.reorderTimeSlots();
                        }
                    })
            },
            retrieveIndustries() {
                axios.get('api/get-industries')
                    .then(response => {
                        if (response.data) {
                            this.industries = response.data;
                        }
                    })
            },
            reorderTimeSlots() {
                this.days.forEach((day, index) => {
                    this.days[index].meeting_timeslots.sort((a, b) => {
                        return parseFloat(a.time_from.replace(':', '.')) - parseFloat(b.time_from.replace(':', '.'));
                    });
                });
            },
            filterDelegates() {
                axios.post('api/get-delegates', this.filter)
                    .then(response => {
                        if (response.data) {
                            this.delegates = response.data;
                        }
                    })
            },
            createDelegateRequest(delegate) {
                this.selectedDelegate = delegate;
                this.requestSuccess = false;
                this.errors = {};
                this.$refs.delegateRequestModal.open();
            },
            confirmRequest() {
                this.errors = {};
                this.request.target = this.selectedDelegate.id;
                axios.post('api/request/create', this.request)
                    .then(response => {
                        this.requestSuccess = true;
                        EventBus.$emit('meeting-request-created');
                    })
                    .catch(error => {
                        this.errors = error.response.data;
                    })
            }
        },
        created: function () {
        },
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.replace(/\b\w/g, l => l.toUpperCase())
            }
        }
    }

</script>
