<template>
    <div>
        <a class="tab-link" @click="$refs.logoutModal.open()" :style="{'text-decoration':'none'}">LOGOUT</a>

    </div>
</template>


<style src="../fade.css"></style>

<script>
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        components: {
            BootstrapModal: BootstrapModal
        },
        data: function () {
            return {
                busy: false,
                newPhoto: null,
                photoError: false,
            }
        },
        props: {
            delegate: {}
        },
        computed: {},
        mounted: function () {
        },
        watch: {},
        methods: {
            uploadPhoto() {
                if(!this.newPhoto) {
                    this.photoError = 'Please select photo';
                    return false;
                }

                this.busy = true;

                axios.post('profile-photo', {
                    photo: this.newPhoto
                }).then(response => {
                    if(response.data.success) {
                        this.$emit('photoChanged', response.data.newPhoto);
                    }
                    $('#fileRemove').trigger('click');
                    this.$refs.photoModal.close();
                    this.busy = false;
                    this.newPhoto = null;
                }).catch(error => {
                    if(error.response && error.response.data && error.response.data.photo) {
                        this.photoError = error.response.data.photo[0];
                    } else {
                        window.toastr.warning('Failed', error);
                    }
                })
            },
            fileFieldChanged(e) {
                let files = e.target.files || e.dataTransfer.files;
                this.photoError = false;
                if (!files.length) {
                    this.newPhoto = null;
                    return;
                }
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.newPhoto = {
                        file: e.target.result,
                        name: file.name
                    };
                };
                reader.readAsDataURL(file);
            },
            fileRemove() {
                this.newPhoto = null;
                this.photoError = false;
            }
        },
        created: function () {
        }
    }

</script>
