<template>
    <div>

        <bootstrap-modal ref="photoModal" :needHeader="true" :needFooter="false" :id="'update-photo'" :size="'large'">
            <div slot="title">
                <h4 class="modal-title" id="updatePhotoLabel">update photo</h4>
            </div>
            <div slot="body">

                <small>All fields marked with <sup>*</sup> mandatory.</small>
                <p>
                    Attach passport sized photo for delegate badge <span>[JPEG or PNG max file size: 500KB]</span>
                    <sup>*</sup></p>
                <div class="col-md-9">
                    <div class="row">
                        <div class="fileinput fileinput-new input-group" name="upload"
                             data-provides="fileinput"
                             id="photoUpload1">
                                    <span class="input-group-addon btn btn-default btn-file">
                                        <span class="fileinput-new">browse</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="photo" @change="fileFieldChanged">
                                    </span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                               data-dismiss="fileinput" id="fileRemove" @click="fileRemove">Remove</a>
                            <div class="form-control" data-trigger="fileinput">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i> <span
                                    class="fileinput-filename"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <transition name="fade">
                                    <span class="help-block" :id="'photo_error'" v-if="photoError">
                                        <span class="text-danger" v-html="photoError"></span>
                                    </span>
                        </transition>
                    </div>
                </div>
                <div class="col-md-3 uploading-button">
                    <div class="row">
                        <a class="btn btn-default upload-photo pull-right" @click="uploadPhoto" :disabled="busy" v-html="busy ? '<i class=\'fa fa-spin fa-spinner\'></i>' : 'upload'"></a>
                    </div>
                </div>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>

        <a class="btn btn-default update-photo" @click="$refs.photoModal.open()" :disabled="busy" v-html="busy ? '<i class=\'fa fa-spin fa-spinner\'></i>' : 'Update Photo'"></a>

    </div>
</template>


<style src="../fade.css"></style>

<script>
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        components: {
            BootstrapModal: BootstrapModal
        },
        data: function () {
            return {
                busy: false,
                newPhoto: null,
                photoError: false,
            }
        },
        props: {
            delegate: {}
        },
        computed: {},
        mounted: function () {
        },
        watch: {},
        methods: {
            uploadPhoto() {
                if(!this.newPhoto) {
                    this.photoError = 'Please select photo';
                    return false;
                }

                this.busy = true;

                axios.post('profile-photo', {
                    photo: this.newPhoto
                }).then(response => {
                    if(response.data.success) {
                        window.location.reload();
                        //this.$emit('photoChanged', response.data.newPhoto);
                    }
                    // $('#fileRemove').trigger('click');
                    // this.$refs.photoModal.close();
                    // this.busy = false;
                    // this.newPhoto = null;
                }).catch(error => {
                    if(error.response && error.response.data && error.response.data.photo) {
                        this.photoError = error.response.data.photo[0];
                        this.busy = false;
                    } else {
                        window.toastr.warning('Failed', error);
                        this.busy = false;
                    }
                })
            },
            fileFieldChanged(e) {
                let files = e.target.files || e.dataTransfer.files;
                this.photoError = false;
                if (!files.length) {
                    this.newPhoto = null;
                    return;
                }
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.newPhoto = {
                        file: e.target.result,
                        name: file.name
                    };
                };
                reader.readAsDataURL(file);
            },
            fileRemove() {
                this.newPhoto = null;
                this.photoError = false;
            }
        },
        created: function () {
        }
    }

</script>
