<template>
    <div class="my-planner-wrapper" :class="[{'edit-mode': editMode}]">

        <div class="my-planner-head">
            <slot name="body"></slot>
        </div>

        <div class="top-right-navigation">
            <a href="api/profile/planner-pdf" target="_blank">print</a>
            <a @click="sendEmail">email</a>
        </div>
        <div class="clearfix"></div>
        <div class="filter-action-btns">
            <div class="filtering col-xs-12">
                <a :class="[{active: show === 'all'}]" @click="showList('all')">all</a>
                <a :class="[{active: show === 'programme'}]" @click="showList('programme')">my programme</a>
                <a :class="[{active: show === 'meetings'}]" @click="showList('meetings')">my meetings</a>
            </div>
            <div class="action-btn col-xs-12">
                <a class="btn btn-default" v-show="['programme', 'all'].includes(show) && !editMode"
                   @click="myAvailability">my availability</a>
                <a href="" class="btn btn-default" @click="finishEdit" v-if="editMode">save</a>
                <a href="" class="btn btn-default" @click="startEdit" v-else>edit & add appointments</a>
            </div>
        </div>

        <div class="panel-group"
             id="accordionDashboardDay0"
             role="tablist"
             aria-multiselectable="false">
            <div class="panel panel-default"
                 v-for="(day, index) in days">
                <div class="panel-heading"
                     role="tab"
                     :id="'headingDashboardDay' + index">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           data-parent="accordionDashboardDay0"
                           :href="'#collapseDashboardDay' + index"
                           aria-expanded="false"
                           :aria-controls="'collapseDashboardDay' + index">{{day.name}}
                            <span class="glyphicon glyphicon-menu-down"></span></a>
                    </h4>
                </div>
                <div :id="'collapseDashboardDay' + index"
                     class="panel-collapse collapse accordion-body my-planner-accordion"
                     :class="[{'in' : index == 0}]"
                     role="tabpanel" :aria-labelledby="'headingDashboardDay' + index">

                    <a class="btn btn-default appointment-popup" @click="$refs.addAppointment.open()" v-if="editMode">add appointment</a>
                    <div class="clearfix"></div>

                    <div class="panel-body">

                        <template v-for="timeslot in day.schedule_timeslots">

                            <template v-if="timeslot.type === 'meeting_timeslots'">
                                <div v-show="['meetings', 'all'].includes(show)">
                                    <div class="invited-requests-block" v-if="!!timeslot.meeting_requests.length">
                                        <div v-for="meeting_request in timeslot.meeting_requests"
                                             :id="'collapseDayMeetingRequest' + index + meeting_request.id"
                                             class="panel-collapse my-planner collapse in accordion-body"
                                             :class="[{
                                             'accepted-requests-block' : meeting_request.status === 'confirmed',
                                             'awaiting-requests-block' : meeting_request.delegate_id === delegate.id
                                         }]"
                                             role="tabpanel"
                                             :aria-labelledby="'headingDayMeetingRequest' + index + meeting_request.id">
                                            <div class="panel-body">
                                                <div class="meeting-request-accordion">
                                                    <div class="left-container-details"
                                                         v-if="meeting_request.delegate_id === delegate.id">
                                                        <div class="left-time">
                                                            <p>{{timeslot.time_from}} - {{timeslot.time_to}}</p>
                                                        </div>
                                                        <div class="right-details">
                                                            <p>
                                                                <span>{{meeting_request.target.first_name}} {{meeting_request.target.last_name}}</span>
                                                            </p>
                                                            <p>{{meeting_request.target.job_title}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="left-container-details" v-else>
                                                        <div class="left-time">
                                                            <p>{{timeslot.time_from}} - {{timeslot.time_to}}</p>
                                                        </div>
                                                        <div class="right-details">
                                                            <p>
                                                                <span>{{meeting_request.delegate.first_name}} {{meeting_request.delegate.last_name}}</span>
                                                            </p>
                                                            <p>{{meeting_request.delegate.job_title}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="request-action"
                                                         v-if="meeting_request.status === 'confirmed'">
                                                        <a class="dashboard-action accept-btn">accepted <span><img
                                                                src="/frontend/img/GBF2017/accept.png" alt=""></span></a>
                                                        <a class="dashboard-action decline-btn"
                                                           @click="cancelRequest(meeting_request.id)">cancel <span>
                                                            <img src="/frontend/img/GBF2017/decline.png" alt=""></span></a>
                                                    </div>
                                                    <div class="request-action"
                                                         v-else-if="meeting_request.delegate_id === delegate.id">
                                                        <a class="dashboard-action awaiting-btn">awaiting response
                                                            <span><img src="/frontend/img/GBF2017/awaiting.png"
                                                                       alt=""></span></a>
                                                        <a class="dashboard-action decline-btn"
                                                           @click="cancelRequest(meeting_request.id)">cancel request
                                                            <span><img src="/frontend/img/GBF2017/decline.png"
                                                                       alt=""></span></a>
                                                    </div>
                                                    <div class="request-action" v-else>
                                                        <a class="dashboard-action accept-btn"
                                                           @click="acceptRequest(meeting_request.id)">accept <span><img
                                                                src="/frontend/img/GBF2017/accept.png"
                                                                alt=""></span></a>
                                                        <a class="dashboard-action decline-btn"
                                                           @click="declineRequest(meeting_request.id)">decline <span><img
                                                                src="/frontend/img/GBF2017/decline.png"
                                                                alt=""></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="no-requests-block"
                                         :class="[{
                                             'unavailable-request-block': !isAvailable(timeslot.id, 'meeting') && editMode,
                                             'no-requests-available-block': isAvailable(timeslot.id, 'meeting') && editMode
                                         }]" v-else v-show="isAvailable(timeslot.id, 'meeting') || editMode">
                                        <div :id="'collapseDayMeetingRequest' + index + timeslot.id"
                                             class="panel-collapse my-planner no-request collapse in accordion-body"
                                             role="tabpanel" aria-labelledby="headingDayOneMeetingRequestFour">
                                            <div class="panel-body">
                                                <div class="meeting-request-accordion">
                                                    <div class="left-container-details">
                                                        <div class="left-time">
                                                            <p>{{timeslot.time_from}} - {{timeslot.time_to}}</p>
                                                        </div>
                                                        <div class="right-details">
                                                            <p>
                                                                <span v-if="isAvailable(timeslot.id, 'meeting')">no requests</span>
                                                                <span v-else>unavailable</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="request-action" v-if="!editMode">
                                                        <a href="#delegates" class="btn btn-default"
                                                           v-if="isAvailable(timeslot.id, 'meeting')"
                                                           @click="toggleTab('#delegates')">request
                                                            meeting</a>
                                                    </div>
                                                    <div class="request-action"
                                                         v-else-if="isAvailable(timeslot.id, 'meeting')">

                                                        <a class="dashboard-action available-accept-btn">available
                                                            <span><img
                                                                    src="/frontend/img/GBF2017/available-accept-icon.png"
                                                                    alt=""></span></a>
                                                        <a class="dashboard-action available-decline-btn"
                                                           @click="setUnavailable(timeslot.id, 'meeting')">available
                                                            <span><img
                                                                    src="/frontend/img/GBF2017/unavailable-decline-icon.png"
                                                                    alt=""></span></a>
                                                    </div>
                                                    <div class="request-action" v-else>
                                                        <a class="dashboard-action unavailable-btn">set as available
                                                            <span><img src="/frontend/img/GBF2017/unavailable-icon.png"
                                                                       alt=""></span></a>
                                                        <a class="dashboard-action available-accept-btn"
                                                           @click="setAvailable(timeslot.id, 'meeting')">set as available
                                                            <span>
                                                                <img src="/frontend/img/GBF2017/available-accept-icon.png"
                                                                     alt="">
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-else-if="timeslot.type === 'personal_appointments'">
                                <!-- PERSONAL APPOINTMENT BLOCK -->
                                <div v-show="['programme', 'all'].includes(show)">
                                    <div class="personal-appointment-edit" :class="[{
                                            'selected-appointment-block': isAvailable(timeslot.id, 'appointments'),
                                            'unavailable-request-block': !isAvailable(timeslot.id, 'appointments')
                                        }]"
                                         v-if="editMode">
                                        <!-- PERSONAL APPOINTMENT EDIT MODE BLOCK -->
                                        <div :id="'collapseAppointment' + timeslot.id"
                                             class="panel-collapse my-planner no-request collapse in accordion-body">
                                            <div class="panel-body">
                                                <div class="meeting-request-accordion"
                                                     :style="{backgroundColor: timeslot.custom_color}">
                                                    <div class="left-container-details">
                                                        <div class="left-time">
                                                            <p>{{timeslot.time_from}} - {{timeslot.time_to}}</p>
                                                        </div>
                                                        <div class="right-details">
                                                            <p><span>{{timeslot.title}}</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="request-action">
                                                        <a class="btn btn-default delete-appointment"
                                                           @click="deleteAppointment(timeslot.id)">delete</a>

                                                        <template v-if="isAvailable(timeslot.id, 'appointments')">
                                                            <a class="dashboard-action available-accept-btn">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/available-selected-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                            <a class="dashboard-action unavailable-btn"
                                                               @click="setUnavailable(timeslot.id, 'appointments')">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/unavailable-decline-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                        </template>
                                                        <template v-else>
                                                            <a class="dashboard-action unavailable-btn">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/unavailable-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                            <a class="dashboard-action available-accept-btn"
                                                               @click="setAvailable(timeslot.id, 'appointments')">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/available-accept-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="no-content-block" v-else-if="isAvailable(timeslot.id, 'appointments')">
                                        <!-- PERSONAL APPOINTMENT BLOCK -->
                                        <div class="accordion programme clearfix appointment-accordion"
                                             :data-available="isAvailable(timeslot.id, 'appointments')">
                                            <div class="col-md-12">
                                                <div class="panel-group"
                                                     :id="'appointmentDay' + index + timeslot.id"
                                                     role="tablist"
                                                     aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading"
                                                             role="tab"
                                                             :style="{backgroundColor: timeslot.custom_color}"
                                                             :id="'headingAppointmentDay' + index + timeslot.id">
                                                            <h4 class="panel-title">
                                                                <a role="button"
                                                                   :href="'#collapseAppointmentDay' + index + timeslot.id"
                                                                   data-toggle="collapse"
                                                                   :data-parent="'#timeslotDay' + index"
                                                                   aria-expanded="true"
                                                                   :aria-controls="'collapseAppointmentDay' + index + timeslot.id">
                                                                    <span class="date">{{timeslot.time_from}} - {{timeslot.time_to}}</span>
                                                                    <p class="title">{{timeslot.title}}</p>
                                                                    <span class="glyphicon glyphicon-menu-down custom-arrow"
                                                                          v-if="timeslot.comment"></span>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div v-if="timeslot.comment"
                                                         :id="'collapseAppointmentDay' + index + timeslot.id"
                                                         class="panel-collapse collapse accordion-body"
                                                         role="tabpanel"
                                                         :aria-labelledby="'headingAppointmentDay' + index + timeslot.id">
                                                        <div class="panel-body" v-html="timeslot.comment"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div v-show="['programme', 'all'].includes(show)" class="program-timeslot">
                                    <div :class="[{
                                        'selected-appointment-block': isAvailable(timeslot.id),
                                        'unavailable-request-block': !isAvailable(timeslot.id)
                                    }]"
                                         v-if="editMode && timeslot.type !== 'information_item'">
                                        <div :id="'collapseDayMeetingRequest' + index + timeslot.id"
                                             class="panel-collapse my-planner no-request collapse in accordion-body"
                                             role="tabpanel"
                                             :aria-labelledby="'headingDayMeetingRequest' + index + timeslot.id">
                                            <div class="panel-body">
                                                <div class="meeting-request-accordion">
                                                    <div class="left-container-details">
                                                        <div class="left-time">
                                                            <p>{{timeslot.time_from}} - {{timeslot.time_to}}</p>
                                                        </div>
                                                        <div class="right-details">
                                                            <p><span>{{timeslot.title}}</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="request-action">
                                                        <template v-if="isAvailable(timeslot.id)">
                                                            <a class="dashboard-action available-accept-btn">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/available-selected-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                            <a class="dashboard-action unavailable-btn"
                                                               @click="setUnavailable(timeslot.id)">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/unavailable-decline-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                        </template>
                                                        <template v-else>
                                                            <a class="dashboard-action unavailable-btn">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/unavailable-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                            <a class="dashboard-action available-accept-btn"
                                                               @click="setAvailable(timeslot.id)">
                                                                <span><img
                                                                        src="/frontend/img/GBF2017/available-accept-icon.png"
                                                                        alt=""></span>
                                                            </a>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion programme clearfix" v-else-if="isAvailable(timeslot.id)"
                                         :class="[{'information-item' : timeslot.type === 'information_item'}]">
                                        <div class="col-md-12">
                                            <div class="panel-group"
                                                 :id="'accordionDay' + index + timeslot.id"
                                                 role="tablist"
                                                 aria-multiselectable="true">
                                                <div class="panel panel-default"
                                                     :class="[{'unavailable-programme' : !isAvailable(timeslot.id) && editMode && timeslot.type === 'schedule_item'}]">
                                                    <div class="panel-heading"
                                                         :class="{'unclickable-link': timeslot.type === 'information_item'}"
                                                         role="tab"
                                                         :id="'headingDay' + index + timeslot.id">
                                                        <h4 class="panel-title">
                                                            <a role="button"
                                                               :class="{'unclickable-link': timeslot.type === 'information_item'}"
                                                               :href="'#collapseDay' + index + timeslot.id"
                                                               data-toggle="collapse"
                                                               :data-parent="'#timeslotDay' + index"
                                                               aria-expanded="true"
                                                               :aria-controls="'collapseDay' + index + timeslot.id">
                                                                <span class="date">{{timeslot.time_from}} - {{timeslot.time_to}}</span>
                                                                <p class="title">{{timeslot.title}}</p>
                                                                <span class="glyphicon glyphicon-menu-down custom-arrow"
                                                                      v-if="timeslot.type === 'schedule_item' && (timeslot.description || timeslot.speakers.length)"></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div v-if="timeslot.type === 'schedule_item' && !editMode && (timeslot.description || timeslot.speakers.length)"
                                                     :id="'collapseDay' + index + timeslot.id"
                                                     class="panel-collapse collapse accordion-body"
                                                     role="tabpanel"
                                                     :aria-labelledby="'headingDay' + index + timeslot.id">
                                                    <div class="panel-body">
                                                        <div v-html="timeslot.description"></div>
                                                        <h4 v-if="timeslot.speakers.length">
                                                            Confirmed {{ parseInt(timeslot.speakers.length) > 1 ? 'speakers' : 'speaker'}}:</h4>
                                                        <p v-for="speaker in timeslot.speakers">
                                                            <a :href="speakerPath +'/'+ speaker.id">{{speaker.name}}</a>,
                                                            {{speaker.company_title}}, {{speaker.company}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </template>

                        </template>

                    </div>
                </div>
            </div>
        </div>
        <bootstrap-modal ref="confirmDelete" :needHeader="true" :needFooter="false" :id="'delete-timeslot'">
            <div slot="title">
                <h4 class="modal-title" id="delete-timeslot-Label">confirm delete</h4>
            </div>
            <div slot="body">
                <p class="text-center">Are you sure you want to delete your appointment?</p>
                <div class="request-action text-center">
                    <a class="btn btn-default" @click="cancelUnavailible">cancel</a>
                    <a class="btn btn-default" @click="confirmUnavailible">ok</a>
                </div>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
        <bootstrap-modal ref="confirmDeleteAppointment" :needHeader="true" :needFooter="false"
                         :id="'delete-appointment'">
            <div slot="title">
                <h4 class="modal-title" id="delete-appointment-Label">confirm delete</h4>
            </div>
            <div slot="body">
                <p class="text-center">Are you sure you want to delete your appointment?</p>
                <div class="request-action text-center">
                    <a class="btn btn-default" @click="cancelDeleteAppointment">cancel</a>
                    <a class="btn btn-default" @click="confirmDeleteAppointment">ok</a>
                </div>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
        <bootstrap-modal ref="myAvailability" :needHeader="true" :needFooter="false" :id="'myavailability'">
            <div slot="title">
                <h4 class="modal-title" id="myavailabilityLabel">my availability</h4>
            </div>
            <div slot="body">
                <p>For meetings booked externally, we kindly ask for you to keep your availability updated.</p>
                <span id="checkall">
                                <input type="checkbox" name="checkedCheckBox" id="checked1" value="checked1">
                                <label for="checked1" @click="triggerAllMeetings(true)">check all</label>
                            </span>
                <span id="uncheckall">
                                <input type="checkbox" name="uncheckedCheckBox" id="unchecked1" value="unchecked1">
                                <label for="unchecked1" @click="triggerAllMeetings(false)">uncheck all</label>
                            </span>
                <div class="clearfix">
                    <div class="day-block col-sm-6"
                         v-for="(day, index) in days">
                        <h4>{{day.name}}</h4>
                        <ul>
                            <li v-for="timeslot in day.meeting_timeslots">
                                <input type="checkbox" name="time1Day1CheckBox" id="Time1Day1" value="Time1Day1"
                                       :checked="!isAvailable(timeslot.id, 'meeting')">
                                <label @click="triggerMeeting(timeslot.id)">{{timeslot.time_from}} to {{timeslot.time_to}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="request-action clearfix">
                    <a class="btn btn-default" @click="finishEdit">save</a>
                </div>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
        <bootstrap-modal ref="addAppointment" :needHeader="true" :needFooter="false" :id="'add-appointment'"
                         :size="'large'">
            <div slot="title">
                <h4 class="modal-title" id="add-appointment-Label">add appointment</h4>
            </div>
            <div slot="body">
                <p>
                    Please choose a day and time and enter an appointment title in order set your personal appointment.</p>
                <small>All fields marked with <sup>*</sup> mandatory.</small>
                <form @submit.prevent="saveAppointment">
                    <div class="form-group" id="appointmentDayGroup" :class="[{ 'has-error': errors.day }]">
                        <h3>appointment day <sup>*</sup></h3>
                        <template v-for="(day, index) in days">
                            <input type="checkbox" :name="'day'" :id="'day' + day.id" :value="day.id"
                                   v-model="newAppointment.day" @click="dayChanged">
                            <label :for="'day' + day.id">{{day.name}}</label>
                        </template>
                        <transition name="fade">
                                    <span class="help-block" v-if="errors.day">
                                        <span class="text-danger">{{ errors.day.join(' ') }}</span>
                                    </span>
                        </transition>
                    </div>
                    <div class="form-group" id="appointmentTimeSlotGroup"
                         :class="[{ 'has-error': errors.time_from || errors.time_to }]">
                        <h3>appointment time <sup>*</sup></h3>
                        <div class="col-xs-6 select-option-group">
                            <label for="" class="control-label col-xs-6">start time <sup>*</sup></label>
                            <div class="col-xs-6">
                                <vue-timepicker v-model="newAppointment.time_from" :format="'H:mm'"></vue-timepicker>
                            </div>

                            <transition name="fade">
                                    <span class="help-block" v-if="errors.time_from">
                                        <span class="text-danger">{{ errors.time_from.join(' ') }}</span>
                                    </span>
                            </transition>
                            <transition name="fade">
                                <span class="help-block" v-if="errors['time_from.H']">
                                        <span class="text-danger">{{ errors['time_from.H'].join(' ') }}</span>
                                    </span>
                            </transition>
                            <transition name="fade">
                                <span class="help-block" v-if="errors['time_from.mm']">
                                        <span class="text-danger">{{ errors['time_from.mm'].join(' ') }}</span>
                                    </span>
                            </transition>
                        </div>
                        <div class="col-xs-6 select-option-group">
                            <label for="" class="control-label col-xs-6">end time <sup>*</sup></label>
                            <div class="col-xs-6">
                                <vue-timepicker v-model="newAppointment.time_to" :format="'H:mm'"></vue-timepicker>
                            </div>
                        </div>
                        <transition name="fade">
                                    <span class="help-block" v-if="errors.time_to">
                                        <span class="text-danger">{{ errors.time_to.join(' ') }}</span>
                                    </span>
                        </transition>
                        <transition name="fade">
                            <span class="help-block" v-if="errors['time_to.H']">
                                        <span class="text-danger">{{ errors['time_to.H'].join(' ') }}</span>
                                    </span>
                        </transition>
                        <transition name="fade">
                            <span class="help-block" v-if="errors['time_to.mm']">
                                        <span class="text-danger">{{ errors['time_to.mm'].join(' ') }}</span>
                                    </span>
                        </transition>
                    </div>
                    <div class="form-group" id="appointmentTitleGroup" :class="[{ 'has-error': errors.title }]">
                        <label for="appointmentTitle" class="control-label"><h3>appointment title <sup>*</sup></h3>
                        </label>
                        <input type="text" class="form-control" id="appointmentTitle" name="appointmentTitle"
                               v-model="newAppointment.title">
                        <transition name="fade">
                                    <span class="help-block" v-if="errors.title">
                                        <span class="text-danger">{{ errors.title.join(' ') }}</span>
                                    </span>
                        </transition>
                    </div>
                    <div class="form-group">
                        <label for="comments1" class="control-label"><h3>include comment <span>[optional]</span></h3>
                        </label>
                        <textarea class="form-control" rows="3" id="comments1" name="comments"
                                  v-model="newAppointment.comment"></textarea>
                    </div>

                    <transition name="fade">
                        <div v-if="errors.overlap && errors.overlap.length">
                            <small class="red">
                                The selected time slot is overlapping with the following programme sessions and meetings:
                            </small>
                            <ul>
                                <li v-for="temeslot in errors.overlap">{{temeslot}}</li>
                            </ul>
                        </div>
                    </transition>

                    <div class="form-group">
                        <button type="submit" :disabled="busy" class="btn btn-default">confirm appointment</button>
                    </div>
                </form>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
        <bootstrap-modal ref="successEmail" :needHeader="true" :needFooter="false" :id="'success-email'">
            <div slot="title">
                <h4 class="modal-title" id="success-email-Label">Email report</h4>
            </div>
            <div slot="body">
                <p class="text-center">Your schedule was sent to your email address.</p>
                <div class="request-action text-center">
                    <a class="btn btn-default" @click="$refs.successEmail.close()">ok</a>
                </div>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
    </div>
</template>


<style src="../fade.css"></style>

<script>
    import BootstrapModal from 'vue2-bootstrap-modal'
    import {EventBus} from '../event-bus.js';
    import VueTimepicker from 'vue2-timepicker'

    export default {
        components: {
            BootstrapModal: BootstrapModal,
            VueTimepicker: VueTimepicker
        },
        data: function () {
            return {
                busy: false,
                days: [],
                unavailableMeetings: [],
                unavailablePrograms: [],
                unavailableAppointments: [],
                timeslotToDisable: {},
                newAppointment: {
                    day: [],
                    title: '',
                    time_from: {
                        H: '',
                        mm: ''
                    },
                    time_to: {
                        H: '',
                        mm: ''
                    },
                },
                appointmentToDelete: false,
                show: 'all',
                editMode: false,
                errors: {}
            }
        },
        props: {
            delegate: {},
            speakerPath: ''
        },
        computed: {},
        mounted: function () {
            this.retrieveDays();
            this.retrieveUnavailableList();
            EventBus.$on('meeting-request-created', () => {
                this.retrieveDays();
            });
        },
        watch: {
            'newAppointment.time_from': function (newVal, oldVal) {
                this.checkAppointment();
            },
            'newAppointment.time_to': function (newVal, oldVal) {
                this.checkAppointment();
            },
        },
        methods: {
            retrieveDays() {
                axios.get('api/get-meetings')
                    .then(response => {
                        if (response.data) {
                            this.days = response.data;
                            this.reorderTimeSlots();
                        }
                    })
            },
            retrieveUnavailableList() {

                axios.get('api/timeslot/get-unavailable')
                    .then(response => {
                        if (response.data) {
                            if (response.data.meetings) {
                                this.unavailableMeetings = response.data.meetings.map(meeting => {
                                    return meeting.timeslot_id;
                                });
                            }
                            if (response.data.programs) {
                                this.unavailablePrograms = response.data.programs.map(program => {
                                    return program.timeslot_id;
                                });
                            }
                            if (response.data.appointments) {
                                this.unavailableAppointments = response.data.appointments.map(appointment => {
                                    return appointment.timeslot_id;
                                });
                            }
                        }
                        this.$forceUpdate();
                    })
            },
            reorderTimeSlots() {
                this.days.forEach((day, index) => {
                    day.meeting_timeslots.forEach((meeting, i) => {
                        meeting['type'] = 'meeting_timeslots';
                        this.days[index].schedule_timeslots.push(meeting);
                    });
                    day.personal_appointments.forEach((appointment, i) => {
                        appointment['type'] = 'personal_appointments';
                        this.days[index].schedule_timeslots.push(appointment);
                    });
                    this.days[index].schedule_timeslots.sort((a, b) => {
                        let calc = parseFloat(a.time_from.replace(':', '.')) - parseFloat(b.time_from.replace(':', '.'));
                        if(calc == 0){
                            calc = parseFloat(b.time_to.replace(':', '.')) - parseFloat(a.time_to.replace(':', '.'))
                        }
                        return calc;
                    });
                });
            },
            printPdf() {
                axios.get('api/profile/planner-pdf')
                    .then(response => {
                    })
            },
            sendEmail() {
                axios.get('api/profile/planner-email')
                    .then(response => {
                        this.$refs.successEmail.open()
                    })
            },
            cancelRequest(id) {
                axios.delete('api/request/cancel/' + id)
                    .then(response => {
                        EventBus.$emit('meeting-request-created');
                    })
            },
            acceptRequest(id) {
                axios.patch('api/request/accept/' + id)
                    .then(response => {
                        EventBus.$emit('meeting-request-created');
                    })
            },
            declineRequest(id) {
                this.cancelRequest(id);
            },
            toggleTab(tab) {
                $('a[href*="' + tab + '"]').click();
            },
            showList(show) {
                this.show = show;

            },
            startEdit(e) {
                e.preventDefault();
                this.editMode = true;
            },
            finishEdit(e) {
                e.preventDefault();
                this.editMode = false;

                axios.patch('api/timeslot/update-unavailable', {
                    meetings: this.unavailableMeetings,
                    programs: this.unavailablePrograms,
                    appointments: this.unavailableAppointments,
                })
                    .then(response => {
                        //TODO: Remove console.log()
                        console.log('Unavailable updated!');
                        this.$refs.myAvailability.close();
                    })
            },
            isAvailable(timeslotId, type) {
                if (type === 'meeting') {
                    return !this.unavailableMeetings.includes(timeslotId);
                }
                if (type === 'appointments') {
                    return !this.unavailableAppointments.includes(timeslotId);
                }
                return !this.unavailablePrograms.includes(timeslotId);
            },
            setUnavailable(id, type) {
                this.timeslotToDisable = {
                    id: id,
                    type: type
                };
//                this.$refs.confirmDelete.open();
                this.confirmUnavailible();
            },
            triggerMeeting(id) {
                if (this.unavailableMeetings.includes(id)) {
                    let index = this.unavailableMeetings.indexOf(id);
                    this.unavailableMeetings.splice(index, 1);
                } else {
                    this.unavailableMeetings.push(id);
                }
            },
            triggerAllMeetings(available) {
                if (available) {
                    this.unavailableMeetings = [];
                } else {
                    this.days.forEach(day => {
                        day.meeting_timeslots.forEach(timeslot => {
                            if (!this.unavailableMeetings.includes(timeslot.id)) {
                                this.unavailableMeetings.push(timeslot.id);
                            }
                        });
                    });
                }
                //TODO: Remove console.log()
                console.log(this.unavailableMeetings);
            },
            setAvailable(id, type) {
                if (type === 'meeting') {
                    if (this.unavailableMeetings.includes(id)) {
                        let index = this.unavailableMeetings.indexOf(id);
                        this.unavailableMeetings.splice(index, 1);
                    }
                } else if (type === 'appointments') {
                    if (this.unavailableAppointments.includes(id)) {
                        let index = this.unavailableAppointments.indexOf(id);
                        this.unavailableAppointments.splice(index, 1);
                    }
                } else {
                    if (this.unavailablePrograms.includes(id)) {
                        let index = this.unavailablePrograms.indexOf(id);
                        this.unavailablePrograms.splice(index, 1);
                    }
                }
            },
            confirmUnavailible(){
                if (!this.timeslotToDisable.id) {
                    return;
                }
                if (this.timeslotToDisable.type === 'meeting') {
                    this.unavailableMeetings.push(this.timeslotToDisable.id);
                } else if (this.timeslotToDisable.type === 'appointments') {
                    this.unavailableAppointments.push(this.timeslotToDisable.id);
                }else {
                    this.unavailablePrograms.push(this.timeslotToDisable.id);
                }
                this.timeslotToDisable = {};
                this.$refs.confirmDelete.close();
            },
            cancelUnavailible() {
                this.timeslotToDisable = {};
                this.$refs.confirmDelete.close();
            },
            myAvailability() {
                this.$refs.myAvailability.open();
            },
            checkAppointment() {
                this.errors.overlap = [];
                this.days.forEach((day, index) => {
                    if (!this.newAppointment.day.includes(day.id.toString())) return;
                    day.schedule_timeslots.forEach(timeslot => {
                        if (this.errors.overlap.includes(timeslot.title)) {
                            return;
                        }
                        let timeslotStart = parseFloat(timeslot.time_from.replace(':', '.'));
                        let timeslotEnd = parseFloat(timeslot.time_to.replace(':', '.'));
                        let appointmentStart = parseFloat(this.newAppointment.time_from.H + '.' + this.newAppointment.time_from.mm);
                        let appointmentEnd = parseFloat(this.newAppointment.time_to.H + '.' + this.newAppointment.time_to.mm);

                        let startOverlap = appointmentStart > timeslotStart && appointmentStart < timeslotEnd;
                        let endOverlap = appointmentEnd > timeslotStart && appointmentEnd < timeslotEnd;
                        if (startOverlap || endOverlap) {
                            this.errors.overlap.push(timeslot.title);
                        } else if (appointmentStart < timeslotStart && appointmentEnd > timeslotStart) {
                            this.errors.overlap.push(timeslot.title);
                        } else if (appointmentStart < timeslotEnd && appointmentEnd > timeslotEnd) {
                            this.errors.overlap.push(timeslot.title);
                        }

                    })
                });
            },
            dayChanged(e) {
                this.newAppointment.day = e.target.checked ? [e.target.value] : [];
                this.checkAppointment();
            },
            saveAppointment() {
                this.errors = {};
                this.checkAppointment();
                this.busy = true;
                axios.post('api/appointment/create', this.newAppointment)
                    .then(response => {
                        this.busy = false;
                        this.$refs.addAppointment.close();
                        this.$forceUpdate();
                    })
                    .catch(error => {
                        this.errors = Object.assign(this.errors, error.response.data);
                        this.$forceUpdate();
                        this.busy = false;
                    })
            },
            deleteAppointment(id) {
                this.appointmentToDelete = id;
                this.$refs.confirmDeleteAppointment.open();
            },
            cancelDeleteAppointment() {
                this.appointmentToDelete = false;
                this.$refs.confirmDeleteAppointment.close();
            },
            confirmDeleteAppointment() {
                axios.delete('api/appointment/remove/' + this.appointmentToDelete)
                    .then(response => {
                        this.retrieveDays();
                        this.$forceUpdate();
                        this.$refs.confirmDeleteAppointment.close();
                    })
            }
        },
        created: function () {
        }
    }

</script>
