<template>
    <form method="post" @submit.prevent="submit"
          @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="box">
            <div class="box-header with-border">
                <span><h3 class="box-title">Notification</h3></span>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <p>
                        <b>Notification limit guide:</b><br/>
                        <b>76 characters</b>: visible on top banner notification <br/>
                        <b>161 characters</b>: visible on lock screen notification
                    </p>

                    <div class="col-md-12 form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('content') }">
                        <label>Content (<span v-html="form.content.length"></span> characters)</label>

                        <input type="text" class="form-control" required placeholder="Push content" name="content" value=""
                               v-model="form.content" autofocus/>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('content')"
                              v-text="form.errors.get('content')"
                              id="validation_error_push_content"></span>
                        </transition>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit"
                        class="btn btn-primary btn-block btn-flat"
                        :disabled="busy"><span v-if="!busy">Send to {{deviceCount}} devices</span><i v-if="busy" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

    </form>
</template>

<style src="../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import redirect from '../redirect'
    import valueOrEmpty from '../valueOrEmpty'
    import timeFunctions from '../timeFunctions'
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';

    export default {
        mixins: [redirect, valueOrEmpty],
        data: function () {
            let form = new Form({
                content: this.valueOrEmpty(this.content)
            });

            return {
                form: form,
                busy: false
            }
        },
        props: [
            'devices'
        ],
        computed: {
            deviceCount: function(){
                return this.devices.length;
            }
        },
        watch: {},
        mounted: function () {
            console.log(this.content);
        },
        methods: {
            submit () {
                this.busy = true;
                this.form.post('/a/push/send')
                    .then(response => {
                        var component = this;
                        this.busy = false;
                        //component.redirect('/a')
                        window.toastr.success('successfully sent!', 'Push Notification');
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors (name) {
                this.form.errors.clear(name)
            },

            parseVal(val) {
                let newVal = this.valueOrEmpty(val);
                if(newVal) {
                    newVal = JSON.parse(newVal);
                } else {
                    newVal = []
                }
                return newVal;
            },
        }
    }

</script>
