<template>
    <form method="post" @submit.prevent="submit" @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('name') }">
            <label>Day Name</label>
            <input type="text" class="form-control" placeholder="Day Name" name="name"
                   v-model="form.name" autofocus/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('name')" v-text="form.errors.get('name')"
                      id="validation_error_name"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('date') }">
            <label>Date</label>
            <div class="vue-datepicker-custom">
                <vue-datepicker :date="{time: form.date}" @change="setFormDate"></vue-datepicker>
            </div>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('date')" v-text="form.errors.get('date')"
                      id="validation_error_date"></span>
            </transition>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <button v-if="!form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="$parent.close()"><i class="fa fa-remove"></i> Cancel</button>

                <button v-if="form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="deleteHotel"><i class="fa fa-remove"></i> Delete</button>
            </div>
            <div class="col-xs-6">
                <button v-if="!form.id" @click="create" class="btn btn-success btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Create Day</button>

                <button v-if="form.id" type="submit" class="btn btn-primary btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Save Day</button>
            </div>
        </div>
        <confirm-popup :message="'Are you sure to delete ' + form.name + '?'" v-if="showModal" @confirm="confirmDelete" @reject="closePopup"></confirm-popup>

    </form>

</template>

<style src="../../fade.css"></style>


<script>
    import Form from 'acacha-forms';
    import redirect from '../../redirect';
    import textAreaHtmlAllowed from '../../cms/form-partials/textarea-html-allowed.vue';
    import vueDatepicker from 'vue-datepicker';

    export default {
        mixins: [redirect],
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'vue-datepicker': vueDatepicker
        },
        data: function () {
            return {
                busy: false,
                showModal: false,
            }
        },
        computed: {
            form: function () {
                return new Form({
                    id: this.dayData.id || null,
                    conference_id: this.conference.id,
                    name: this.dayData.name || '',
                    date: this.dayData.date || '',
                })
            }
        },
        props: [
            'dayData',
            'conference'
        ],
        watch: {
            'form.company': function (e) {
                this.$refs.autocomplete.setValue(e);
            },
        },
        methods: {
            setFormDate: function(newDate)
            {
                this.form.date = newDate;
            },
            emitUpdateTable: function(){
                this.$emit('updateTable', true);
            },
            submit() {
                const vm = this;
                this.busy = true;
                this.form.patch('/a/meeting-management/days/' + this.form.id)
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Day successfully updated', this.form.title);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            create(){
                const vm = this;
                this.busy = true;

                this.form.post('/a/meeting-management/days/create')
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Day successfully added', this.form.name);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        console.log('error on create => ', error);
                        window.toastr.error('Something went wrong', 'Error');
                        this.busy = false;
                    })
            },
            closePopup() {
                this.showModal = false;
            },
            deleteHotel() {
                this.showModal = true;
            },
            confirmDelete() {
                const vm = this;
                this.busy = true;
                this.form.delete('/a/meeting-management/days/' + this.form.id)
                    .then(response => {
                        vm.busy = false;
                        if(response.data.success) {
                            vm.$parent.close();
                            window.toastr.success('Day successfully deleted', this.form.name);
                            this.closePopup();
                            this.emitUpdateTable();
                        } else {
                            window.toastr.error('Delete failed', this.form.name);
                        }
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors(name) {
                this.form.errors.clear(name)
            },
        },
        created: function()
        {

        }
    }

</script>
