<template>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Meeting Requests</h3>

            <div class="pull-right">
                <a class="btn btn-xs btn-primary" href="delegates/download">Meeting Requests CSV</a>
            </div>

        </div>
        <div class="box-body">

            <div class="speaker-table">


                <vue-bootstrap-table
                        :columns="columns"
                        :values="requests"
                        :show-filter="true"
                        :show-column-picker="false"
                        :sortable="true"
                        :paginated="true"
                        :page-size="30"
                        :row-click-handler=rowClick
                        :filter-case-sensitive=false
                        :multi-column-sortable="true">
                </vue-bootstrap-table>



                <bootstrap-modal ref="editModal" :needHeader="true" :needFooter="false" id="editSpeakerModal">
                    <div slot="title">
                        {{ modalObj.title }}
                    </div>
                    <div slot="body">

                        <!--<delegates-meeting-form-->
                                <!--:dayData="day"-->
                                <!--:conference="conference"-->
                                <!--@updateTable="updateTable"-->
                        <!--&gt;-->
                        <!--</delegates-meeting-form>-->

                    </div>
                    <div slot="footer">

                    </div>
                </bootstrap-modal>
            </div>


        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</template>

<script>

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [],
        data: function () {

            return {
                busy: false,

                selectedConference: null,

                requests: [],

                reInitMap: true,

                columns: [
                    {title: 'id', name: 'id'},
                    {title: 'Status', name: 'status', filterable: true, visible: true, renderfunction: this.renderStatus},
                    {title: 'Requesting Delegate', sortName: 'id',name: 'delegate', visible: true, arenderfunction: this.renderDelegate},
                    {title: 'Target Delegate', name: 'target', visible: true, arenderfunction: this.renderDelegate},
                    {title: 'Timeslot', name: 'meeting_timeslot', visible: true, arenderfunction: this.renderTimeslot},
                    {title: 'Last Updated', name: 'updated_at', visible: true},
                ],

                modalObj: {
                    title: ''
                }
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'conference',
            'downloadLink'
        ],
        methods: {
            renderStatus: function(n,e){
                let s = e.status;

                let c = '';

                switch(s){
                    case('confirmed'):
                        c = 'success';
                        break;
                    case('awaiting'):
                        c = 'warning';
                        break;
                    case('declined'):
                        c = 'danger';
                        break;
                    default:
                        c = '';
                        break;
                }

                return '<button class="btn btn-md btn-'+c+'" >'+s.toUpperCase()+'</button>';

            },
            renderTimeslot: function(n,e){
                let s  = '';

                s += '<b>'+e[n].title+'</b><br/>';
                s += e[n].time_from+' - ';
                s += e[n].time_to;

                return s;
            },
            renderDelegate: function(n,e){
                let s  = '';

                s += '<b>'+e[n].first_name+' ';
                s += e[n].last_name+'</b><br/>';
                s += e[n].email;

                return s;
            },
            openEditModal: function () {
                this.$refs.editModal.open();
            },
            rowClick: function (e, r) {
                return false;
                if (r.id > 0)
                {
                    this.modalObj.title = 'Edit request: ';
                    this.openEditModal();
                }
            },
            addRequest: function()
            {
                this.modalObj.title = 'Add new delegate request to conference';
                this.openEditModal();
            },
            updateTable: function(val)
            {
                axios.get('/a/meeting-management/delegates/get-requests-ajax')
                    .then(data => {
                        this.requests = data.data;
                        console.log(this.requests);
                    })
            }
        },
        created: function(){
            this.updateTable();
        }
    }

</script>
