<template>
    <div>

        <div class="form-group has-feedback">
            <label>Timeslot Title</label>
            <input type="text" class="form-control" placeholder="title" name="title"
                   v-model="form.title" autofocus/>
        </div>

        <div class="form-group has-feedback">
            <label>Time from</label>

            <timepicker
                    :extData="form.time_from"
                    :minuteInterval="5"
                    @eValue="handleTimeFrom"
            ></timepicker>
        </div>

        <div class="form-group has-feedback">
            <label>Time to</label>

            <timepicker
                    :extData="form.time_to"
                    :minuteInterval="5"
                    @eValue="handleTimeTo"
            ></timepicker>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <button v-if="!form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="$parent.close()"><i class="fa fa-remove"></i> Cancel</button>

                <button v-if="form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="deleteMeetingTimeslot"><i class="fa fa-remove"></i> Delete</button>
            </div>
            <div class="col-xs-6">
                <button v-if="!form.id" @click="create" class="btn btn-success btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Create Meeting Timeslot</button>

                <button v-if="form.id" @click="edit" class="btn btn-primary btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Save Meeting Timeslot</button>
            </div>
        </div>
        <confirm-popup :message="'Are you sure to delete ' + form.title + '?'" v-if="showModal" @confirm="confirmDelete" @reject="closePopup"></confirm-popup>

    </div>

</template>

<style src="../../fade.css"></style>


<script>
    import Form from 'acacha-forms';
    import redirect from '../../redirect';
    import textAreaHtmlAllowed from '../../cms/form-partials/textarea-html-allowed.vue';
    import vueDatepicker from 'vue-datepicker';
    import vSelect from 'vue-select';
    import timepicker from '../../cms/form-partials/timepicker.vue';

    export default {
        mixins: [redirect],
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'vue-datepicker': vueDatepicker,
            'v-select': vSelect,
            'timepicker': timepicker
        },
        data: function () {
            return {
                busy: false,
                showModal: false,
                speakersForVSelect: [],
                selectedSpeakers: [],
                form: {}
            }
        },
        computed: {

        },
        props: [
            'selectedDay',
            'timeslotData'
        ],
        watch: {
            timeslotData: function () {
                this.fillFormProperties();
            }
        },
        methods: {
            fillFormProperties: function()
            {
                this.form = {
                    id: this.timeslotData.id || null,
                    day_id: this.selectedDay.id,
                    title: this.timeslotData.title || '',
                    time_from: this.timeslotData.time_from || '',
                    time_to: this.timeslotData.time_to || ''
                }
            },
            handleTimeFrom: function(eTimeFrom)
            {
                this.form.time_from = eTimeFrom;
            },
            handleTimeTo: function (eTimeTo) {
                this.form.time_to = eTimeTo;
            },
            emitUpdateTable: function()
            {
                this.$emit('updateTable', true);
            },
            edit()
            {
                const vm = this;
                this.busy = true;

                axios.patch('/a/meeting-management/meeting-timeslots/' + this.form.id, this.form)
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Meeting Timeslot successfully updated', this.form.title);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        this.busy = false;
                        window.toastr.error('Something went wrong', 'Error');
                    })
            },
            create()
            {
                const vm = this;
                this.busy = true;

                axios.post('/a/meeting-management/meeting-timeslots/create', this.form)
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Meeting Timeslot successfully added', this.form.name);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        console.log('error on create => ', error);
                        window.toastr.error('Something went wrong', 'Error');
                        this.busy = false;
                    })
            },
            closePopup()
            {
                this.showModal = false;
            },
            deleteMeetingTimeslot()
            {
                this.showModal = true;
            },
            confirmDelete()
            {
                const vm = this;
                this.busy = true;
                axios.delete('/a/meeting-management/meeting-timeslots/' + this.form.id)
                    .then(response => {
                        vm.busy = false;
                        if(response.data.success) {
                            vm.$parent.close();
                            window.toastr.success('Meeting Timeslot successfully deleted', this.form.name);
                            this.closePopup();
                            this.emitUpdateTable();
                        } else {
                            vm.busy = false;
                            window.toastr.error('Delete failed', this.form.name);
                        }
                    })
                    .catch(error => {
                        vm.busy = false;
                        window.toastr.error('Delete failed', this.form.name);
                    })
            }
        },
        created: function()
        {
            this.fillFormProperties();
        }
    }

</script>
