<template>

    <div>

        <ul class="nav nav-tabs">
            <li
                    v-for="(day, index) in conferenceDays"
                    role="presentation"
                    :class="{active: conferenceDays[index].id == selectedDay.id}"
            >
                <a href="javascript:void(0)" @click="selectDay(day.id)">{{day.name}}</a>
            </li>
        </ul>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Meeting Timeslots</h3>

                <button class="btn btn-xs btn-success pull-right" @click="addTimeslot">
                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add Meeting Timeslot
                </button>

            </div>
            <div class="box-body">


                <div class="speaker-table">


                    <vue-bootstrap-table
                            :columns="columns"
                            :values="timeslotsValues"
                            :show-filter="false"
                            :show-column-picker="false"
                            :sortable="true"
                            :paginated="false"
                            :row-click-handler=rowClick
                            :multi-column-sortable=true>
                    </vue-bootstrap-table>



                    <bootstrap-modal ref="editModal" :needHeader="true" :needFooter="false" id="editSpeakerModal">
                        <div slot="title">
                            {{ modalObj.title }}
                        </div>
                        <div slot="body">

                            <meeting-timeslot-form
                                    :selectedDay="selectedDay"
                                    :timeslotData="timeslot"
                                    @updateTable="updateTable"
                            >
                            </meeting-timeslot-form>

                        </div>
                        <div slot="footer">

                        </div>
                    </bootstrap-modal>
                </div>


            </div>
            <!-- /.box-body -->
        </div>


    </div>



</template>

<script>

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [],
        data: function () {

            return {
                busy: false,
                selectedConference: null,

                selectedDay: {},

                timeslotsValues: [{}],

                timeslot: {},
                reInitMap: true,

                columns: [
                    {title: 'id', name: 'id'},
                    {title: 'Title', name: 'title', visible: true},
                    {title: 'Time From', name: 'time_from', visible: true},
                    {title: 'Time To', name: 'time_to', visible: true}
                ],
                conferenceDays: [],
                modalObj: {
                    title: ''
                }
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'conference',
            'days',
        ],
        methods: {

            selectDay: function(dayId)
            {
                this.selectedDay = this.conferenceDays.find(d => d.id == dayId);

                this.selectTimeslotsForTable();
            },

            selectTimeslotsForTable: function () {
                this.timeslotsValues = this.selectedDay.meeting_timeslots;

                this.timeslotsValues.sort(function(a, b){
                    return parseFloat(a.time_from.replace(':', '.')) - parseFloat(b.time_from.replace(':', '.'));
                })
            },

            openEditModal: function () {
                this.$refs.editModal.open();
            },
            rowClick: function (e, r) {
                if (r.id > 0)
                {
                    this.timeslot = r;
                    this.modalObj.title = 'Edit timeslot: ' + this.timeslot.title;

                    this.openEditModal();
                }
            },
            addTimeslot: function()
            {
                this.timeslot = {};
                this.modalObj.title = 'Add a new meeting timeslot to the current day';
                this.openEditModal();
            },
            updateTable: function(val)
            {
                axios.get('/a/meeting-management/meeting-timeslots/get-meeting-timeslots-ajax')
                    .then(data => {
                        this.conferenceDays = data.data;

                        this.selectDay(this.selectedDay.id);
                    })
            }
        },
        created: function()
        {
            this.conferenceDays = this.days;

            this.selectDay(this.conferenceDays[0].id);
        }
    }

</script>
