<template>
    <form method="post" @submit.prevent="submit" @keydown="clearErrors($event.target.name)">
        <div class="main-copy">
            <div class="gbf-form col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <div class="alert alert-success" v-show="form.succeeded" v-text="result"></div>
                <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('email') }">
                    <input type="email" class="form-control" :placeholder="'Email'" name="email"
                           v-model="form.email" autofocus/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <transition name="fade">
                        <span class="help-block" v-if="form.errors.has('email')"
                              v-text="form.errors.get('email')"></span>
                    </transition>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12">
                        <button type="submit" class="pull-right btn btn-primary btn-block btn-flat"
                                :disabled="form.errors.any()">
                            <i v-if="form.submitting" class="fa fa-refresh fa-spin"></i>
                            submit
                        </button>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
    </form>
</template>

<style src="../fade.css"></style>

<script>

    import Form from 'acacha-forms'

    export default {
        data: function () {
            return {
                form: new Form({email: ''}),
                result: ''
            }
        },
        props: {
            'resetUrl': ''
        },
        methods: {
            submit () {
                this.form.post(this.resetUrl)
                    .then(response => {
                        //TODO: Remove console.log()
                        console.log( response );
                        this.result = response.data.status;
                    })
                    .catch(error => {
                        console.log(this.trans('message.sendpassword') + ':' + error)
                    })
            },
            clearErrors (name) {
                this.form.errors.clear(name);
                this.form.succeeded = false;
                this.result = '';
            }
        },
        mounted () {
            this.form.clearOnSubmit = true;
        }
    }

</script>
