<template>
    <div>
        <form method="post" @submit.prevent="submit" @keydown="clearErrors($event.target.name)"
              class="form-horizontal gbf-form"
              enctype="multipart/form-data">


            <div :class="[{ 'has-error': form.errors.has('name') }, classValue(field)]"
                 v-for="field in fields">
                <div class="form-group has-feedback"
                     :class="[{ 'has-error': form.errors.has('name') }]">
                    <label class="col-sm-5 control-label" v-if="field.type != 'boolean'"
                           :for="field.id">{{ field.name }} <sup v-if="field.required">*</sup></label>

                    <div class="col-sm-7" :class="{'col-sm-offset-5' : field.type == 'boolean'}">
                        <template v-if="field.type == 'text'">
                            <input type="text" class="form-control" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'number'">
                            <input class="form-control" type="number" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'email'">
                            <input type="email" class="form-control" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'password'">
                            <input type="password" class="form-control" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'select'">
                            <select class="selectpicker show-tick"
                                    :id="field.id"
                                    :name="field.id"
                                    v-model="form[field.id]"
                                    :value="form[field.id]"
                                    title="Please select"
                                    :required="field.required"
                                    data-width="100%">
                                <option :value="option.value"
                                        v-for="option in field.values">
                                    {{option.text}}
                                </option>
                            </select>
                        </template>


                        <template v-if="field.type == 'phone'">
                            <masked-input
                                    class="form-control"
                                    :tabindex="field.tab_index"
                                    v-model="form[field.id]"
                                    :required="field.required" autofocus
                                    mask="(111) 1111-11"></masked-input>
                        </template>

                        <template v-if="field.type == 'boolean'">
                            <p v-if="field.title">{{field.title}}</p>
                            <label class="checkbox-area" :for="field.id" @click="checkboxTrigger">
                                <input type="checkbox" :id="field.id" :name="field.id"
                                       :required="field.required"
                                       :checked="!!form[field.id]"/> {{field.name}}
                            </label>

                        </template>

                        <template v-if="field.type == 'asset'">
                            <div class="row">
                                <div :class="{'col-md-8' : !!profilePhoto, 'col-md-12' : !profilePhoto}">
                                    <div class="fileinput fileinput-new input-group" name="upload"
                                         data-provides="fileinput"
                                         :id="field.id">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                                <span class="fileinput-new">upload</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" :required="field.required" :name="field.id"
                                                       :id="field.id" @change="fileFieldChanged">

                                            </span>
                                        <a href="#"
                                           class="input-group-addon btn btn-default fileinput-exists"
                                           @click="removeImage"
                                           data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                                <div class="col-md-4" v-if="profilePhoto">
                                    <img :src="profilePhoto" alt="" class="img-responsive">
                                </div>
                            </div>
                        </template>
                    </div>
                    <transition name="fade">
                                    <span class="help-block" :id="field.id" v-if="form.errors.has(field.id)">
                                        <span class="text-danger">{{ form.errors.get(field.id) }}</span>
                                    </span>
                    </transition>
                </div>
            </div>

            <div class="form-group bio">
                <label for="bio" class="col-sm-5 control-label">my biography</label>
                <div class="col-sm-7 vertical-empty"></div>
                <div class="col-sm-9 col-sm-offset-3">
                    <textarea class="form-control" rows="4" id="bio" name="bio" v-model="form.bio"
                              placeholder="Please enter a short introduction of yourself here.">{{form.bio}}</textarea>
                </div>

                <transition name="fade">
                                    <span class="help-block" id="field_bio" v-if="form.errors.has('bio')">
                                        <span class="text-danger">{{ form.errors.get('bio') }}</span>
                                    </span>
                </transition>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="submit" class="btn btn-default pull-right" :disabled="busy">save</button>
                </div>
            </div>
        </form>
        <bootstrap-modal ref="profileModal" :needHeader="true" :needFooter="false" :id="'update-photo'">
            <div slot="title">
                <h4 class="modal-title" id="updatePhotoLabel">Profile Updated</h4>
            </div>
            <div slot="body">

                <p>Your profile was successfully updated!</p>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
    </div>
</template>

<style src="../fade.css"></style>


<script>

    import Form from 'acacha-forms'
    import initialitzeIcheck from '../InitializeIcheck'
    import redirect from '../redirect'
    import BootstrapModal from 'vue2-bootstrap-modal'
    import MaskedInput from 'vue-masked-input'

    export default {
        mixins: [initialitzeIcheck, redirect],
        components: {
            BootstrapModal: BootstrapModal,
            MaskedInput
        },
        data: function () {
            return {
                busy: false,
                delegate: {},
                fields: [
                    {
                        id: "email",
                        name: "Email Address",
                        type: "email",
                        column: '12',
                        required: true
                    },
                    {
                        id: "first_name",
                        name: "First Name",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "last_name",
                        name: "Last Name",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "title",
                        name: "Title",
                        type: "select",
                        column: '12',
                        required: true,
                        values: [
                            {
                                value: 'Mr',
                                text: 'Mr'
                            },
                            {
                                value: 'Mrs',
                                text: 'Mrs'
                            },
                            {
                                value: 'Miss',
                                text: 'Miss'
                            },
                            {
                                value: 'Dr',
                                text: 'Dr'
                            },
                            {
                                value: 'HE',
                                text: 'HE'
                            }
                        ]
                    },
                    {
                        id: "age_group",
                        name: "Age group",
                        type: "select",
                        column: '12',
                        required: true,
                        values: [
                            {
                                value: '15 - 24',
                                text: '15 - 24'
                            },
                            {
                                value: '25 - 34',
                                text: '25 - 34'
                            },
                            {
                                value: '35 - 54',
                                text: '35 - 54'
                            },
                            {
                                value: '55 - 64',
                                text: '55 - 64'
                            },
                            {
                                value: '65+',
                                text: '65+'
                            }
                        ]
                    },
                    {
                        id: "nationality",
                        name: "Nationality",
                        type: "select",
                        values: [],
                        column: '12',
                        required: true
                    },
                    {
                        id: "address1",
                        name: "Address Line 1",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "address2",
                        name: "Address Line 2",
                        type: "text",
                        column: '12'
                    },
                    {
                        id: "postcode",
                        name: "Postcode",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "city",
                        name: "City",
                        type: "text",
                        column: '12'
                    },
                    {
                        id: "country",
                        name: "Country",
                        column: '12',
                        type: "select",
                        values: [],
                        required: true
                    },
                    {
                        id: "job_title",
                        name: "Job Title",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "organisation",
                        name: "Organisation Name",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "phone_mobile",
                        name: "Mobile Number",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "phone_company",
                        name: "Company Phone",
                        type: "phone",
                        column: '12'
                    },
                    {
                        id: "industry",
                        name: "Industry",
                        type: "text",
                        column: '12',
                        required: true
                    },
                    {
                        id: "visa_check",
                        name: "I need assistance with organising a visa, booking travel or accommodation.",
                        title: 'Do I need a Visa?',
                        type: "boolean",
                        column: '12'
                    },
                ]
            }
        },
        props: {
            delegateData: {},
            profileUrl: '',
            profilePhoto: '',
            countries: {
                type: Array,
            },
        },
        computed: {
            form: function () {
                const fields = this.fields;
                const delegate = this.delegate;

                let formFields = {};

                fields.forEach(function (v) {
                    let value = (delegate && delegate.hasOwnProperty(v.id) ? delegate[v.id] : '');
                    if (v.id === 'photo') {
                        value = null;
                    }
                    if (v.id === 'visa_check') {
                        value = !!value;
                        $('#visa_check').iCheck(value ? 'check' : 'uncheck');
                    }
                    formFields[v.id] = value;
                });
                formFields['bio'] = (delegate && delegate.hasOwnProperty('bio') ? delegate['bio'] : '');

                return new Form(formFields);
            },
        },
        mounted: function () {
            this.delegate = this.delegateData;
            $('.selectpicker').each((index, el) => {
                $(el).selectpicker('val', this.delegate[$(el).attr('name')]);
            });

            setTimeout(() => {
                $('.selectpicker').selectpicker('refresh');
            }, 300);
        },
        created: function () {
            this.fields.forEach((v, key) => {
                if (v.id === 'countries_operate' || v.id === 'country' || v.id === 'nationality') {
                    this.fields[key].values = this.countries;
                }
            });
        },
        watch: {},
        methods: {
            resetForm() {
                const fields = this.fields;
                const delegate = this.delegate;

                fields.forEach((v) => {
                    let value = (delegate && delegate.hasOwnProperty(v.id) ? delegate[v.id] : '');
                    if (v.id === 'photo') {
                        value = null;
                    }
                    if (v.id === 'visa_check') {
                        value = !!value;
                    }
                    this.form[v.id] = value;
                });
            },
            submit () {
                console.log("submitting");
                const vm = this;

                this.busy = true;

                this.form.post('profile')
                    .then(response => {
                        vm.busy = false;
                        if (!response.data.success) {
                            window.toastr.warning('Failed', 'Something went wrong');
                        } else if (response.data.delegate) {
                            this.$refs.profileModal.open();
                            this.delegate = response.data.delegate;
                            this.resetForm();
                        }
                    })
                    .catch(error => {
                        vm.busy = false;

                        if (error.response && error.response.status === 422) {
                            window.toastr.warning('Please fill all required fields', 'Updating failed');
                        } else {
                            window.toastr.warning('Failed', error);
                        }

                    })
            },
            clearErrors (name) {
                if (name === 'password') {
                    this.form.errors.clear('password');
                    name = this.name
                }
                this.form.errors.clear(name)
            },
            classValue(field) {
                return 'col-md-' + (field.column || 12)
            },
            fileFieldChanged(e) {
                let files = e.target.files || e.dataTransfer.files;
                let field = e.target.name || e.target.id;
                //TODO: Remove console.log()
                console.log(field + ' -> changed');
                if (!files.length) {
                    this.form[field] = null;
                    return;
                }
                this.createImage(files[0], field);
            },
            onFileChange(e) {
                //TODO: Remove console.log()
                console.log('changed file');
                this.clearErrors('photo');
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file, field) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.form[field] = {
                        file: e.target.result,
                        name: file.name
                    };
                };
                reader.readAsDataURL(file);
            },
            removeImage: function (e) {
                this.form.photo = '';
            },
            refresh: function () {
                window.location.reload();
            },
            checkboxTrigger(e) {
                let field = $(e.target).attr('for');
                if (field) {
                    this.form[field] = !this.form[field];
                }
            }
        }
    }

</script>
