<template>
    <div>
        <bootstrap-modal ref="regSuccess" :needHeader="true" :needFooter="false" :id="'feedback-modal'">
            <div slot="title">
                <h4 class="modal-title">REGISTRATION CONFIRMED</h4>
            </div>
            <div slot="body">
                <slot name="popup_register_success"></slot>
                <a :href="homeUrl" class="btn btn-default">ok</a>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>

        <bootstrap-modal ref="uicModal" :needHeader="true" :needFooter="false" :id="'error-modal-register'">
            <div slot="title">
                <h4 class="modal-title">unique invitation code not recognised</h4>
            </div>
            <div slot="body">
                <slot name="popup_uic_error"></slot>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
        <div class="extra-modals" v-for="extra in extraFields" v-if="!!extra.popup">
            <bootstrap-modal :ref="'' + extra.id" :needHeader="true" :needFooter="false" :id="'modal-' + extra.id">
                <div slot="title">
                    <h4 class="modal-title">{{extra.popup.title}}</h4>
                </div>
                <div slot="body">
                    {{extra.popup.content}}
                </div>
                <div slot="footer">
                </div>
            </bootstrap-modal>
        </div>
        <form method="post" @submit.prevent="submit" @keydown="clearErrors($event.target.name)"
              enctype="multipart/form-data">
            <div class="main-copy" v-show="!uicChecked">
                <div class="form-horizontal col-md-7 col-md-offset-1">
                    <div class="form-group">
                        <label for="uic" class="col-sm-7 control-label">Unique Invitation Code <sup>*</sup></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="uic" name="uic" required v-model="form.uic">
                            <small>If you don't have a Unique Invitation Code and would like to register, please <a
                                    href="contact">click here</a>.
                            </small>
                            <transition name="fade">
                                    <span class="help-block" :id="uic" v-if="form.errors.has('uic')">
                                        <span class="text-danger">{{ form.errors.get('uic') }}</span>
                                    </span>
                            </transition>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-7 col-sm-5">
                            <button type="button" class="btn btn-default submit" :disabled="busy" @click="checkUIC">
                                submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-copy" v-show="uicChecked">

                <div class="container">
                    <div class="form-horizontal">


                        <div class="row flex-grid">
                            <div :class="[{ 'has-error': form.errors.has('name') }, classValue(field), field.css_class]"
                                 v-for="field in fields" v-if="enabledField(field.enabled)">
                                <div class="form-group has-feedback"
                                     :class="[{ 'has-error': form.errors.has('name') }]"
                                     v-show="!field.condition || checkCondition(field)">
                                    <label class="col-sm-5 control-label" v-if="field.type != 'boolean'"
                                           :for="field.id">
                                        {{ field.name }} <sup v-if="field.required">*</sup>
                                        <template v-if="field.tooltip">
                                            <a href="#" data-toggle="tooltip" :title="field.tooltip.message"
                                               class="form-tooltip">{{field.tooltip.title}}</a>
                                        </template>
                                    </label>

                                    <div class="col-sm-7">
                                        <template v-if="field.type == 'text'">
                                            <input type="text" :tabindex="field.tab_index" class="form-control"
                                                   placeholder="" :name="field.id"
                                                   v-model="form[field.id]" :id="field.id"
                                                   :required="field.required" autofocus/>
                                        </template>

                                        <template v-if="field.type == 'number'">
                                            <input class="form-control" :tabindex="field.tab_index" type="number"
                                                   placeholder="" :name="field.id"
                                                   v-model="form[field.id]" :id="field.id"
                                                   :required="field.required" autofocus/>
                                        </template>

                                        <template v-if="field.type == 'phone'">
                                            <div class="row register-phones">
                                                <div class="col-md-4">
                                                    <select :tabindex="field.tab_index" class="selectpicker show-tick"
                                                            :id="field.id" :name="field.id"
                                                            v-model="numberFields[field.id].cc" title="+"
                                                            :required="field.required"
                                                            data-width="100%">
                                                        <option :value="option.cc"
                                                                :title="option.cc"
                                                                v-for="option in countries">
                                                            {{ option.value }} ({{option.cc}})
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="number"
                                                           class="form-control"
                                                           :tabindex="field.tab_index"
                                                           v-model="numberFields[field.id].number"
                                                           :required="field.required" autofocus>
                                                </div>
                                            </div>
                                        </template>

                                        <template v-if="field.type == 'email'">
                                            <input type="email" :tabindex="field.tab_index" class="form-control"
                                                   placeholder="" :name="field.id"
                                                   v-model="form[field.id]" :id="field.id"
                                                   :required="field.required" autofocus/>
                                        </template>

                                        <template v-if="field.type == 'password'">
                                            <input type="password" :tabindex="field.tab_index"
                                                   :show="field.passwordEnable" class="form-control"
                                                   placeholder="" :name="field.id"
                                                   v-model="form[field.id]" :id="field.id"
                                                   autofocus/>
                                        </template>

                                        <template v-if="field.type == 'select'">
                                            <select :tabindex="field.tab_index" class="selectpicker show-tick"
                                                    :id="field.id" :name="field.id"
                                                    v-model="form[field.id]" title="Please select"
                                                    :required="field.required"
                                                    data-width="100%">
                                                <option :value="option.value"
                                                        :data-cc="option.cc"
                                                        v-for="option in field.values">
                                                    {{ option.text }}
                                                </option>
                                            </select>
                                        </template>

                                        <template v-if="field.type == 'boolean'">
                                            <p v-if="field.title">{{field.title}}</p>
                                            <label class="checkbox-area" :for="field.id">
                                                <input type="checkbox" :tabindex="field.tab_index" :id="field.id"
                                                       :name="field.id"
                                                       :required="field.required"
                                                       v-model="form[field.id]" value="0"/>
                                                {{field.name}}
                                                <a v-if="field.popup" @click="openModal(field.id)">more information</a>
                                            </label>

                                        </template>

                                        <template v-if="field.type == 'asset'">
                                            <div class="fileinput fileinput-new input-group" name="upload"
                                                 data-provides="fileinput"
                                                 :id="field.id">
                                                <div class="form-control" data-trigger="fileinput">
                                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                    <span class="fileinput-filename"></span>
                                                </div>
                                                <span class="input-group-addon btn btn-default btn-file">
                                                <span class="fileinput-new">upload</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" :tabindex="field.tab_index"
                                                       :required="field.required" :name="field.id"
                                                       :id="field.id" @change="fileFieldChanged">

                                            </span>
                                                <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                                                   data-dismiss="fileinput">Remove</a>
                                            </div>
                                        </template>
                                    </div>
                                    <transition name="fade">
                                    <span class="help-block" :id="field.id" v-if="form.errors.has(field.id)">
                                        <span class="text-danger">{{ form.errors.get(field.id) }}</span>
                                    </span>
                                    </transition>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn btn-default" :disabled="busy">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<style src="../fade.css"></style>


<script>

    import Form from 'acacha-forms'
    import initialitzeIcheck from '../InitializeIcheck'
    import redirect from '../redirect'
    import BootstrapModal from 'vue2-bootstrap-modal'
    import MaskedInput from 'vue-masked-input'

    export default {
        mixins: [initialitzeIcheck, redirect],
        components: {
            BootstrapModal: BootstrapModal,
            MaskedInput
        },
        data: function () {
            return {
                busy: false,
                registered: false,
                uicChecked: false,
                extraKeysLoaded: false,
                delegate: {},
                numberFields: {
                    phone_company: {
                        number: '',
                        cc: ''
                    },
                    phone_mobile: {
                        number: '',
                        cc: ''
                    }
                },
                fields: [
                    {
                        id: "title",
                        name: "Title",
                        type: "select",
                        column: '6',
                        tab_index: 1,
                        required: true,
                        values: [
                            {
                                value: 'Mr',
                                text: 'Mr'
                            },
                            {
                                value: 'Mrs',
                                text: 'Mrs'
                            },
                            {
                                value: 'Miss',
                                text: 'Miss'
                            },
                            {
                                value: 'Dr',
                                text: 'Dr'
                            },
                            {
                                value: 'HE',
                                text: 'HE'
                            }
                        ]
                    },
                    {
                        id: "job_title",
                        name: "Job Title",
                        type: "text",
                        tab_index: 10,
                        column: '6',
                        required: true
                    },
                    {
                        id: "first_name",
                        name: "First Name",
                        type: "text",
                        column: '6',
                        tab_index: 2,
                        required: true
                    },
                    {
                        id: "organisation",
                        name: "Organisation Name",
                        type: "text",
                        tab_index: 11,
                        column: '6',
                        required: true
                    },
                    {
                        id: "last_name",
                        name: "Last Name",
                        type: "text",
                        column: '6',
                        tab_index: 3,
                        required: true
                    },

                    {
                        id: "industry",
                        name: "Industry",
                        type: "text",
                        tab_index: 12,
                        column: '6',
                        required: true
                    },

                    {
                        id: "address1",
                        name: "Address Line 1",
                        type: "text",
                        tab_index: 4,
                        column: '6',
                        required: true
                    },

                    {
                        id: "phone_company",
                        name: "Company Phone",
                        type: "phone",
                        tab_index: 13,
                        column: '6'
                    },

                    {
                        id: "address2",
                        name: "Address Line 2",
                        type: "text",
                        tab_index: 5,
                        column: '6'
                    },

                    {
                        id: "phone_mobile",
                        name: "Mobile Number",
                        type: "phone",
                        tab_index: 14,
                        column: '6',
                        required: true
                    },

                    {
                        id: "city",
                        name: "City",
                        type: "text",
                        tab_index: 6,
                        column: '6'
                    },

                    {
                        id: "email",
                        name: "Email Address",
                        type: "email",
                        column: '6',
                        tab_index: 15,
                        required: true
                    },

                    {
                        id: "postcode",
                        name: "Postcode",
                        type: "text",
                        tab_index: 7,
                        column: '6',
                        required: true
                    },
                    {
                        id: "nationality",
                        name: "Nationality",
                        type: "select",
                        column: '6',
                        values: [],
                        tab_index: 16,
                        required: true,
                        tooltip: {
                            title: 'Why?',
                            message: 'Regulatory changes mean the Dubai Department of Tourism and Commerce Marketing (DTCM) must supply all tickets to events in Dubai. To secure your pass to our event you must allow us to provide your name, email, mobile number, country of residence and nationality to DCTM on your behalf. The government body states it will not disclose the data to any third parties unless required to do so by law.'
                        }
                    },
                    {
                        id: "country",
                        name: "Country",
                        tab_index: 8,
                        type: "select",
                        values: [],
                        column: '6',
                        required: true,
                    },
                    {
                        id: "age_group",
                        name: "Age group",
                        type: "select",
                        column: '6',
                        tab_index: 17,
                        required: true,
                        values: [
                            {
                                value: '15 - 24',
                                text: '15 - 24'
                            },
                            {
                                value: '25 - 34',
                                text: '25 - 34'
                            },
                            {
                                value: '35 - 54',
                                text: '35 - 54'
                            },
                            {
                                value: '55 - 64',
                                text: '55 - 64'
                            },
                            {
                                value: '65+',
                                text: '65+'
                            }
                        ]
                    },
                    {
                        id: "password",
                        name: "Create Password",
                        type: "password",
                        column: '6',
                        required: true,
                        enabled: this.passwordEnable
                    },
                    {
                        id: "password_confirmation",
                        name: "Confirm Password",
                        type: "password",
                        column: '6',
                        required: true,
                        enabled: this.passwordEnable
                    },
                    {
                        id: "photo",
                        name: "Please upload your high-quality head shot photo for delegate badge and networking area (jpeg or png)",
                        type: "asset",
                        tab_index: 9,
                        column: '6',
                    },
                    {
                        id: "visa_check",
                        name: "I need assistance with organising a visa, booking travel or accommodation.",
                        title: 'Do I need a Visa?',
                        type: "boolean",
                        column: '12',
                        css_class: 'col-sm-offset-3',
                    },
                ]
            }
        },
        props: {
            registerUrl: '',
            uicCheckUrl: '',
            homeUrl: '',
            extraFields: {},
            passwordEnable: true,
            countries: {
                type: Array,
            },
        },
        mounted() {
            let vm = this;
            $('input').on('ifChecked', function (e) {
                let field = $(this).attr('name');
                vm.form[field] = true;
            }).on('ifUnchecked', function (e) {
                let field = $(this).attr('name');
                vm.form[field] = false;
            });
            let selectPicker = $('.selectpicker');
            selectPicker.on('changed.bs.select', (e, clickedIndex, newValue, oldValue) => {
                if (e.target.name === 'country') {
                    let selectedCountry = this.countries[clickedIndex + 1];
                    let code = selectedCountry.cc;
                    while (code.length < 3) {
                        code = '0' + code;
                    }
                    if (!this.form.phone_company) {
                        this.form.phone_company = '(' + code + ')';
                    }
                    if (!this.form.phone_mobile) {
                        this.form.phone_mobile = '(' + code + ')';
                    }
                    this.$forceUpdate();
                }
            });

        },
        created: function () {
            this.fields.forEach((v, key) => {
                if (v.id === 'countries_operate' || v.id === 'country' || v.id === 'nationality') {
                    this.fields[key].values = this.countries;
                }
            });
        },
        computed: {
            form: function () {
                const fields = this.fields;
                const delegate = this.delegate;

                let formFields = {};

                fields.forEach((v) => {
                    formFields[v.id] = (delegate && delegate.hasOwnProperty(v.id) ? delegate[v.id] : '');
                    if (v.type === 'boolean') {
                        formFields[v.id] = false;
                    }
                });
                formFields['uic'] = '';
                formFields['photo_name'] = '';

                if (this.extraFields && !this.extraKeysLoaded) {
                    Object.keys(this.extraFields).forEach(key => {
                        let field = this.extraFields[key];
                        let id = field.id;
                        if (id) {
                            if (this.extraFields[key].type === 'boolean') {
                                formFields[id] = false;
                            }
                            this.fields.push(field);
                        }
                    });
                    this.extraKeysLoaded = true;
                }

                return new Form(formFields);
            }
        },
        watch: {},
        methods: {
            checkUIC() {
                console.log("uic check");
                const vm = this;
                this.form.post(vm.uicCheckUrl)
                    .then(response => {
                        this.busy = false;
                        this.uicChecked = response.data.success;
                        if (!response.data.success) {
                            this.openModal();
                        } else {
                            this.delegate = response.data.delegate;
                            this.loadDelegateData();
                        }
                    })
                    .catch(error => {
                        this.busy = false;

                        if (error.response.status === 422) {
                            window.toastr.warning('Please fill all required fields', '');
                        } else {
                            window.toastr.warning('Failed', error);
                        }

                    })
            },
            submit() {
                console.log("submitting");
                const vm = this;

                this.busy = true;

                this.form.phone_company = this.numberFields.phone_company.cc + this.numberFields.phone_mobile.number;
                this.form.phone_mobile = this.numberFields.phone_mobile.cc + this.numberFields.phone_mobile.number;

                let err = {};
                Object.keys(this.numberFields).forEach(key => {
                    if (this.numberFields[key].cc == 971 && this.numberFields[key].number.length !== 9) {
                        err[key] = 'The United Arab Emirates number should contain 9 numbers';
                        window.toastr.warning(err[key], 'Registration failed');
                        this.form.errors.set(err);
                    }
                });

                if (this.form.errors.hasErrors()) {
                    this.busy = false;
                    return false;
                }

                this.form.post(vm.registerUrl)
                    .then(response => {
                        vm.busy = false;
                        if (response.data.success) {
//                            window.toastr.success('Success');
                            this.$refs.regSuccess.open();
                            this.resetForm();
                            this.registered = true;
                            this.uicChecked = false;
                        } else {
                            window.toastr.warning('Registration failed', 'Something went wrong');
                        }
                    })
                    .catch(error => {
                        vm.busy = false;

                        if (error.response.status === 422) {
                            window.toastr.warning('Please fill all required fields', 'Registration failed');
                        } else {
                            window.toastr.warning('Failed', error);
                        }

                    })
            },
            clearErrors(name) {
                if (name === 'password') {
                    this.form.errors.clear('password');
                    name = this.name
                }
                this.form.errors.clear(name)
            },
            classValue(field) {
                return 'col-md-' + (field.column || 12)
            },
            fileFieldChanged(e) {
                let files = e.target.files || e.dataTransfer.files;
                let field = e.target.name || e.target.id;
                console.log(field + ' -> changed');
                if (!files.length) {
                    this.form[field] = null;
                    return;
                }
                this.createImage(files[0], field);
            },
            onFileChange(e) {
                this.clearErrors('photo');
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file, field) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.form[field] = {
                        file: e.target.result,
                        name: file.name
                    };
                };
                reader.readAsDataURL(file);
            },
            removeImage: function (e) {
                this.form.photo = '';
            },
            refresh: function () {
                window.location.reload();
            },
            loadDelegateData() {
                Object.keys(this.delegate).forEach(key => {
                    if (key in this.form) {
                        this.form[key] = this.delegate[key];
                    }
                });

                setTimeout(() => {
                    $('.selectpicker').selectpicker('refresh');
                }, 300);
            },
            resetForm() {
                let defaults = this.form.originalFields;
                Object.keys(defaults).forEach((key, index) => {
                    this.form[key] = defaults[key];
                });
            },
            openModal(modal) {
                modal = modal || 'uicModal';
                let refModal = this.$refs[modal];
                if (Array.isArray(refModal)) {
                    refModal = refModal[0];
                }
                refModal.open();
            },
            enabledField(enabled) {
                if (typeof enabled !== 'undefined') {
                    return !!enabled;
                }
                return true;
            },
            checkCondition(field) {
                let condition = field.condition;
                if (!condition.field || !condition.compare || !this.form[condition.field]) {
                    return true;
                }
                let operators = {
                    '>': function (a, b) {
                        return a > b
                    },
                    '>=': function (a, b) {
                        return a >= b
                    },
                    '<': function (a, b) {
                        return a < b
                    },
                    '<=': function (a, b) {
                        return a <= b
                    },
                    '!=': function (a, b) {
                        return a != b
                    },
                    '==': function (a, b) {
                        return a == b
                    },
                };
                let conditionResult = operators[condition.compare](this.form[condition.field], condition.value);

                if (!conditionResult) {
                    this.form[field.id] = field.type === 'boolean' ? false : '';
                }

                return conditionResult;
            }
        }
    }

</script>
