//Conference switcher select2 instance customisations

.conference-table tr {
  cursor:pointer;
}

.btn-container {
  margin:5px 20px 20px 15px;
}

.select2-selection__rendered {
  text-transform: capitalize;
}

.media-container {
  margin:20px;
  padding:10px;
}

.media-preview {
  overflow: hidden;
  padding:  .25rem;

  .hover-visible {
    display:none;
  }

  img {
    height:140px;
    background: #d0d0d0;
  }

  &:hover {
    .hover-visible {
      display:block;
    }
  }
}

.image-selector {
  height: 120px !important;
}

.disabled {
  opacity:0.4;
}

.ui-timepicker-wrapper {
  width:13.5em;
}

.auto-form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  padding-right: 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.autocomplete ul {
  &::before {
    border:none;
  }
  z-index:999;
  margin:0;
  padding-top:0;
  display: initial;
  width:100%;
  border: 1px solid #ddd;
  li {
    a {
      b {
        display: none;
      }
    }
  }
}

.select2-selection__rendered {
  span {
    img {
      background: #d0d0d0;
    }
  }
}

.select2-container--default .select2-selection--single.image-selector, .image-selector .select2-selection .select2-selection--single.image-selector {
  padding: 4px 0;
}

.table-hover > tbody > tr {
  transition: background-color 0.25s, color 0.25s;
  font-size: 16px;
  color: #4c4c4c;
  &:hover {
    background-color: #aeaeae;
    transition: background-color 0s, color 0s;
    cursor: pointer;
    color: #252525;
  }
  td {
    border: none;
  }
}


.gallery-item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__navigation{
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    left: 0;
    &__element {
      position: absolute;
      left: 0;
      text-align: center;
      width: 100%;
      color: #3c85bc;
      cursor: pointer;
      &[disabled='disabled'] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    &__up {
      top: 0;
    }
    &__down {
      bottom: 0;
    }
    &__remove {
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  &__body {
    margin-left: 30px;
  }
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  font-weight: bold;
}
//
//.modal-body {
//  margin: 20px 0;
//}


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.box.box-page-meta{
  background: #f5f5f5;
}

.check-notify {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  background: #ddd;
  border: 1px solid #b2b2b2;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    background-color: #ececec;
    height: calc(20px - 6px);
    width: calc(20px - 6px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &.checked {
    background-color: #3c763d;
    &:before {
      left: calc(100% - 16px);
    }
  }
}

.hotels-distance {
  border: none;
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
  font-size: 12px;
  color: #777272;
}

.cov-date-body{
  top: 100% !important;
}


.vue-datepicker-custom .cov-vue-date{
  display: block !important;
}

.vue-datepicker-custom input{
  display: inline-block !important;
  padding: 6px !important;
  line-height: 22px !important;
  font-size: 16px !important;
  border: 1px solid #d2d6de !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  color: #555555 !important;
  width: 100% !important;
}

.matrix-table table {
  width: 100%;
  text-align: center;
}

.modal-content {
  box-shadow: none;
  background: transparent;
  border: none;
  .modal-header {
    background: #81b008;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 8px 15px 8px 50px;
    h4 {
      font-family: "DIN Light", Arial, sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
    }
    .close {
      margin-top: 0px;
      color: #FFF;
      opacity: 1;
      font-size: 25px;
      font-weight: 100;
      line-height: 16px;
      &:focus {
        outline: none;
      }
    }
  }
  .modal-body {
    background: #FFF;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: inline-block;
    width: 100%;
    padding: 45px !important;
    p {
      font-size: 20px;
      &:not(.text-center) {
        text-align: left;
      }
    }
    .request-action {
      a.btn.btn-default {
        font-family: "DIN Regular", Arial, sans-serif;
        margin-right: 20px;
        margin-top: 20px;
        width: 120px;
      }
      a.btn.btn-default + a.btn.btn-default {
        margin-right: 0px;
      }
    }
    .day-block {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 0px;
      h4 {
        background: #81b008;
        color: #fff;
        padding: 15px 10px;
        text-align: center;
        font-size: 17px;
        font-family: "DIN Light", Arial, sans-serif;
        margin-bottom: 0px;
      }
      ul {
        border-left: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        li {
          padding: 10px 15px 10px 15px;
          &:nth-child(even) {
            background: #f3f3f3;
          }
          input[type=checkbox] {
            display: none;
          }
          label {
            text-transform: inherit;
            font-family: "DIN Light", Arial, sans-serif;
            display: block;
            padding-left: 0px;
            background-position: right !important;
          }
          input[type=checkbox] + label {
            display: block;
            background: url("../../img/frontend/GBF2017/accept.png") no-repeat;
            background-size: auto;
            background-position: right !important;
          }
          input[type=checkbox]:checked + label {
            background: url("../../img/frontend/GBF2017/decline.png") no-repeat;
            display: block;
            background-size: auto;
            background-position: right !important;
          }
          input[type=checkbox]:checked + label.all-checked {
            background: url("../../img/frontend/GBF2017/accept.png") no-repeat;
          }
          input[type=checkbox] + label.all-unchecked {
            background: url("../../img/frontend/GBF2017/decline.png") no-repeat;
          }
        }
      }
    }
    .day-block + .day-block {
      padding-right: 0px;
    }
    .btn.btn-default {
      float: right;
      margin-right: 0px;
    }
  }
}

#agenda .modal-body {
  margin-top: 0px;
}

@import "inc/form";