<template>
    <form method="post" @submit.prevent="submit"
          @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="box">
            <div class="box-header with-border">
                <span><h3 class="box-title">Header Content</h3></span>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <div class="form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('header') }">
                        <label>Header (html allowed)</label>

                        <p class="text-right">
                            Editor height:
                            <button type="button" class="btn btn-sm" @click="increaseEditorSize(0)"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-sm"
                                    @click="decreaseEditorSize(0)"><i class="fa fa-minus"></i></button>
                        </p>
                        <editor v-if="htmlEditorEnabled" v-model="form.header" @init="editorInit();" lang="html"
                                theme="chrome" width="100%" :height="editorHeight[0] + 'px'"></editor>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('header')"
                              v-text="form.errors.get('header')"
                              id="validation_error_header"></span>
                        </transition>
                    </div>


                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <span><h3 class="box-title">Footer Content</h3></span>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <div class="form-group has-feedback"
                         :class="{ 'has-error': form.errors.has('footer') }">
                        <label>Footer (html allowed)</label>

                        <p class="text-right">
                            Editor height:
                            <button type="button" class="btn btn-sm" @click="increaseEditorSize(1)"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-sm"
                                    @click="decreaseEditorSize(1)"><i class="fa fa-minus"></i></button>
                        </p>
                        <editor v-if="htmlEditorEnabled" v-model="form.footer" @init="editorInit();" lang="html"
                                theme="chrome" width="100%" :height="editorHeight[1] + 'px'"></editor>

                        <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('footer')"
                              v-text="form.errors.get('footer')"
                              id="validation_error_footer"></span>
                        </transition>
                    </div>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <button type="submit"
                        class="btn btn-primary btn-block btn-flat"
                        :disabled="busy"><span v-if="!busy">Save</span><i v-if="busy" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

    </form>
</template>

<style src="../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import redirect from '../redirect'
    import valueOrEmpty from '../valueOrEmpty'
    import timeFunctions from '../timeFunctions'
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';

    export default {
        mixins: [redirect, valueOrEmpty],
        data: function () {
            let form = new Form({
                header: this.valueOrEmpty(this.content.header),
                footer: this.valueOrEmpty(this.content.footer),
            })

            return {
                form: form,
                busy: false,
                editorHeight: [
                    200,
                    200
                ],
                htmlEditorEnabled: true,
            }
        },
        components: {
            'datepicker': Datepicker,
            'timepicker': Timepicker,
        },
        props: [
            'assetImages',
            'content'
        ],
        computed: {},
        watch: {},
        mounted: function () {
            console.log(this.content);
        },
        methods: {
            editorInit: function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            submit () {
                this.busy = true;
                this.form.post('/a/email/global')
                    .then(response => {
                        var component = this;
                        this.busy = false;
                        //component.redirect('/a')
                        window.toastr.success('successfully updated', 'Global email');
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors (name) {
                this.form.errors.clear(name)
            },
            increaseEditorSize: function(i)
            {
                this.editorHeight[i] += 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            },
            decreaseEditorSize: function(i)
            {
                this.editorHeight[i] = (this.editorHeight[i] - 50) <= 50 ? this.editorHeight[i] : this.editorHeight[i] - 50;
                this.htmlEditorEnabled = false;
                setTimeout(()=>{
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                },0);
            }
        }
    }

</script>
