<template>
    <form method="post" @submit.prevent="submit"
          @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="box">
            <div class="box-body">
                You can use next shortcodes:
                <ul>
                    <li>[DELEGATE_FIRST_NAME]</li>
                    <li>[DELEGATE_LAST_NAME]</li>
                    <li>[DELEGATE_EMAIL]</li>
                    <li>[DELEGATE_UIC]</li>
                </ul>
            </div>
        </div>

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1" data-toggle="tab">Welcome email</a>
                </li>
                <li>
                    <a href="#tab_2" data-toggle="tab">E-Ticket</a>
                </li>
                <li>
                    <a href="#tab_3" data-toggle="tab">Blank</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab_1" class="tab-pane active">
                    <div class="box">
                        <div class="box-header with-border">
                            <span><h3 class="box-title">Welcome email Content</h3></span>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12">

                                <div class="form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('welcome_subject') }">
                                    <label for="welcome_subject">Subject</label>

                                    <input type="text" name="welcome_subject" v-model="form.welcome_subject"
                                           class="form-control"
                                           placeholder="Enter email subject" id="welcome_subject">

                                    <transition name="fade">
                                        <span class="help-block"
                                              v-if="form.errors.has('welcome_subject')"
                                              v-text="form.errors.get('welcome_subject')"
                                              id="validation_error_welcome_subject"></span>
                                    </transition>
                                </div>

                                <div class="form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('welcome_text') }">
                                    <label>Content (html allowed)</label>

                                    <p class="text-right">
                                        Editor height:
                                        <button type="button" class="btn btn-sm" @click="increaseEditorSize(0)"><i
                                                class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-sm"
                                                @click="decreaseEditorSize(0)"><i class="fa fa-minus"></i></button>
                                    </p>
                                    <editor v-if="htmlEditorEnabled" v-model="form.welcome_text" @init="editorInit();"
                                            lang="html"
                                            theme="chrome" width="100%" :height="editorHeight[0] + 'px'"></editor>

                                    <transition name="fade">
                                        <span class="help-block"
                                              v-if="form.errors.has('welcome_text')"
                                              v-text="form.errors.get('welcome_text')"
                                              id="validation_error_welcome_text"></span>
                                    </transition>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab_2" class="tab-pane">
                    <div class="box">
                        <div class="box-header with-border">
                            <span><h3 class="box-title">E-Ticket Content</h3></span>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12">

                                <div class="form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('eticket_subject') }">
                                    <label for="welcome_subject">Subject</label>

                                    <input type="text" name="eticket_subject" v-model="form.eticket_subject"
                                           placeholder="Enter email subject" class="form-control"
                                           id="eticket_subject">

                                    <transition name="fade">
                                        <span class="help-block"
                                              v-if="form.errors.has('eticket_subject')"
                                              v-text="form.errors.get('eticket_subject')"
                                              id="validation_error_eticket_subject"></span>
                                    </transition>
                                </div>

                                <div class="form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('eticket_text') }">
                                    <label>Content (html allowed)</label>

                                    <p class="text-right">
                                        Editor height:
                                        <button type="button" class="btn btn-sm" @click="increaseEditorSize(1)"><i
                                                class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-sm"
                                                @click="decreaseEditorSize(1)"><i class="fa fa-minus"></i></button>
                                    </p>
                                    <editor v-if="htmlEditorEnabled" v-model="form.eticket_text" @init="editorInit();"
                                            lang="html"
                                            theme="chrome" width="100%" :height="editorHeight[1] + 'px'"></editor>

                                    <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('eticket_text')"
                              v-text="form.errors.get('eticket_text')"
                              id="validation_error_eticket_text"></span>
                                    </transition>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab_3" class="tab-pane">
                    <div class="box">
                        <div class="box-header with-border">
                            <span><h3 class="box-title">Blank Content</h3></span>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12">

                                <div class="form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('blank_subject') }">
                                    <label for="blank_subject">Subject</label>

                                    <input type="text" name="blank_subject" v-model="form.blank_subject"
                                           placeholder="Enter email subject" class="form-control"
                                           id="blank_subject">

                                    <transition name="fade">
                                        <span class="help-block"
                                              v-if="form.errors.has('blank_subject')"
                                              v-text="form.errors.get('blank_subject')"
                                              id="validation_error_blank_subject"></span>
                                    </transition>
                                </div>

                                <div class="form-group has-feedback"
                                     :class="{ 'has-error': form.errors.has('blank_text') }">
                                    <label>Content (html allowed)</label>

                                    <p class="text-right">
                                        Editor height:
                                        <button type="button" class="btn btn-sm" @click="increaseEditorSize(2)"><i
                                                class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-sm"
                                                @click="decreaseEditorSize(2)"><i class="fa fa-minus"></i></button>
                                    </p>
                                    <editor v-if="htmlEditorEnabled" v-model="form.blank_text" @init="editorInit();"
                                            lang="html"
                                            theme="chrome" width="100%" :height="editorHeight[2] + 'px'"></editor>

                                    <transition name="fade">
                        <span class="help-block"
                              v-if="form.errors.has('blank_text')"
                              v-text="form.errors.get('blank_text')"
                              id="validation_error_blank_text"></span>
                                    </transition>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <button type="submit"
                        class="btn btn-primary btn-block btn-flat"
                        :disabled="busy"><span v-if="!busy">Save</span><i v-if="busy" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

    </form>
</template>

<style src="../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import redirect from '../redirect'
    import valueOrEmpty from '../valueOrEmpty'
    import timeFunctions from '../timeFunctions'
    import Datepicker from 'vuejs-datepicker';
    import Timepicker from 'vue2-timepicker';

    export default {
        mixins: [redirect, valueOrEmpty],
        data: function () {
            let form = new Form({
                welcome_text: this.valueOrEmpty(this.contentWelcome.content),
                eticket_text: this.valueOrEmpty(this.contentEticket.content),
                blank_text: this.valueOrEmpty(this.contentBlank.content),
                welcome_subject: this.valueOrEmpty(this.contentWelcome.subject),
                eticket_subject: this.valueOrEmpty(this.contentEticket.subject),
                blank_subject: this.valueOrEmpty(this.contentBlank.subject),
            });

            return {
                form: form,
                busy: false,
                editorHeight: [
                    200,
                    200,
                    200
                ],
                htmlEditorEnabled: true,
            }
        },
        components: {
            'datepicker': Datepicker,
            'timepicker': Timepicker,
        },
        props: [
            'assetImages',
            'contentWelcome',
            'contentEticket',
            'contentBlank',
        ],
        computed: {},
        watch: {},
        mounted: function () {
            console.log(this.content);
        },
        methods: {
            editorInit: function (editor) {
                require('vue2-ace-editor/node_modules/brace/mode/html');
                require('vue2-ace-editor/node_modules/brace/theme/chrome');
            },
            submit () {
                this.busy = true;
                this.form.post('/a/email/edit')
                    .then(response => {
                        var component = this;
                        this.busy = false;
                        //component.redirect('/a')
                        window.toastr.success('successfully updated', 'Global email');
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors (name) {
                this.form.errors.clear(name)
            },
            increaseEditorSize: function (i) {
                this.editorHeight[i] += 50;
                this.htmlEditorEnabled = false;
                setTimeout(() => {
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                }, 0);
            },
            decreaseEditorSize: function (i) {
                this.editorHeight[i] = (this.editorHeight[i] - 50) <= 50 ? this.editorHeight[i] : this.editorHeight[i] - 50;
                this.htmlEditorEnabled = false;
                setTimeout(() => {
                    this.htmlEditorEnabled = true;
                    this.editorInit();
                }, 0);
            }
        }
    }

</script>
