.form-group {
  &__item {
    position: relative;
    padding-right: 20px;
    margin-bottom: 10px;
    &__remove {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -9px;
      font-size: 18px;
    }
  }
}