<template>

    <div>
        <div v-if="!isFaviconChanging">
            <p><img :src="faviconPath" alt=""></p>
            <p><a href="javascript:void(0)" @click="changeFavicon" class="btn btn-sm btn-primary">Change Favicon</a></p>
        </div>

        <div v-if="isFaviconChanging">
            <p>Select favicon image</p>

            <image-select2-with-dropzone
                    :uploadedImages="assetImages"
                    :selectedImageId="selectedFavicon"
                    @imageUploaded="handleUpdateAssetImages"
                    @imageSelected="handleImageSelected"
            ></image-select2-with-dropzone>
            <p></p>
            <a href="javascript:void(0)" v-if="selectedFavicon" @click="setFavicon" class="btn btn-success col-md-12"><i class="fa fa-check"></i> Set Favicon</a>
        </div>

    </div>

</template>


<script>


    import imageSelect2WithDropZone from '../../cms/form-partials/image-select2-with-dropzone.vue';

    export default {
        components: {
            'image-select2-with-dropzone': imageSelect2WithDropZone
        },
        data: function(){
            return {
                selectedFavicon: null,
                selectedFaviconObj: {},
                assetImages: [],
                faviconPath: '/storage/cms/'+this.conferenceSlug+'/images/favicon.ico',
                isFaviconChanging: false
            }
        },
        methods: {
            handleUpdateAssetImages: function (value)
            {
                axios.get('/a/cms/get-assets/images')
                    .then(data => {
                        this.assetImages = data.data;
                    })
            },
            handleImageSelected: function(imageId){

                this.selectedFavicon = imageId;
                this.selectedFaviconObj = this.assetImages.find(i => i.id == imageId);
            },
            setFavicon: function()
            {
                axios.post('/a/content/set-favicon',{favicon_path: this.selectedFaviconObj.path})
                    .then(data => {
                        this.faviconPath += '?'+Math.random();
                        this.isFaviconChanging = false;
                        this.selectedFavicon = null;
                        window.toastr.success('successfully changed', 'Favicon');
                    })
                    .catch(err => {
                        console.log('setFavicon error', err);
                        window.toastr.success('something went wrong', 'Error');
                    })
            },
            changeFavicon: function () {
                this.isFaviconChanging = true;
            }
        },
        props: ['imageOptions','currentFavicon','conferenceSlug'],
        computed: {

        },
        created: function(){
            this.assetImages = this.imageOptions;
            this.selectedFavicon = this.currentFavicon;
        },
        watch: {

        },
        mounted: function(){}
    }

</script>