<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            <h3>Please confirm</h3>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            {{message}}
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button"
                                            class="btn btn-primary btn-block btn-flat" @click="$emit('confirm')">
                                        Confirm
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button"
                                            class="btn btn-danger btn-block btn-flat" @click="$emit('reject')">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

    export default {
        components: {
        },
        props: {
            message: ''
        },
        data: function data() {
            return {
            };
        },

        methods: {
        }
    }

</script>
