<template>
    <div>
        <div>
            <gmap-map
                    v-if="isMapInited"
                    :center="{lat:lat, lng:lon}"
                    :zoom="zoom"
                    map-type-id="terrain"
                    style="width: 100%; height: 300px"
                    @click="mapClicked"
                    @rightclick="handleRightClick"
            >
                <gmap-marker
                        :key="index"
                        v-for="(m, index) in markers"
                        :position="m.position"
                        :clickable="true"
                        :draggable="true"
                ></gmap-marker>
            </gmap-map>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-sm-4">
                Latitude
            </div>
            <div class="col-sm-8">
                <text-input class="hotel-lat" :extData="inputLat"  @eValue="handleLat"></text-input>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-sm-4">
                Longitude
            </div>
            <div class="col-sm-8">
                <text-input :extData="inputLon"  @eValue="handleLon"></text-input>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;margin-bottom: 10px">
            <div class="col-sm-4">
                Zoom Level
            </div>
            <div class="col-sm-8">
                <text-input :extData="zoom" @eValue="handleZoom"></text-input>
            </div>
        </div>
    </div>
</template>


<script>

    import textInput from '../../cms/form-partials/text-input.vue';

    export default {
        components: {
            'text-input': textInput,
        },
        data: function(){
            return {
                lat: null,
                lon: null,
                inputLat: null,
                inputLon: null,
                zoom: null,
                self: this,
                markers: [{
                    position: {lat:0, lng:0}
                }],
                blockIndex: null,
                isMapInited: true
            }
        },
        methods: {
            emitPropertyValues: function()
            {
                let coords = {
                    lat: this.markers[0].position.lat,
                    lon: this.markers[0].position.lng,
                    zoom_lvl: this.zoom
                };

                this.$emit('mapCoords', coords);

                localStorage.setItem('GMDefaultCoords',JSON.stringify(coords));
            },
            handleLat: function(lat)
            {
                this.redrawMarker(+lat, +this.inputLon);
                this.lat = +lat;
            },
            handleLon: function(lon)
            {
                this.redrawMarker(+this.inputLat, +lon);
                this.lon = +lon;
            },
            handleZoom: function(zoom)
            {
                this.zoom = +zoom;
            },
            redrawMarker: function(lat, lon){
                this.markers = [];

                this.markers.push({
                    position: {lat:lat, lng:lon}
                })
            },
            mapClicked:function(coordsFromMap, inputCoords = false)
            {

                let lat = coordsFromMap.latLng.lat();
                let lon = coordsFromMap.latLng.lng();

                this.inputLat = lat;
                this.inputLon = lon;

                this.redrawMarker(lat, lon);
                this.emitPropertyValues();
            },
            handleRightClick: function(prop)
            {
//                console.log('handleRightClick ', prop );
            },
            initMap: function()
            {
                this.lat = !this.extData || !this.extData.lat ? this.getDefaultCoords().lat : +this.extData.lat;
                this.lon = !this.extData || !this.extData.lon ? this.getDefaultCoords().lon : +this.extData.lon;
                this.zoom = !this.extData || !this.extData.zoom_lvl ? this.getDefaultCoords().zoom_lvl : +this.extData.zoom_lvl;

                this.markers[0].position.lat = this.inputLat = this.lat;
                this.markers[0].position.lng = this.inputLon = this.lon;
            },
            getDefaultCoords: function()
            {
                if(localStorage.hasOwnProperty('GMDefaultCoords'))
                {
                    return JSON.parse(localStorage.getItem('GMDefaultCoords'));
                }

                return {
                    lat: 40.71603763556807,
                    lon: -74.00802612304688,
                    zoom_lvl: 11
                }
            }
        },
        props: ['extData','reInitMap'],
        created: function()
        {
            this.initMap();
        },
        computed: {

        },
        watch: {
            reInitMap: function(newVal)
            {
                this.isMapInited = false;
                setTimeout(()=>{
                    this.isMapInited = true;
                }, 100)
            },
            extData: function(newVal)
            {
                this.initMap();
            }
        },
        mounted: function(){}
    }

</script>