<template>
    <div>

        <div class="form-group has-feedback">
            <label>Timeslot Title</label>
            <input type="text" class="form-control" placeholder="title" name="title"
                   v-model="form.title" autofocus/>
        </div>

        <div class="form-group has-feedback">
            <label>Time from</label>
            <!--<input type="text" class="form-control" placeholder="8:00" name="time_from"
                   v-model="form.time_from" autofocus/>-->

            <timepicker
                    :extData="form.time_from"
                    :minuteInterval="5"
                    @eValue="handleTimeFrom"
            ></timepicker>
        </div>

        <div class="form-group has-feedback">
            <label>Time to</label>
            <!--<input type="text" class="form-control" placeholder="8:30" name="time_to"
                   v-model="form.time_to" autofocus/>-->

            <timepicker
                    :extData="form.time_to"
                    :minuteInterval="5"
                    @eValue="handleTimeTo"
            ></timepicker>
        </div>

        <div class="form-group has-feedback">
            <label>Timeslot Type</label>

            <select name="type" v-model="form.type" class="form-control">
                <option value="information_item">Information Item</option>
                <option value="schedule_item">Schedule Item</option>
            </select>

        </div>

        <div class="form-group has-feedback">
            <label>Description</label>
            <text-area-html-allowed
                    :extData="form.description"
                    @changetextarea="handleDescriptionChanged"
            >

            </text-area-html-allowed>
        </div>


        <div class="form-group has-feedback" v-if="form.type == 'schedule_item'">
            <label>Assigned Speakers</label>

            <v-select multiple v-model="selectedSpeakers" :options="speakersForVSelect"></v-select>

        </div>

        <div class="row">
            <div class="col-xs-6">
                <button v-if="!form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="$parent.close()"><i class="fa fa-remove"></i> Cancel</button>

                <button v-if="form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="deleteScheduleTimeslot"><i class="fa fa-remove"></i> Delete</button>
            </div>
            <div class="col-xs-6">
                <button v-if="!form.id" @click="create" class="btn btn-success btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Create Schedule Timeslot</button>

                <button v-if="form.id" @click="edit" class="btn btn-primary btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Save Schedule Timeslot</button>
            </div>
        </div>
        <confirm-popup :message="'Are you sure to delete ' + form.title + '?'" v-if="showModal" @confirm="confirmDelete" @reject="closePopup"></confirm-popup>

    </div>

</template>

<style src="../../fade.css"></style>


<script>
    import Form from 'acacha-forms';
    import redirect from '../../redirect';
    import textAreaHtmlAllowed from '../../cms/form-partials/textarea-html-allowed.vue';
    import vueDatepicker from 'vue-datepicker';
    import vSelect from 'vue-select';
    import timepicker from '../../cms/form-partials/timepicker.vue';

    export default {
        mixins: [redirect],
        components: {
            'text-area-html-allowed': textAreaHtmlAllowed,
            'vue-datepicker': vueDatepicker,
            'v-select': vSelect,
            'timepicker': timepicker
        },
        data: function () {
            return {
                busy: false,
                showModal: false,
                speakersForVSelect: [],
                selectedSpeakers: [],
                form: {}
            }
        },
        computed: {

        },
        props: [
            'selectedDay',
            'timeslotData',
            'speakers'
        ],
        watch: {
            timeslotData: function () {
                this.fillFormProperties();
            }
        },
        methods: {
            handleTimeFrom: function(eTimeFrom)
            {
                this.form.time_from = eTimeFrom;
            },
            handleTimeTo: function (eTimeTo) {
                this.form.time_to = eTimeTo;
            },
            fillFormProperties: function()
            {
                this.selectedSpeakers = [];

                if(this.timeslotData.speakers && this.timeslotData.speakers.length)
                {
                    this.selectedSpeakers = this.timeslotData.speakers.map(speaker => {
                        return {
                            label: speaker.name,
                            value: speaker.id,
                        }
                    })
                }

                this.form = {
                    id: this.timeslotData.id || null,
                    day_id: this.selectedDay.id,
                    title: this.timeslotData.title || '',
                    time_from: this.timeslotData.time_from || '',
                    time_to: this.timeslotData.time_to || '',
                    type: this.timeslotData.type || '',
                    description: this.timeslotData.description || '',
                    speakers: this.timeslotData.speakers || []
                }
            },
            getSpeakers: function(){
                let ids = this.selectedSpeakers.map(speaker => {
                    return speaker.value
                });

                return ids;
            },
            setFormDate: function(newDate)
            {
                this.form.date = newDate;
            },
            emitUpdateTable: function(){
                this.$emit('updateTable', true);
            },
            edit() {
                const vm = this;
                this.busy = true;

                this.form.speakers = [];
                if(this.form.type == 'schedule_item')
                {
                    this.form.speakers = this.getSpeakers();
                }

                axios.patch('/a/meeting-management/schedule-timeslots/' + this.form.id, this.form)
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Schedule Timeslot successfully updated', this.form.title);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            create(){
                const vm = this;
                this.busy = true;

                this.form.speakers = [];
                if(this.form.type == 'schedule_item')
                {
                    this.form.speakers = this.getSpeakers();
                }

                axios.post('/a/meeting-management/schedule-timeslots/create', this.form)
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Schedule Timeslot successfully added', this.form.name);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        console.log('error on create => ', error);
                        window.toastr.error('Something went wrong', 'Error');
                        this.busy = false;
                    })
            },
            closePopup() {
                this.showModal = false;
            },
            deleteScheduleTimeslot() {
                this.showModal = true;
            },
            confirmDelete() {
                const vm = this;
                this.busy = true;
                axios.delete('/a/meeting-management/schedule-timeslots/' + this.form.id)
                    .then(response => {
                        vm.busy = false;
                        if(response.data.success) {
                            vm.$parent.close();
                            window.toastr.success('Schedule Timeslot successfully deleted', this.form.name);
                            this.closePopup();
                            this.emitUpdateTable();
                        } else {
                            window.toastr.error('Delete failed', this.form.name);
                        }
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            handleDescriptionChanged: function(description)
            {
                this.form.description = description;
            }
        },
        created: function()
        {
            this.speakersForVSelect = this.speakers.map(speaker => {
                return {
                    label: speaker.name,
                    value: speaker.id
                }
            });

            this.fillFormProperties();
        }
    }

</script>
