<template>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Corporates</h3>

            <button class="btn btn-xs btn-success pull-right" @click="addCorporate">
                <i class="fa fa-id-card" aria-hidden="true"></i> Add a Corporate
            </button>

        </div>
        <div class="box-body">


            <div class="corporate-table">


                <vue-bootstrap-table
                        :columns="columns"
                        :values="corporateValues"
                        :show-filter="false"
                        :show-column-picker="false"
                        :sortable="true"
                        :paginated="false"
                        :row-click-handler=rowClick
                        :multi-column-sortable=true>
                </vue-bootstrap-table>



                <bootstrap-modal ref="editModal" :needHeader="true" :needFooter="false" id="editCorporateModal">
                    <div slot="title">
                        {{ modalObj.title }}
                    </div>
                    <div slot="body">

                        <corporates-form
                                :corporates="corporate"
                                :delegates="delegates"
                                :grouped="grouped"
                                :selectedDelegate="selectedDelegate"
                                :meetings = "meetingsValues"
                                @updateTable="updateTable"
                        >
                        </corporates-form>

                    </div>
                    <div slot="footer">

                    </div>
                </bootstrap-modal>
            </div>


        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</template>

<script>

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [],
        data: function () {

            return {
                busy: false,
                selectedConference: null,

                corporate: {},
                selectedDelegate: null,
                meetingsValues: this.meetings,
                reInitMap: true,

                columns: [
                    {title: 'id', name: 'id'},
                    {title: 'Company Name', name: 'title', visible: true},
                    {title: 'First Name', name: 'first_name', visible: true},
                    {title: 'Last Name', name: 'last_name', visible: true},
                    {title: 'Email', name: 'email', visible: true},
                    {title: 'Country', name: 'country', visible: true},
                    {title: 'Industry', name: 'industry', visible: true},
                ],
                corporateValues: this.corporates,
                modalObj: {
                    title: ''
                },
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'corporates',
            'delegates',
            'meetings',
            'grouped'
        ],
        methods: {
            openEditModal: function () {
                this.$refs.editModal.open();
            },
            rowClick: function (e, r) {
                if (r.id > 0)
                {
                    this.corporate = r;
                    this.selectedDelegate = (r.delegate_id != null) ? r.delegate.title : null;
                    this.modalObj.title = 'Edit corporate: ' + this.corporate.name;

                    this.openEditModal();
                }
            },
            addCorporate: function()
            {
                this.corporate = {isNew:true};
                this.modalObj.title = 'Add new corporate';
                this.openEditModal();
            },
            updateTable: function(val)
            {
                axios.get('/a/meeting-management/meeting-corporates/get-corporates-ajax')
                    .then(data => {
                        this.corporateValues = data.data.data;
                        this.meetingsValues = data.data.slots;
                    })
            }
        },
        created: function(){

        }
    }

</script>
