<template>
    <form method="post" @submit.prevent="submit" @keydown="clearErrors($event.target.name)"
          @change="clearErrors($event.target.name)">

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('title') }">
            <label>Company Name</label>
            <input type="text" class="form-control" placeholder="Company Title" name="title"
                   v-model="form.title" autofocus/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('title')" v-text="form.errors.get('title')"
                      id="validation_error_title"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('first_name') }">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" name="first_name"
                   v-model="form.first_name" autofocus/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('first_name')" v-text="form.errors.get('first_name')"
                      id="validation_error_first_name"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('last_name') }">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name="last_name"
                   v-model="form.last_name" autofocus/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('last_name')" v-text="form.errors.get('last_name')"
                      id="validation_error_last_name"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('email') }">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" name="email"
                   v-model="form.email" autofocus/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('email')" v-text="form.errors.get('email')"
                      id="validation_error_email"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('country') }">
            <label>Country</label>
            <input type="text" class="form-control" placeholder="Country" name="country" v-model="form.country"/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('country')" v-text="form.errors.get('country')"
                      id="validation_error_country"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('industry') }">
            <label>Industry</label>
            <input type="text" class="form-control" placeholder="Industry" name="industry" v-model="form.industry"/>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('industry')" v-text="form.errors.get('industry')"
                      id="validation_error_industry"></span>
            </transition>
        </div>

        <div class="form-group has-feedback" :class="{ 'has-error': form.errors.has('bio') }">
            <label>Biography</label>
            <textarea class="form-control" placeholder="Biography" name="bio" v-model="form.bio"></textarea>
            <transition name="fade">
                <span class="help-block" v-if="form.errors.has('bio')" v-text="form.errors.get('bio')"
                      id="validation_error_bio"></span>
            </transition>
        </div>

        <div class="form-group has-feedback">
            <label>Assigned Delegate</label>

            <v-select v-model="selectedDelegate" :options="delegatesForVSelect" name="delegate_id"></v-select>

        </div>

        <div id="myavailability">
            <label>Meetings Availability</label>
            <div class="clearfix"></div>
            <span id="checkall">
                <input type="checkbox" name="checkedCheckBox" id="checked1" value="checked1">
                <label for="checked1" @click="toggleAllMeetings(true)"><span><img
                        src="/frontend/img/GBF2017/accept.png"
                        alt=""></span>check all</label>
            </span>
            <span id="uncheckall">
                <input type="checkbox" name="uncheckedCheckBox" id="unchecked1" value="unchecked1">
                <label for="unchecked1" @click="toggleAllMeetings(false)"><span><img
                        src="/frontend/img/GBF2017/decline.png"
                        alt=""></span>uncheck all</label>
            </span>
            <div class="clearfix"></div>
            <div class="col-md-6 days" v-for="(groups, dayKey) in grouped">
                <!--<label>{{groups[0].day.name}}</label>-->
                <div class="clearfix"></div>
                <div class="form-group has-feedback col-md-12" v-for="(meeting, key) in meetings" v-if="meeting.day_id == dayKey">
                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-xs">
                        <label>
                            <input type="checkbox" v-model="slots[key].value">
                            <span>{{meeting.title}}</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-xs-6">
                <button v-if="!form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="$parent.close()"><i class="fa fa-remove"></i> Cancel</button>

                <button v-if="form.id" type="button" class="btn btn-danger btn-block btn-flat" :disabled="busy" @click="deleteCorporate"><i class="fa fa-remove"></i> Delete</button>
            </div>
            <div class="col-xs-6">
                <button v-if="!form.id" @click="create" class="btn btn-success btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Create Corporate</button>

                <button v-if="form.id" type="submit" class="btn btn-primary btn-block btn-flat" :disabled="busy"><i class="fa fa-check"></i> Save Corporate</button>
            </div>
        </div>
        <confirm-popup :message="'Are you sure to delete ' + form.name + '?'" v-if="showModal" @confirm="confirmDelete" @reject="closePopup"></confirm-popup>

    </form>
</template>

<script>
    import Form from 'acacha-forms';
    import redirect from '../../redirect';
    import vSelect from 'vue-select';

    export default {
        mixins: [redirect],
        components: {
            'v-select': vSelect
        },
        data: function () {
            return {
                busy: false,
                showModal: false,
                delegatesForVSelect: [],
                slots: []
            }
        },
        computed: {
            form: function () {
                return new Form({
                    id: this.corporates.id || null,
                    title: this.corporates.title || '',
                    first_name: this.corporates.first_name || '',
                    last_name: this.corporates.last_name || '',
                    email: this.corporates.email || '',
                    country: this.corporates.country || '',
                    industry: this.corporates.industry || '',
                    bio: this.corporates.bio || '',
                    delegate_id: this.selectedDelegate || null,
                    slots: this.slots
                })
            },
        },
        props: [
            'corporates',
            'delegates',
            'selectedDelegate',
            'meetings',
            'grouped'
        ],
        methods: {
            emitUpdateTable: function(){
                this.$emit('updateTable', true);
            },
            submit() {
                const vm = this;
                this.busy = true;
                this.form.patch('/a/meeting-management/meeting-corporates/' + this.form.id)
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Corporate successfully updated', this.form.title);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            create(){
                const vm = this;
                this.busy = true;

                this.form.post('/a/meeting-management/meeting-corporates/create')
                    .then(response => {
                        vm.busy = false;
                        vm.$parent.close();
                        window.toastr.success('Corporate successfully added', this.form.name);
                        this.emitUpdateTable();
                    })
                    .catch(error => {
                        console.log('error on create => ', error);
                        window.toastr.error('Something went wrong', 'Error');
                        this.busy = false;
                    })
            },
            closePopup() {
                this.showModal = false;
            },
            confirmDelete() {
                const vm = this;
                this.busy = true;
                this.form.delete('/a/meeting-management/meeting-corporates/' + this.form.id)
                    .then(response => {
                        vm.busy = false;
                        if(response.data.success) {
                            vm.$parent.close();
                            window.toastr.success('Corporate successfully deleted', this.form.name);
                            this.closePopup();
                            this.emitUpdateTable();
                        } else {
                            window.toastr.error('Delete failed', this.form.name);
                        }
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
            clearErrors(name) {
                this.form.errors.clear(name)
            },
            deleteCorporate() {
                this.showModal = true;
            },
            toggleAllMeetings(toggle) {
                if (toggle) {
                    this.slots.forEach(slot => slot.value = 1);
                } else {
                    this.slots.forEach(slot => slot.value = 0);
                }
            }
        },
        created: function()
        {
            this.delegatesForVSelect = this.delegates.map(delegate => {
                return {
                    label: delegate.title,
                    value: delegate.id
                }
            });
            this.delegatesForVSelect.unshift({label: 'None', value: null});
            
            this.slots = this.meetings.map(function (meeting) {
                return (meeting.corporates.length) ? {id: meeting.id, value: 1} : {id: meeting.id, value: 0};
            });
        },
        watch: {
            'corporates': function(newVal) {
                this.slots = this.meetings.map(function (meeting) {
                    let corpIds = [];
                    meeting.corporates.forEach(function(corp){
                        return corpIds.push(corp.id)
                    });
                    return ((meeting.corporates.length && (jQuery.inArray(newVal.id, corpIds) != -1)) || newVal.isNew ) ? {id: meeting.id, value: 1} : {id: meeting.id, value: 0};
                })
            },
            'meetings': function (val) {
                this.slots = this.meetings.map(function (meeting) {
                    return (meeting.corporates.length) ? {id: meeting.id, value: 1} : {id: meeting.id, value: 0};
                });
            }
        }
    }
</script>