<template>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Capacity</h3>

            <button class="btn btn-xs btn-success pull-right" @click="save">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Save
            </button>

        </div>
        <div class="box-body">

            <div class="speaker-table">
                <table class="table table-bordered table-hover table-condensed table-striped vue-table">
                    <thead>
                        <tr>
                            <th align="center">ID</th>
                            <th>Rank</th>
                            <th>Capacity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  v-for="row in capacity">
                            <td>{{row.id}}</td>
                            <td>{{row.rank}}</td>
                            <td><input type="text" v-model="row.capacity"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</template>

<script>

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        data: function () {

            return {
                busy: false,
                selectedConference: null,

                day: {},
                reInitMap: true,

                capacity: this.data,
                modalObj: {
                    title: ''
                }
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'data',
            'days'
        ],
        methods: {
            save: function(val)
            {
                axios.post('/a/meeting-management/meeting-matrix/capacity/update', {
                    data: this.capacity
                }).then(data => {
                    this.data = data.data.data;
                })
            }
        }
    }

</script>
