<template>


    <div class="box">
        <bootstrap-modal ref="agenda" :needHeader="true" :needFooter="false" :id="'agenda'">
            <div slot="title">
                <h4 class="modal-title" id="agendaLabel">User Availability</h4>
            </div>
            <div slot="body">
                <div class="clearfix">
                    <div class="day-block col-sm-6"
                         v-for="(day, index) in modalObj">
                        <h4>{{day.day.name}}</h4>
                        <ul>
                            <li v-for="timeslot in day.day.meeting_timeslots">
                                <input type="checkbox" name="time1Day1CheckBox" id="Time1Day1" value="Time1Day1"
                                       :checked="!isAvailable(day.day.id, timeslot.id)">
                                <label>{{timeslot.time_from}} to {{timeslot.time_to}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="request-action clearfix">
                    <a class="btn btn-default" @click="finishAgenda">Close</a>
                </div>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
        <div class="box-header with-border">
            <h3 class="box-title">Matrix</h3>

            <button class="btn btn-xs btn-primary pull-right" @click="exportCorp">
                <i class="fa fa-download" aria-hidden="true"></i> Export Corporate CSV
            </button>
            <button class="btn btn-xs btn-primary pull-right" @click="exportInvestor">
                <i class="fa fa-download" aria-hidden="true"></i> Export Investor CSV
            </button>
            <button class="btn btn-xs btn-warning pull-right" @click="shuffle('all')">
                <i class="fa fa-random" aria-hidden="true"></i> Re-Shuffle Matrix
            </button>
            <button class="btn btn-xs btn-warning pull-right" @click="shuffle('bronze')">
                <i class="fa fa-random" aria-hidden="true"></i> Re-Shuffle Bronze Inv.
            </button>
            <button class="btn btn-xs btn-warning pull-right" @click="shuffle('silver')">
                <i class="fa fa-random" aria-hidden="true"></i> Re-Shuffle Silver Inv.
            </button>
            <button class="btn btn-xs btn-danger pull-right" @click="forceMeeting">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add Forced Meeting
            </button>

        </div>
        <div class="box-body">
            <div class="matrix-table col-sm-12">
                <div id="loadingdiv" class="vue-table-loading-hidden"><div class="spinner"></div></div>
                <table class="table table-bordered table-hover table-condensed table-striped vue-table">
                    <thead>
                        <tr>
                            <th align="center">Timeslot ID</th>
                            <th >Day</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="matrixValue in matrixValues" >
                            <td>{{matrixValue.timeslotId}}</td>
                            <td>{{matrixValue.day}}</td>
                            <td>{{matrixValue.time}}</td>
                            <td colspan="4">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Corporate</th>
                                        <th>Investor (Rang)</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="corp in matrixValue.corporate">
                                            <td @click="getAgenda('corp', corp.id)">{{corp.title}}</td>
                                            <td>
                                                <table class="table-bordered">
                                                    <tbody>
                                                        <tr v-for="inv in matrixValue.investor[corp.id]">
                                                            <td @click="getAgenda('inv', inv.id)">{{inv.val}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr v-for="stat in matrixValue.status[corp.id]">
                                                            <td>{{stat}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr v-for="action in matrixValue.action[corp.id]">
                                                            <td v-if="action.action === 'unset'"><button class="btn btn-xs btn-info" @click="changeStatus(matrixValue.timeslotId, corp.id, action.invId, 'unset')">Unset?</button></td>
                                                            <td v-else-if="action.action === 'set'"><button class="btn btn-xs btn-info" @click="changeStatus(matrixValue.timeslotId, corp.id, action.invId, 'set')">Set?</button></td>
                                                            <td v-else><button class="btn btn-xs btn-info" @click="changeStatus(matrixValue.timeslotId, corp.id, action.invId, 'delete')">Delete?</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [],
        data: function () {

            return {
                modalObj: {},
                busy: false,
                matrixValues: this.matrix,

            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'conference',
            'matrix'
        ],
        methods: {
            shuffle: function(what)
            {
                axios.post('/a/meeting-management/meeting-matrix/shuffle', {
                    'shuffle' : what,
                    'when': this.conference
                }).then(data => {
                    this.matrixValues = data.data.matrix;
                })
            },
            exportCorp: function()
            {
                axios.get('a/csv-export/corporates')
                    .then()
            },
            exportInvestor: function()
            {
                axios.get('a/csv-export/investors')
                    .then()
            },
            forceMeeting : function(){},
            changeStatus : function(timeslot, corporate, investor, status){
                axios.post('/a/meeting-management/meeting-matrix/change-status', {
                    'timeslot'  : timeslot,
                    'corporate' : corporate,
                    'investor'  : investor,
                    'status'    : status,
                }).then(data => {
                    this.matrixValues = data.data.matrix;
                })
            },
            getAgenda : function(who, id) {
                this.$refs.agenda.open();
                axios.post('/a/meeting-management/meeting-matrix/agenda', {
                    'type'  : who,
                    'id' : id
                }).then(data => {
                    this.modalObj = data.data.agenda;
                })
            },
            finishAgenda(e) {
                e.preventDefault();
                this.editMode = false;
                this.$refs.agenda.close();
            },
            isAvailable(dayId, timeslotId) {
                return (this.modalObj[dayId].timeslots[timeslotId] == 'free');
            },
        },
        created: function(){

        }
    }
</script>