<template>
    <div>
        <div class="panel panel-default" id="hotel_map">
            <div class="panel-body">
                <div id="map">
                    <gmap-map
                            ref="mainMap"
                            :center="center"
                            :zoom="zoom"
                            map-type-id="terrain"
                            style="width: 100%; height: 100%"
                    >
                        <gmap-marker
                                :key="index"
                                v-for="(m, index) in markers"
                                :position="m.position"
                                :clickable="true"
                                :draggable="true"
                                @click="markerClicked(m.position)"
                        ></gmap-marker>
                    </gmap-map>
                </div>
            </div>
        </div>
        <div class="panel panel-default" v-for="(hotel, index) in hotels">
            <div class="panel-body">
                <div class="col-md-5 image-block">
                    <img :src="hotel.photo.path" alt="" class="img-responsive" v-if="hotel.photo">
                    <div class="expanded-tab collapse" :class="['expanded-tab'+index]" v-if="hotel.promo_code">
                        <span class="promo-heading">Promo Code:</span>
                        <span v-html="hotel.promo_description"></span>
                        <div class="copy-code">
                            <div class="copy-box">
                                <span>code:</span>
                                <span class="code" :id="'code' + index">{{hotel.promo_code}}</span>
                            </div>
                            <div class="copy-button">
                                <button @click="copyPromo('#code' + index)">copy code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 content-block">
                    <h3>{{hotel.title}}</h3>
                    <p class="map-link" v-if="hotel.lat && hotel.lon">
                        <a class="map-scroll-top" @click="showMarker(hotel)"><span>view on Map</span></a>
                    </p>
                    <p class="distance" v-if="hotel.pivot && hotel.pivot.distance"><span>Distance from Venue:</span>
                        {{hotel.pivot.distance}}</p>
                    <p class="contact"><span>address:</span> {{hotel.address}}</p>
                    <p class="contact"><span>contact person:</span> {{hotel.contact_person}}</p>
                    <p class="contact"><span>phone:</span> {{hotel.phone}}</p>
                    <p class="contact" v-if="hotel.website"><span>website:</span>
                        <a :href="hotel.website | url" target="_blank">{{hotel.website_title || hotel.website}}</a>
                    </p>
                    <p class="contact last-field" v-if="hotel.email"><span>email address:</span> <a :href="'mailto:' + hotel.email">{{hotel.email}}</a></p>
                    <div class="expanded-tab collapse " :class="['expanded-tab'+index]">
                        <div v-html="hotel.description"></div>
                        <a :href="hotel.website | url" class="check-availability" target="_blank">check availability</a>
                        <div class="promo-code" v-if="hotel.promo_code">
                            <span class="promo-heading">Promo Code:</span>
                            <span v-html="hotel.promo_description"></span>
                            <div class="copy-code">
                                <div class="copy-box">
                                    <span>code:</span>
                                    <span class="code" :id="'code' + index">{{hotel.promo_code}}</span>
                                </div>
                                <div class="copy-button">
                                    <button @click="copyPromo('#code' + index)">copy code</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default read-btn more"
                   data-toggle="collapse" :data-target="'.expanded-tab' + index">Read more <span
                        class="glyphicon glyphicon-menu-down"></span></a>
            </div>
        </div>
    </div>
</template>


<style src="../fade.css"></style>

<script>

    export default {
        mixins: [],
        components: {},
        data: function () {
            return {
                zoom: 16,
                center: {
                    lat: 0,
                    lng: 0
                },
                markers: []
            }
        },
        props: {
            hotels: {
                type: Array
            },
            mapCenter: {}
        },
        computed: {},
        watch: {},
        created: function () {
            this.setMapCenter();
            this.hotels.forEach(hotel => {
                if (hotel.lat && hotel.lon) {
                    if(!this.center.lat || !this.center.lng) {
                        this.center.lat = +hotel.lat;
                        this.center.lng = +hotel.lon;
                    }
                    this.markers.push({
                        position: {lat: +hotel.lat, lng: +hotel.lon}
                    });
                }
            });
        },
        methods: {
            setMapCenter() {
                if(this.mapCenter.lat) {
                    this.center.lat = +this.mapCenter.lat;
                }
                if(this.mapCenter.lon) {
                    this.center.lng = +this.mapCenter.lon;
                }
                if(this.mapCenter.lat && this.mapCenter.lon) {
                    this.markers.push({
                        position: {lat: +this.mapCenter.lat, lng: +this.mapCenter.lon}
                    });
                }
                if(this.mapCenter.zoom) {
                    this.zoom = +this.mapCenter.zoom;
                }
            },
            mapClicked(coordsFromMap, inputCoords = false) {},
            handleRightClick(prop) {
            },
            markerClicked(position) {
                this.center = position;
                this.$refs.mainMap.panTo(position);
            },
            showMarker(hotel) {
                let position = {
                    lat: +hotel.lat,
                    lng: +hotel.lon
                };
                this.markerClicked(position);
                $('body, html').animate({
                    'scrollTop': $('#map').offset().top - 300
                }, 300);
            },
            copyPromo(e) {
                let a = $("<input>");
                $("body").append(a),
                    a.val($(e).text()).select(),
                    document.execCommand("copy"),
                    a.remove()
            }
        },
        mounted: function () {
        },
        filters: {
            url: function (value) {
                if (!value) return '';
                value = value.toString();
                if(!value.match(/^(http:\/\/|https:\/\/).+/i)) {
                    value = '//' + value;
                }
                return value;
            }
        }
    }

</script>
