<template>
    <div class="col-md-4 media-block">
        <a :href="fields.link_url">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img :src="imagePath" alt="" v-if="imagePath">
                </div>
                <div class="panel-body" style="height: 207px;">
                    <h3>{{fields.title}}</h3>
                    <div v-html="fields.content_main"></div>
                </div>
                <div class="panel-footer">
                    <p>{{fields.link_text}}</p>
                    <span>
                            <img src="/frontend/img/GBF2017/panel_arrow.png" alt="">
                        </span>
                </div>
            </div>
        </a>
    </div>
</template>


<style src="../../fade.css"></style>

<script>

    import transform from '../../dataTransform';
    import fetchAsset from '../../fetchAsset';

    export default {
        mixins: [transform, fetchAsset],
        data: function () {
            return {
                imagePath: false,
            }
        },
        props: {
            data: {},
        },
        computed: {
            fields: function () {
                return this.transform(this.data);
            }
        },
        mounted: function () {
            this.fetchAsset(this.fields.asset_image_id)
                .then(asset => {
                    this.imagePath = asset.path;
                });
            resizeBlocks();
        },
        watch: {},
        methods: {
        }
    }

</script>
