<template>
    <div class="panel panel-normal">
        <div class="accordion faq">
            <h2>{{fields.title}}</h2>
            <a class="expandAll">Expand All</a>
            <div class="panel-group" :id="getItemId('')" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" v-for="(item, index) in fields.items">
                    <div class="panel-heading" role="tab" :id="getItemId(index + '_heading')">
                        <h4 class="panel-title" data-toggle="collapse">
                            <a role="button" data-toggle="collapse" :data-parent="'#' + getItemId('')" :href="'#' + getItemId(index)"
                               aria-expanded="false" :aria-controls="getItemId(index)" class="collapsed">
                                {{item.item_title}} <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                        </h4>
                    </div>
                    <div :id="getItemId(index)" class="panel-collapse accordion-body collapse" role="tabpanel"
                         :aria-labelledby="getItemId(index + '_heading')" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div v-html="item.item_text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<style src="../../fade.css"></style>

<script>

    import transform from '../../dataTransform';
    import generateSlug from '../../generateSlugString';

    export default {
        mixins: [transform, generateSlug],
        data: function () {
            return {
            }
        },
        props: {
            data: {},
        },
        computed: {
            fields: function () {
                let fields = this.transform(this.data);
                fields.items = JSON.parse(fields.items);
                return fields;
            }
        },
        mounted: function () {
        },
        watch: {},
        methods: {
            getItemId(index) {
                let title = this.fields.title.replace(/\W/g, '');
                return 'collapse_' + this.generateSlug(title) + '_' + index
            }
        }
    }

</script>
