<template>
    <div class="col-md-4 media-block">
        <a :href="filePath"
           onclick="window.open(this.href, '_blank'); return false;" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}"
           download="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img :src="imagePath" alt="" v-if="imagePath">
                </div>
                <div class="panel-body" style="height: 175px;">
                    <h3>{{fields.title}}</h3>
                    <div v-html="fields.content"></div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-6">
                        <p>download</p>
                    </div>
                    <div class="col-md-6">
                        <span>
                            <img src="/frontend/img/GBF2017/panel_arrow.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>


<style src="../../fade.css"></style>

<script>

    import transform from '../../dataTransform';
    import fetchAsset from '../../fetchAsset';

    export default {
        mixins: [transform, fetchAsset],
        data: function () {
            return {
                imagePath: false,
                filePath: ''
            }
        },
        props: {
            data: {},
        },
        computed: {
            fields: function () {
                return this.transform(this.data);
            }
        },
        mounted: function () {

            this.fetchAsset(this.fields.asset_image_id)
                .then(asset => {
                    this.imagePath = asset.path;
                });

            this.fetchAsset(this.fields.download_asset_file_id)
                .then(asset => {
                    this.filePath = asset.path;
                });
            resizeBlocks();
        },
        watch: {},
        methods: {}
    }

</script>
