<template>
    <div class="panel panel-default">
        <div class="panel-body travel">
            <div class="col-md-12">
                <h3>{{fields.title}}</h3>
                <div v-html="fields.content_main"></div>
            </div>
        </div>
    </div>
</template>


<style src="../../fade.css"></style>

<script>

    import transform from '../../dataTransform'

    export default {
        mixins: [transform],
        data: function () {
            return {
            }
        },
        props: {
            data: {},
        },
        computed: {
            fields: function () {
                return this.transform(this.data);
            }
        },
        mounted: function () {
        },
        watch: {},
        methods: {
        }
    }

</script>
