<template>
    <div class="panel panel-default" :id="quickLinkId">
        <div class="panel-body left-content">
            <div class="col-md-7 content-block">
                <h3>{{fields.title}}</h3>
                <div v-html="fields.content_main"></div>
                <div class="expanded-tab collapse" :id="expandId" v-if="!(+fields.is_full_width)">
                    <div v-html="fields.content_read_more"></div>
                </div>
            </div>
            <div class="col-md-5 image-block">
                <img :src="imagePath" alt="" class="img-responsive" v-if="imagePath">
            </div>

            <div class="col-md-12 another-block" v-if="+fields.is_full_width">
                <div class="expanded-tab collapse" :id="expandId">
                    <div v-html="fields.content_read_more"></div>
                </div>
            </div>

            <a class="btn btn-default read-btn more" v-show="fields.content_read_more" data-toggle="collapse" :data-target="'#' + expandId">
                Read more <span class="glyphicon glyphicon-menu-down"></span>
            </a>
        </div>
    </div>
</template>


<style src="../../fade.css"></style>

<script>

    import transform from '../../dataTransform';
    import generateSlug from '../../generateSlugString';
    import fetchAsset from '../../fetchAsset';

    export default {
        mixins: [transform, generateSlug, fetchAsset],
        data: function () {
            return {
                imagePath: false,
                expandId: 'expanded-tab1',
                quickLinkId: ''
            }
        },
        props: {
            data: {},

        },
        computed: {
            fields: function () {
                return this.transform(this.data);
            }
        },
        mounted: function () {
            this.fetchAsset(this.fields.asset_image_id)
                .then(asset => {
                    this.imagePath = asset.path;
                });
            if (this.fields.title) {
                this.expandId = this.generateSlug(this.fields.title);
            }
            if (this.fields.is_quick_link_enabled && this.fields.quick_link_label) {
                this.quickLinkId = this.generateSlug(this.fields.quick_link_label, '-');
            }
//            console.log('this.data',this.fields)
        },
        watch: {},
        methods: {}
    }

</script>
