<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <gmap-map
                    :center="{lat:fields.center_point_lat, lng:fields.center_point_lon}"
                    :zoom="fields.zoom_lvl"
                    map-type-id="terrain"
                    style="width: 100%; height: 300px"
            >
                <gmap-marker
                        :key="0"
                        :position="{lat:fields.center_point_lat, lng:fields.center_point_lon}"
                        :clickable="true"
                        :draggable="true"
                ></gmap-marker>
            </gmap-map>
        </div>
    </div>
</template>


<style src="../../fade.css"></style>

<script>

    import transform from '../../dataTransform'

    export default {
        mixins: [transform],
        data: function () {
            return {
            }
        },
        props: {
            data: {},
        },
        computed: {
            fields: function () {
                let fields = this.transform(this.data);
                Object.keys(fields).forEach(key => {
                    fields[key] = Number(fields[key]);
                });
                return fields;
            }
        },
        mounted: function () {
        },
        watch: {},
        methods: {}
    }

</script>
