<template>
    <div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Images</a></li>
                <li><a href="#tab_2" data-toggle="tab">Files</a></li>
                <li><a href="#tab_3" data-toggle="tab">Speakers</a></li>
                <li><a href="#tab_4" data-toggle="tab">Delegates</a></li>
                <li><a href="#tab_5" data-toggle="tab">Gallery</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <dropzone id="dropzoneimages" :maxNumberOfFiles="500" ref="dropzoneimages" :maxFileSizeInMB="1025" :showRemoveLink="false" :useFontAwesome="true" url="/a/content/media-manager" v-on:vdropzone-success="showSuccess">
                        <!-- Optional parameters if any! -->
                        <input type="hidden" name="type" value="images">
                    </dropzone>

                    <div class="row media-container" style="margin-top:30px;">

                        <div class="col-md-4 media-preview" v-for="asset in this.assets.images">
                            <div class="thumbnail">
                                <a href="#" class="btn btn-danger pull-right hover-visible" style="position:absolute;margin:5px;" @click.prevent="deleteMedia(asset)"><i class="fa fa-trash"></i></a>
                                <img :src="asset.path" :alt="asset.filename" class="img-responsive" style="width:auto;max-height:200px;display:block;">
                                <div class="caption">

                                    <form method="post" @submit.prevent="saveAltText">

                                        <div class="form-group">
                                            <label>Filename</label>
                                            <input class="form-control" :value="asset.filename" name="filename" disabled type="text">
                                        </div>

                                        <div class="form-group">
                                            <label>Alt Text</label>
                                            <div class="input-group">
                                                <input type="hidden" name="id" :value="asset.id">
                                                <input class="form-control" v-model="asset.alt_text" :disabled="busy == asset.id" name="alt_text" placeholder="Alt text" type="text">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="submit" :disabled="busy == asset.id"> <i v-if="busy != asset.id" class="fa fa-save"></i> <i v-if="busy == asset.id" class="fa fa-spinner fa-spin"></i> </button>
                                                </span>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <dropzone id="dropzonefile" :maxNumberOfFiles="500" ref="dropzonefile" :maxFileSizeInMB="1025" :parallelUploads="1" :showRemoveLink="false" :useFontAwesome="true" url="/a/content/media-manager"
                              v-on:vdropzone-success="showSuccess">
                        <!-- Optional parameters if any! -->
                        <input type="hidden" name="type" value="file">
                    </dropzone>

                    <div class="row media-container" style="margin-top:30px;">

                        <div class="col-md-4 media-preview" v-for="asset in this.assets.file">
                            <div class="thumbnail">
                                <a href="#" class="btn btn-danger pull-right hover-visible" style="position:absolute;margin:5px;" @click.prevent="deleteMedia(asset)"><i class="fa fa-trash"></i></a>
                                <img :src="asset.path+'_THUMB.png'" :alt="asset.filename" class="img-responsive" style="width:auto;max-height:200px;display:block;">
                                <div class="caption">

                                    <form method="post" @submit.prevent="saveAltText">

                                        <div class="form-group">
                                            <label>Filename</label>
                                            <input class="form-control" :value="asset.filename" name="filename" disabled type="text">
                                        </div>

                                        <div class="form-group">
                                            <label>Public Filename</label>
                                            <div class="input-group">
                                                <input type="hidden" name="id" :value="asset.id">
                                                <input class="form-control" v-model="asset.alt_text" :disabled="busy == asset.id" name="alt_text" placeholder="Public Filename" type="text">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="submit" :disabled="busy == asset.id"> <i v-if="busy != asset.id" class="fa fa-save"></i> <i
                                                            v-if="busy == asset.id" class="fa fa-spinner fa-spin"></i> </button>
                                                </span>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="tab_3">
                    <dropzone id="dropzonespeaker" :maxNumberOfFiles="500" :maxFileSizeInMB="1025" ref="dropzonespeaker" :parallelUploads="1" :showRemoveLink="false" :useFontAwesome="true" url="/a/content/media-manager"
                              v-on:vdropzone-success="showSuccess">
                        <!-- Optional parameters if any! -->
                        <input type="hidden" name="type" value="speaker">
                    </dropzone>

                    <div class="row media-container" style="margin-top:30px;">

                        <div class="col-md-4 media-preview" v-for="asset in this.assets.speaker">
                            <div class="thumbnail">
                                <a href="#" class="btn btn-danger pull-right hover-visible" style="position:absolute;margin:5px;" @click.prevent="deleteMedia(asset)"><i class="fa fa-trash"></i></a>
                                <img :src="asset.path" :alt="asset.filename" class="img-responsive" style="width:auto;max-height:200px;display:block;">
                                <div class="caption">

                                    <form method="post" @submit.prevent="saveAltText">

                                        <div class="form-group">
                                            <label>Filename</label>
                                            <input class="form-control" :value="asset.filename" name="filename" disabled type="text">
                                        </div>

                                        <div class="form-group">
                                            <label>Alt Text</label>
                                            <div class="input-group">
                                                <input type="hidden" name="id" :value="asset.id">
                                                <input class="form-control" v-model="asset.alt_text" :disabled="busy == asset.id" name="alt_text" placeholder="Alt text" type="text">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="submit" :disabled="busy == asset.id"> <i v-if="busy != asset.id" class="fa fa-save"></i> <i v-if="busy == asset.id" class="fa fa-spinner fa-spin"></i> </button>
                                                </span>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="tab_4">
                    <dropzone id="dropzonedelegate" :maxNumberOfFiles="500" ref="dropzonedelegate" :maxFileSizeInMB="1025" :parallelUploads="1" :showRemoveLink="false" :useFontAwesome="true" url="/a/content/media-manager"
                              v-on:vdropzone-success="showSuccess">
                        <!-- Optional parameters if any! -->
                        <input type="hidden" name="type" value="delegate">
                    </dropzone>

                    <div class="row media-container" style="margin-top:30px;">

                        <div class="col-md-4 media-preview" v-for="asset in this.assets.delegate">
                            <div class="thumbnail">
                                <a href="#" class="btn btn-danger pull-right hover-visible" style="position:absolute;margin:5px;" @click.prevent="deleteMedia(asset)"><i class="fa fa-trash"></i></a>
                                <img :src="asset.path" :alt="asset.filename" class="img-responsive" style="width:auto;max-height:200px;display:block;">
                                <div class="caption">

                                    <form method="post" @submit.prevent="saveAltText">

                                        <div class="form-group">
                                            <label>Filename</label>
                                            <input class="form-control" :value="asset.filename" name="filename" disabled type="text">
                                        </div>

                                        <div class="form-group">
                                            <label>Alt Text</label>
                                            <div class="input-group">
                                                <input type="hidden" name="id" :value="asset.id">
                                                <input class="form-control" v-model="asset.alt_text" :disabled="busy == asset.id" name="alt_text" placeholder="Alt text" type="text">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="submit" :disabled="busy == asset.id"> <i v-if="busy != asset.id" class="fa fa-save"></i> <i
                                                            v-if="busy == asset.id" class="fa fa-spinner fa-spin"></i> </button>
                                                </span>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="tab_5">
                    <dropzone id="dropzonegallery" :maxNumberOfFiles="500" ref="dropzonegallery" :maxFileSizeInMB="1025" :parallelUploads="1" :showRemoveLink="false" :useFontAwesome="true"
                              url="/a/content/media-manager"
                              v-on:vdropzone-success="showSuccess">
                        <!-- Optional parameters if any! -->
                        <input type="hidden" name="type" value="gallery">
                    </dropzone>

                    <div class="row media-container" style="margin-top:30px;">

                        <div class="col-md-4 media-preview" v-for="asset in this.assets.gallery">
                            <div class="thumbnail">
                                <a href="#" class="btn btn-danger pull-right hover-visible" style="position:absolute;margin:5px;" @click.prevent="deleteMedia(asset)"><i class="fa fa-trash"></i></a>
                                <img :src="asset.path" :alt="asset.filename" class="img-responsive" style="width:auto;max-height:200px;display:block;">
                                <div class="caption">

                                    <form method="post" @submit.prevent="saveAltText">

                                        <div class="form-group">
                                            <label>Filename</label>
                                            <input class="form-control" :value="asset.filename" name="filename" disabled type="text">
                                        </div>

                                        <div class="form-group">
                                            <label>Alt Text</label>
                                            <div class="input-group">
                                                <input type="hidden" name="id" :value="asset.id">
                                                <input class="form-control" v-model="asset.alt_text" :disabled="busy == asset.id" name="alt_text" placeholder="Alt text" type="text">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="submit" :disabled="busy == asset.id"> <i v-if="busy != asset.id" class="fa fa-save"></i> <i
                                                            v-if="busy == asset.id" class="fa fa-spinner fa-spin"></i> </button>
                                                </span>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <confirm-popup :message="deleteAssetMessage" v-if="showModal" @confirm="confirmDelete" @reject="closePopup"></confirm-popup>
    </div>

</template>

<style src="../fade.css"></style>

<script>

    import Dropzone from 'vue2-dropzone'
    import Form from 'acacha-forms'

    export default {
        data: function () {

            return {
                form: null,
                assets: this.assetList,
                busy: 0,
                activeAsset: {},
                deleteAssetMessage: '',
                showModal: false,
            }
        },
        components: {
            dropzone: Dropzone
        },
        props: [
            'assetList'
        ],
        mounted: function(){
            console.log(this.assets);
        },
        watch: {

        },
        methods: {
            'showSuccess': function (file) {
                var res = JSON.parse(file.xhr.response);
                this.$refs['dropzone'+res.asset.type].removeFile(file);
                if(this.assets[res.asset.type]) {
                    this.assets[res.asset.type].unshift({filename: res.asset.filename, path: res.asset.path, id: res.asset.id, type: res.asset.type});
                    this.$forceUpdate();
                    console.log( 'View updated!' );
                }
                window.toastr.success('Media uploaded', res.asset.filename);
            },
            'saveAltText': function(e){
                this.busy = e.target[1].value;

                this.form = new Form({id: e.target[1].value, alt_text: e.target[2].value});

                this.form.post('/a/content/media-manager/save-alt')
                    .then(response => {
                        var component = this;
                        this.busy = 0;
                        window.toastr.success('Alt text saved', 'Success');
                    })
                    .catch(error => {
                        this.busy = 0;
                        console.log(this.trans('message.loginerror') + ':' + error)
                    })
            },
            deleteMedia: function(asset){
                console.log("deleting image ");
                this.activeAsset = asset;
                this.deleteAssetMessage = 'Are you sure to delete "' + asset.filename + '"?';
                this.showModal = true;
            },
            closePopup() {
                this.showModal = false;
            },
            confirmDelete() {
                const vm = this;
                this.busy = true;
                this.showModal = false;
                axios.delete('/a/content/media-manager/delete/' + this.activeAsset.id)
                    .then(response => {
                        vm.busy = false;
                        if(response.data.success) {
                            //TODO: Remove console.log()
                            console.log( this.activeAsset.type );
                            this.assets[this.activeAsset.type].forEach((item, index) => {
                                if(item.id === this.activeAsset.id) {
                                    this.assets[this.activeAsset.type].splice(index, 1);
                                }
                            });
                            this.$forceUpdate();
                            console.log( 'View updated!' );
                            window.toastr.success('Asset removed successfully', 'Deleted');
                        } else {
                            window.toastr.warning('Delete failed', response.data.message);
                        }
                    })
                    .catch(error => {
                        this.busy = false;
                    })
            },
        }
    }

</script>
