<template>
    <!--<div v-if="!success">-->
    <div class="main-copy">
        <form method="post" @submit.prevent="submit" @keydown="clearErrors($event.target.name)"
              class="form-horizontal gbf-form col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1">
            <div :class="[{ 'has-error': form.errors.has('name') }]"
                 v-for="field in fields">
                <div class="form-group has-feedback"
                     v-show="!field.showIf || field.showIf === form.nature_of_enquiry"
                     :class="[{ 'has-error': form.errors.has('name') }]">
                    <label class="col-sm-7 control-label" v-if="field.type != 'boolean'"
                           :for="field.id">{{ field.name }} <sup v-if="field.required">*</sup></label>

                    <div class="col-sm-5">
                        <template v-if="field.type == 'text'">
                            <input type="text" class="form-control" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'textarea'">
                                    <textarea class="form-control"
                                              :name="field.id" v-model="form[field.id]"
                                              :id="field.id" :required="field.required"
                                              rows="3"></textarea>
                        </template>

                        <template v-if="field.type == 'number'">
                            <input class="form-control" type="number" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'email'">
                            <input type="email" class="form-control" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'password'">
                            <input type="password" class="form-control" placeholder="" :name="field.id"
                                   v-model="form[field.id]" :id="field.id"
                                   :required="field.required" autofocus/>
                        </template>

                        <template v-if="field.type == 'select'">
                            <select class="selectpicker show-tick" :id="field.id" :name="field.id"
                                    v-model="form[field.id]" title="Please select"
                                    :required="field.required"
                                    :multiple="!!field.multiple"
                                    data-width="100%">
                                <option :value="option.value" v-for="option in field.values">
                                    {{ option.text }}
                                </option>
                            </select>
                        </template>

                        <template v-if="field.type == 'boolean'">
                            <p v-if="field.title">{{field.title}}</p>
                            <label class="checkbox-area" :for="field.id">
                                <input type="checkbox" :id="field.id" :name="field.id"
                                       :required="field.required"
                                       v-model="form[field.id]" value="0"/> {{field.name}}
                            </label>

                        </template>

                        <template v-if="field.type == 'asset'">
                            <div class="fileinput fileinput-new input-group" name="upload"
                                 data-provides="fileinput"
                                 :id="field.id">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename"></span>
                                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                                <span class="fileinput-new">upload</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" :required="field.required" :name="field.id"
                                                       @change="onFileChange">
                                            </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                                   data-dismiss="fileinput">Remove</a>
                            </div>
                        </template>
                    </div>
                    <transition name="fade">
                                    <span class="help-block" :id="field.id" v-if="form.errors.has(field.id)">
                                        <span class="text-danger">{{ form.errors.get(field.id) }}</span>
                                    </span>
                    </transition>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-5">
                    <button type="submit" class="btn btn-default" :disabled="busy">submit</button>
                </div>
            </div>

        </form>
        <bootstrap-modal ref="uicModal" :needHeader="true" :needFooter="false" :id="'feedback-modal'">
            <div slot="title">
                <h4 class="modal-title">THANK YOU FOR YOUR INTEREST</h4>
            </div>
            <div slot="body">
                <p>We are currently reviewing your query and will be in touch within the next 24 hours.</p>
                <p>Please note, if you have applied to attend the event you will receive confirmation of your place within 1 week of application. </p>
            </div>
            <div slot="footer">
            </div>
        </bootstrap-modal>
    </div>
</template>


<style src="../fade.css"></style>

<script>

    import Form from 'acacha-forms'
    import initialitzeIcheck from '../InitializeIcheck'
    import redirect from '../redirect'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [initialitzeIcheck, redirect],
        components: {
            BootstrapModal: BootstrapModal
        },
        data: function () {
            return {
                busy: false,
                success: false,
                form: new Form({
                    nature_of_enquiry: '',
                    first_name: '',
                    last_name: '',
                    job_title: '',
                    company: '',
                    countries_operate: [],
                    website: '',
                    country: '',
                    industry: '',
                    email: '',
                    comments: '',
                }),
                fields: [
                    {
                        id: "nature_of_enquiry",
                        name: "Nature of Enquiry ",
                        type: "select",
                        required: true,
                        values: [
                            // {
                            //     value: 'Request to Attend',
                            //     text: 'Request to Attend'
                            // },
                            {
                                value: 'Sponsorship Enquiry',
                                text: 'Sponsorship Enquiry'
                            },
                            {
                                value: 'General Enquiry',
                                text: 'General Enquiry'
                            },
                            {
                                value: 'Media Partnerships',
                                text: 'Media Partnerships'
                            }
                        ]
                    },
                    {
                        id: "first_name",
                        name: "First Name",
                        type: "text",
                        required: true
                    },
                    {
                        id: "last_name",
                        name: "Last Name",
                        type: "text",
                        required: true
                    },
                    {
                        id: "job_title",
                        name: "Job Title",
                        type: "text",
                        required: true,
                    },
                    {
                        id: "company",
                        name: "Company Name",
                        type: "text",
                        required: true,
                    },
                    {
                        id: "countries_operate",
                        name: "Countries you operate in",
                        type: "select",
                        multiple: true,
                        required: true,
                        showIf: 'Request to Attend',
                        values: []
                    },
                    {
                        id: "country",
                        name: "Country you are based in",
                        type: "select",
                        required: true,
                        showIf: 'Request to Attend',
                        values: []
                    },
                    {
                        id: "website",
                        name: "Website",
                        required: true,
                        showIf: 'Request to Attend',
                        type: "text",
                    },
                    {
                        id: "industry",
                        name: "Industry",
                        required: true,
                        showIf: 'Request to Attend',
                        type: "text",
                    },
                    {
                        id: "email",
                        name: "Email Address",
                        type: "text",
                        required: true,
                    },
                    {
                        id: "comments",
                        name: "Comments",
                        type: "textarea",
                    },
                ]
            }
        },
        props: {
            counties: {
                type: Array,
            },
            natureOfEnquiry: {
                type: Array
            }
        },
        computed: {
        },
        created: function () {
            const delegate = this.delegate;

            this.fields.forEach((v) => {
                let defVal = '';
                if(v.type === 'select') {
                    if (v.id === 'countries_operate') {
                        defVal = [];
                    }
                }
                this.form[v.id] = (delegate && delegate.hasOwnProperty(v.id) ? delegate[v.id] : defVal);
                if (v.id === 'countries_operate' || v.id === 'country') {
                    v.values = this.counties;
                }
                if (v.id === 'nature_of_enquiry' && this.natureOfEnquiry && this.natureOfEnquiry.length) {
                    v.values = this.natureOfEnquiry.map((val, index) => {
                        return {
                            value: val,
                            text: val
                        }
                    });
                }
            });
        },
        methods: {
            submit(e) {
                const vm = this;

                this.busy = true;

                this.form.post(window.location.href)
                    .then(response => {
                        vm.busy = false;
                        if (response.data.success) {
                            this.openModal();
                            this.success = true;
                            this.resetForm();
                        } else {
                            //TODO: Remove console.log()
                            console.log(response);
                            window.toastr.warning('Something went wrong', 'Failed');
                        }
                    })
                    .catch(error => {
                        vm.busy = false;

                        console.log(error);

                        if (error.response.status === 422) {
                            window.toastr.warning('Please fill all required fields', 'Registration failed');
                        } else {
                            window.toastr.warning('Failed', error);
                        }

                    })
            },
            clearErrors(name) {
                if (name === 'password') {
                    this.form.errors.clear('password');
                    name = this.name
                }
                this.form.errors.clear(name)
            },
            classValue(field) {
                return 'col-md-' + (field.column || 12)
            },
            resetForm() {
                let defaults = this.form.originalFields;
                Object.keys(defaults).forEach((key, index) => {
                    this.form[key] = defaults[key];
                });
            },
            openModal() {
                this.$refs.uicModal.open();
            }
        }
    }

</script>
