<template>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Conference Days</h3>

            <button class="btn btn-xs btn-success pull-right" @click="addDay">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add a Day
            </button>

        </div>
        <div class="box-body">


            <div class="speaker-table">


                <vue-bootstrap-table
                        :columns="columns"
                        :values="dayValues"
                        :show-filter="false"
                        :show-column-picker="false"
                        :sortable="true"
                        :paginated="false"
                        :row-click-handler=rowClick
                        :multi-column-sortable=true>
                </vue-bootstrap-table>



                <bootstrap-modal ref="editModal" :needHeader="true" :needFooter="false" id="editSpeakerModal">
                    <div slot="title">
                        {{ modalObj.title }}
                    </div>
                    <div slot="body">

                        <day-form
                                :dayData="day"
                                :conference="conference"
                                @updateTable="updateTable"
                        >
                        </day-form>

                    </div>
                    <div slot="footer">

                    </div>
                </bootstrap-modal>
            </div>


        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</template>

<script>

    import VueBootstrapTable from 'vue2-bootstrap-table2'
    import BootstrapModal from 'vue2-bootstrap-modal'

    export default {
        mixins: [],
        data: function () {

            return {
                busy: false,
                selectedConference: null,

                day: {},
                reInitMap: true,

                columns: [
                    {title: 'id', name: 'id'},
                    {title: 'Name', name: 'name', visible: true},
                    {title: 'Date', name: 'date', visible: true},
                ],
                dayValues: this.days,
                modalObj: {
                    title: ''
                }
            }
        },
        components: {
            VueBootstrapTable: VueBootstrapTable,
            BootstrapModal: BootstrapModal
        },
        props: [
            'conference',
            'days'
        ],
        methods: {
            openEditModal: function () {
                this.$refs.editModal.open();
            },
            rowClick: function (e, r) {
                if (r.id > 0)
                {
                    this.day = r;
                    this.modalObj.title = 'Edit day: ' + this.day.name;

                    this.openEditModal();
                }
            },
            addDay: function()
            {
                this.day = {};
                this.modalObj.title = 'Add new day to conference';
                this.openEditModal();
            },
            updateTable: function(val)
            {
                axios.get('/a/meeting-management/days/get-days-ajax')
                    .then(data => {
                        this.dayValues = data.data;
                    })
            }
        },
        created: function(){
            console.log('days', this.days);
        }
    }

</script>
